In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)

In [3]:
df=pd.read_excel('flats.xlsx')
df.sample(1)

,property_name,link,society,price,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
2962,3 BHK Flat in Sector 104 Gurgaon,https://www.99acres.com/3-bhk-bedroom-apartmen...,Godrej Summit3.7 ★,1.2 Crore,"₹ 8,298/sq.ft.",Carpet area: 1446 (134.34 sq.m.),3 Bedrooms,2 Bathrooms,3+ Balconies,"Study Room,Pooja Room","Sector 104 Gurgaon, Gurgaon, Haryana",16th of 18 Floors,NaN,1 to 5 Year Old,"['MG Road Metro Station', 'The Esplanade Mall'...","Ready to move fully furnished 2.5 bhk flat, pa...","['1 Water Purifier', '8 Fan', '1 Exhaust Fan',...","['Water purifier', 'Security / Fire Alarm', 'F...","['Management3 out of 5', 'Green Area4.5 out of...",S51643710

In [4]:
df.shape

(3009, 20)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3009 entries, 0 to 3008
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    3009 non-null   object
 1   link             3009 non-null   object
 2   society          3008 non-null   object
 3   price            3008 non-null   object
 4   area             2997 non-null   object
 5   areaWithType     3009 non-null   object
 6   bedRoom          3009 non-null   object
 7   bathroom         3009 non-null   object
 8   balcony          3009 non-null   object
 9   additionalRoom   1695 non-null   object
 10  address          3003 non-null   object
 11  floorNum         3007 non-null   object
 12  facing           2128 non-null   object
 13  agePossession    3008 non-null   object
 14  nearbyLocations  2914 non-null   object
 15  description      3009 non-null   object
 16  furnishDetails   2204 non-null   object
 17  features         2595 non-null   object
 18  rating           2677 non-null   object
 19  property_id      3009 non-null   object
dtypes: object(20)
memory usage: 470.3+ KB

In [6]:
df.duplicated().sum()

np.int64(0)

In [7]:
df.isnull().sum()

property_name         0
link                  0
society               1
price                 1
area                 12
areaWithType          0
bedRoom               0
bathroom              0
balcony               0
additionalRoom     1314
address               6
floorNum              2
facing              881
agePossession         1
nearbyLocations      95
description           0
furnishDetails      805
features            414
rating              332
property_id           0
dtype: int64

In [8]:
df.drop(columns=['link','property_id'],inplace=True)

In [9]:
df.head()

,property_name,society,price,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,maa bhagwati residency,45 Lac,"₹ 5,000/sq.ft.",Carpet area: 900 (83.61 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,NaN,"Krishna Colony, Gurgaon, Haryana",4th of 4 Floors,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,Apna Enclave,50 Lac,"₹ 7,692/sq.ft.",Carpet area: 650 (60.39 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,NaN,"46b, Ashok Vihar, Gurgaon, Haryana",1st of 3 Floors,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,Tulsiani Easy in Homes,40 Lac,"₹ 6,722/sq.ft.",Carpet area: 595 (55.28 sq.m.),2 Bedrooms,2 Bathrooms,3 Balconies,NaN,"Sohna, Gurgaon, Haryana",12nd of 14 Floors,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,Smart World Orchard,1.47 Crore,"₹ 12,250/sq.ft.",Carpet area: 1200 (111.48 sq.m.),2 Bedrooms,2 Bathrooms,2 Balconies,Study Room,"Sector 61 Gurgaon, Gurgaon, Haryana",2nd of 4 Floors,NaN,2023-12-01 00:00:00,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,2 BHK Flat in Sector 92 Gurgaon,Parkwood Westend,70 Lac,"₹ 5,204/sq.ft.",Super Built up area 1345(124.95 sq.m.),2 Bedrooms,2 Bathrooms,3 Balconies,Study Room,"Sector 92 Gurgaon, Gurgaon, Haryana",5th of 8 Floors,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ..."

In [10]:
df.rename(columns={'area':'price_per_sqft'},inplace=True)

In [11]:
df['society'].value_counts()

society
SS The Leaf3.8 ★                                     73
Tulip Violet4.3 ★                                    40
Shapoorji Pallonji Joyville Gurugram4.0 ★            39
Signature Global Park4.0 ★                           36
Shree Vardhman Victoria3.8 ★                         35
Tulip Violet4.2 ★                                    33
Emaar MGF Emerald Floors Premier3.8 ★                32
Smart World Gems                                     32
Smart World Orchard                                  32
Paras Dews                                           31
DLF The Ultima4.0 ★                                  31
DLF Regal Gardens3.9 ★                               30
M3M Woodshire4.0 ★                                   29
Shree Vardhman Flora3.8 ★                            29
La Vida by Tata Housing                              28
Godrej Nature Plus                                   27
Signature Global Solera3.7 ★                         27
BPTP Terra3.8 ★                                      25
Emaar Gurgaon Greens4.1 ★                            25
Eldeco Accolade3.8 ★                                 24
Experion The Heartsong3.9 ★                          24
Vatika Gurgaon 213.7 ★                               24
DLF New Town Heights 13.9 ★                          24
Bestech Park View Residency3.9 ★                     23
Emaar Palm Gardens4.1 ★                              22
ATS Triumph3.9 ★                                     22
Tata Primanti4.1 ★                                   22
M3M Heights                                          22
Sare Crescent Parc3.5 ★                              21
ROF Ananda                                           21
Experion Windchants3.8 ★                             20
Godrej 1014.0 ★                                      20
Sare Homes                                           19
Antriksh Heights3.7 ★                                19
ATS Tourmaline3.9 ★                                  18
CHD Avenue 713.6 ★                                   18
Supertech Araville                                   18
Mapsko Mount Ville4.1 ★                              18
Indiabulls Centrum Park3.7 ★                         18
Ambience Creacions                                   18
Sobha City                                           18
Conscient Heritage Max4.3 ★                          17
Godrej Summit3.7 ★                                   17
M3M Golfestate4.4 ★                                  17
M3M Skywalk                                          17
GLS Arawali Homes3.8 ★                               17
Pareena Coban Residences                             16
Bestech Park View Grand Spa4.3 ★                     16
HCBS Sports Ville3.6 ★                               16
M3M Merlin3.7 ★                                      16
Umang Monsoon Breeze                                 15
Ansal Heights 86                                     15
Godrej Oasis3.9 ★                                    15
Emaar MGF The Palm Drive4.1 ★                        15
Ireo Skyon4.0 ★                                      14
DLF The Primus3.9 ★                                  14
Indiabulls Enigma                                    14
Ramsons Kshitij3.7 ★                                 14
The Close North4.0 ★                                 14
Umang Winter Hills3.9 ★                              14
Imperia The Esfera                                   14
Ireo Victory Valley4.1 ★                             14
MVN Athens3.7 ★                                      14
Corona Optus3.9 ★                                    14
Vatika The Seven Lamps3.8 ★                          14
Orchid Petals4.1 ★                                   14
Ireo The Corridors                                   13
Puri Emerald Bay3.7 ★                                13
Central Park Flower Valley                           13
Bestech Park View Ananda4.2 ★                        13
DLF The Skycourt4.2 ★                                11
SBTL Caladium                                        11
M3M Soulitude                                        11
Adani M2K Oyster Grande3.9 ★                         11
TARC Maceo3.8 ★                                      11
Godrej Aria3.8 ★                                     11
Alpha Corp GurgaonOne 844.0 ★                        11
Raheja Vedaanta3.6 ★                                 11
Emaar MGF Palm Hills4.0 ★                            10
Breez Global Heights4.2 ★                            10
Pyramid Urban Homes 2                                10
Ramprastha The Edge Towers3.5 ★                      10
Signature Global Synera3.4 ★                         10
Breez Global Hill View                               10
Capital Residences 360                               10
Pivotal Devaan                                       10
ATS Kocoon                                           10
Godrej Air                                           10
DLF New Town Heights 24.0 ★                          10
Zara Aavaas                                          10
Puri Diplomatic Greens4.0 ★                          10
AIPL The Peaceful Homes3.9 ★                          9
Bestech Park View Sanskruti4.2 ★                      9
Parsvnath Green Ville3.9 ★                            9
Vatika City4.1 ★                                      9
Microtek Greenburg3.8 ★                               9
ILD Greens4.1 ★                                       9
Pareena Mi Casa                                       9
The Lions CGHS                                        8
Birla Navya                                           8
GLS Avenue 51                                         8
Tulip Ivory3.5 ★                                      8
Bestech Altura                                        8
Emaar Digihomes                                       8
Orris Aster Court Premier                             8
M3M Skycity                                           8
Vatika Lifestyle Homes3.8 ★                           8
ss                                                    8
AVL 36 Gurgaon3.7 ★                                   8
M3M Capital                                           8
Sare Crescent Parc Royal Greens Phase 1               7
Sare Green ParC Phase 3                               7
Signature Global City                                 7
Ansal Housing Highland Park                           7
AIPL Zen Residences                                   7
Trisara Our Homes 3                                   7
Assotech Blith                                        7
Ireo The Grand Arch4.0 ★                              7
Signature Global Orchard Avenue3.6 ★                  7
Vipul Lavanya3.9 ★                                    7
Emaar Imperial Gardens3.8 ★                           7
Signature Andour Heights3.8 ★                         7
Orris Carnation Residency3.7 ★                        7
Mapsko Casa Bella3.8 ★                                7
Ashiana Mulberry                                      6
Shapoorji Pallonji Joyville Gurugram                  6
HSIIDC Sidco Aravali                                  6
M3M Sierra 68                                         6
BPTP Astaire Gardens3.7 ★                             6
Sidhartha NCR One Phase 14.2 ★                        6
Pioneer Araya3.8 ★                                    6
Pyramid Urban                                         6
Kiran Residency                                       6
DLF Regency Park 13.6 ★                               6
Bestech Park View Spa Next4.0 ★                       6
Mapsko Royale Ville3.7 ★                              6
Bestech Park View City4.1 ★                           6
Supertech Hues                                        6
Suncity Vatsal Valley                                 6
Hero Homes                                            6
Parsvnath Exotica3.7 ★                                6
Signature Global Park 4                               6
Signature The Roselia3.6 ★                            6
Signature Global City 63A                             6
Vatika Sovereign Park                                 5
Emaar MGF Emerald Estate3.8 ★                         5
Krisumi Waterfall Residences                          5
Pareena Laxmi Apartments3.6 ★                         5
ATS Marigold                                          5
Central Park Resorts4.4 ★                             5
Signature Global City 37D Ph 2                        5
Central Park Flower Valley Aqua Front Towers          5
Vatika City Homes3.9 ★                                5
Signature Global the Millennia                        5
M3M The Marina4.0 ★                                   5
Conscient Elevate                                     5
Green Court3.7 ★                                      5
Adani Brahma Samsara Vilasa                           5
Greenopolis                                           5
DLF Park Place4.1 ★                                   5
Ireo Uptown4.1 ★                                      5
Signature Global City 81                              5
Ashiana Anmol3.5 ★                                    5
Signature Global Grand IVA3.9 ★                       5
Silverglades The Melia                                5
Apna Enclave                                          5
Signature Global City 92                              5
Godrej Habitat                                        5
Pioneer Park3.8 ★                                     5
Essel Towers                                          5
Satya The Hermitage3.5 ★                              5
DLF Regency Park 24.0 ★                               5
Raheja Navodaya3.6 ★                                  4
DLF The Skycourt                                      4
Corona Gracieux                                       4
Sare Petioles                                         4
SS The Coralwood3.4 ★                                 4
Ramprastha Skyz                                       4
Railway Officers RPF Society                          4
Godrej Icon                                           4
Tulip Monsella                                        4
Emaar Palm Heights                                    4
Global Hill View                                      4
Orris Aster Court                                     4
Signature The Serenas                                 4
ILD Grand                                             4
Krrish Provence Estate                                4
Tata Gurgaon Gateway3.8 ★                             4
Ramprastha Primera                                    4
Prime Habitat                                         4
Unitech Vistas                                        4
DLF New Town Heights3.7 ★                             4
Godrej Frontier3.7 ★                                  4
Lotus Homz4.0 ★                                       4
HSIIDC Sidco Shivalik Apartments3.8 ★                 4
Unitech Fresco3.8 ★                                   4
DLF Royalton Tower                                    3
Smriti Apartment                                      3
Mahindra Aura4.2 ★                                    3
SS Almeria                                            3
Brisk Lumbini Terrace Homes                           3
Shree Arihant Apartment                               3
Sukhshanti Apartment                                  3
Kendriya Vihar4.1 ★                                   3
Puri Diplomatic Greens3.9 ★                           3
Whiteland Blissville                                  3
Signature Global Solera 2                             3
Sunischit Apartments                                  3
Dhoot Time Residency4.0 ★                             3
Sare Green Parc 2                                     3
DLF Express Greens3.9 ★                               3
Unitech Sunbreeze                                     3
Vatika Xpressions                                     3
Spaze Privy AT43.9 ★                                  3
Siddhartha Apartment                                  3
ATS Kocoon4.2 ★                                       3
Spaze Privy3.9 ★                                      3
Raheja Revanta                                        3
Tulip Lemon3.9 ★                                      3
Conscient Habitat3.6 ★                                3
Essel Tower                                           3
Suncity Platinum Towers                               3
Guru Gram Haryana CGHS4.1 ★                           3
Piedmont Taksila heights3.6 ★                         3
Apex Our Homes                                        3
Pivotal Riddhi Siddhi                                 3
Krrish Florence Estate                                3
DLF Belvedere Towers3.8 ★                             3
Tulip Petals3.6 ★                                     3
Chintels Paradiso3.9 ★                                3
Ambience Lagoon3.9 ★                                  3
DLF Carlton Estate4.0 ★                               3
Paras Quartier                                        3
Unitech Heritage City                                 3
Sapphire Eighty Three                                 3
DLF The Grove                                         3
Tulip White3.5 ★                                      3
AIPL Club Residences                                  3
Vatika Independent Floors3.8 ★                        3
Deepak Minda                                          3
DLF The Arbour                                        3
Spaze Privvy The Address3.9 ★                         3
Sidhartha NCR One                                     3
Raheja Sampada                                        3
Shri Banke Bihari Society3.8 ★                        3
Maxworth City Residences                              3
The Roselia 2                                         3
Sidhartha NCR Greens4.3 ★                             3
AFNHB Jalvayu Vihar3.7 ★                              3
Bestech Park View City 23.9 ★                         3
Pyramid Elite                                         3
Satya Element One                                     3
Valley View Estate                                    3
Unitech Uniworld Gardens3.8 ★                         3
Adani Aangan Arcade                                   3
Shri Ram Apartments                                   3
Unitech The Residences3.7 ★                           3
Sare Green Parc                                       3
Raheja Atharva3.6 ★                                   3
Tulip Purple                                          3
Tulsiani Easy in Homes                                2
Landmark The Residency                                2
Vasant Appartments                                    2
Maruti Vihar                                          2
Sidhivinayak Apartments                               2
Bhagwati Sadan                                        2
Ambience Caitriona                                    2
Breeze Global Heights                                 2
Element One Service                                   2
Milan CGHS 9                                          2
Vipul World Floors                                    2
Apartment                                             2
Samaspurkunj                                          2
Residency Grand                                       2
Surendra Avenue 69                                    2
Silverglades Hightown Residences                      2
Dlf City                                              2
Shapoorji Pallonji Joyville                           2
Mittal Surya Vihar                                    2
Suposhaa Smartworld Orchard                           2
Park Royal Apartment                                  2
The Close South3.9 ★                                  2
Elan The Presidential                                 2
M3M Latitude                                          2
Pioneer Urban Presidia                                2
Lavanya Apartments                                    2
om appartments                                        2
Ganga Apartment                                       2
Ashiana Anmol                                         2
Godrej Nature Plus Serenity                           2
Suncity Avenue 76                                     2
Supertech Hill Town                                   2
NBCC Heights3.9 ★                                     2
BPTP Pedestal                                         2
MRG World Ultimus                                     2
Unitech Uniworld Gardens 23.4 ★                       2
Mahindra Luminare4.0 ★                                2
CGHS Airport Apartment                                2
Ansal API Celebrity Suites                            2
Green Campus CHS                                      2
Oriental Valley CHS                                   2
Puri The Aravallis                                    2
Aqua Front Towers                                     2
Sahara Grace                                          2
BPTP Freedom Park Life4.0 ★                           2
Housing Board Colony                                  2
HCBS Sports Ville                                     2
Adani Aangan Galleria                                 2
My Home                                               2
Ardee City3.8 ★                                       2
M3M Urbana                                            2
Today Callidora                                       2
Bestech Spa Signature                                 2
DLF The Icon3.7 ★                                     2
Ramprastha The Atrium3.4 ★                            2
Tulip Orange3.9 ★                                     2
Central Park 2 Bellevue                               2
Raheja Atlantis3.8 ★                                  2
Ansal API Esencia3.7 ★                                2
AWHO Shanti Vihar4.0 ★                                2
ROF Aalayas3.8 ★                                      2
M3M Sky Lofts                                         2
Signature Global The Millennia 3                      2
Orchid Island4.2 ★                                    2
Emaar MGF Palm Studios                                2
Suncity Heights3.7 ★                                  2
Ansal Heights3.2 ★                                    2
Mapsko Paradise3.9 ★                                  2
DLF The Crest3.6 ★                                    2
BPTP Mansions Park Prime                              2
Vatika Emilia Floors3.7 ★                             2
Tulip Violet                                          2
Tulip Leaf                                            2
Viridian The Plaza 106                                2
The Penthouses at the Hibiscus                        2
M3M Ikonic                                            2
Ramprastha City                                       2
Supertech Hilltown                                    2
Bestech Park View Sanskruti4.1 ★                      2
Emaar MGF The Enclave                                 2
Palam Vihar Society                                   2
Vatika INXT Floors                                    2
Vipul Belmonte3.9 ★                                   2
Professors Enclave CGHS                               2
Raheja Vanya                                          2
BPTP Amstoria3.8 ★                                    2
Suncity Avenue 1023.9 ★                               2
DLF The Belaire3.9 ★                                  2
SS Hibiscus                                           2
Paras Irene3.7 ★                                      2
lagoon apartment                                      2
Jammu and Kashmir Bank Employees CGHS3.7 ★            2
Ramprasta AWHO                                        1
signature global rosellia                             1
CGHS Rail Vihar4.0 ★                                  1
The Cocoon                                            1
takshila heights sector 37 c                          1

In [12]:
df['society'].value_counts().shape

(637,)

In [13]:
# removing digits , rating , optional space from society attribute and converting to lowercase
import re

df['society'] = df['society'].apply(
    lambda name: re.sub(r'\d+(\.\d+)?\s?★', '', name).strip().lower() if pd.notnull(name) else name
)

In [14]:
df['society'].value_counts()

society
tulip violet                                     75
ss the leaf                                      74
shapoorji pallonji joyville gurugram             45
dlf new town heights                             38
signature global park                            36
shree vardhman victoria                          35
emaar mgf emerald floors premier                 32
smart world gems                                 32
smart world orchard                              32
paras dews                                       31
dlf the ultima                                   31
dlf regal gardens                                30
m3m woodshire                                    30
shree vardhman flora                             29
la vida by tata housing                          28
godrej nature plus                               27
signature global solera                          27
emaar gurgaon greens                             25
bptp terra                                       25
vatika gurgaon                                   24
experion the heartsong                           24
eldeco accolade                                  24
bestech park view residency                      23
tata primanti                                    22
m3m heights                                      22
ats triumph                                      22
emaar palm gardens                               22
rof ananda                                       21
sare crescent parc                               21
godrej                                           21
experion windchants                              20
sare homes                                       19
antriksh heights                                 19
mapsko mount ville                               18
ambience creacions                               18
ats tourmaline                                   18
indiabulls centrum park                          18
supertech araville                               18
chd avenue                                       18
m3m golfestate                                   18
m3m skywalk                                      18
sobha city                                       18
hcbs sports ville                                18
godrej summit                                    17
gls arawali homes                                17
conscient heritage max                           17
bestech park view grand spa                      16
pareena coban residences                         16
m3m merlin                                       16
ramsons kshitij                                  15
ansal heights 86                                 15
umang monsoon breeze                             15
emaar mgf the palm drive                         15
godrej oasis                                     15
dlf the skycourt                                 15
orchid petals                                    14
bestech park view ananda                         14
vatika the seven lamps                           14
ireo victory valley                              14
ireo skyon                                       14
mvn athens                                       14
imperia the esfera                               14
corona optus                                     14
indiabulls enigma                                14
the close north                                  14
umang winter hills                               14
dlf the primus                                   14
puri emerald bay                                 13
ats kocoon                                       13
ireo the corridors                               13
puri diplomatic greens                           13
central park flower valley                       13
dlf regency park                                 11
bestech park view sanskruti                      11
tarc maceo                                       11
sbtl caladium                                    11
raheja vedaanta                                  11
adani m2k oyster grande                          11
breez global heights                             11
alpha corp gurgaonone                            11
godrej aria                                      11
m3m soulitude                                    11
pyramid urban homes 2                            10
emaar mgf palm hills                             10
ild greens                                       10
godrej air                                       10
capital residences 360                           10
signature global synera                          10
ramprastha the edge towers                       10
zara aavaas                                      10
pivotal devaan                                   10
breez global hill view                           10
parsvnath green ville                             9
pareena mi casa                                   9
bestech park view city                            9
vatika city                                       9
aipl the peaceful homes                           9
microtek greenburg                                9
vatika lifestyle homes                            8
m3m skycity                                       8
gls avenue 51                                     8
bestech altura                                    8
birla navya                                       8
avl 36 gurgaon                                    8
ss                                                8
the lions cghs                                    8
emaar digihomes                                   8
orris aster court premier                         8
tulip ivory                                       8
m3m capital                                       8
sidhartha ncr one phase                           7
signature global orchard avenue                   7
sare crescent parc royal greens phase 1           7
trisara our homes 3                               7
assotech blith                                    7
signature global city                             7
ashiana anmol                                     7
ireo the grand arch                               7
ansal housing highland park                       7
signature andour heights                          7
mapsko casa bella                                 7
vipul lavanya                                     7
emaar imperial gardens                            7
sare green parc phase 3                           7
aipl zen residences                               7
orris carnation residency                         7
mapsko royale ville                               6
pyramid urban                                     6
hsiidc sidco aravali                              6
signature global park 4                           6
signature global city 63a                         6
signature the roselia                             6
ashiana mulberry                                  6
supertech hues                                    6
bptp astaire gardens                              6
kiran residency                                   6
suncity vatsal valley                             6
pioneer araya                                     6
bestech park view spa next                        6
parsvnath exotica                                 6
hero homes                                        6
green court                                       6
m3m sierra 68                                     6
signature global grand iva                        5
silverglades the melia                            5
essel towers                                      5
godrej habitat                                    5
vatika sovereign park                             5
ats marigold                                      5
adani brahma samsara vilasa                       5
krisumi waterfall residences                      5
conscient elevate                                 5
signature global city 37d ph 2                    5
vatika city homes                                 5
central park flower valley aqua front towers      5
greenopolis                                       5
unitech fresco                                    5
ireo uptown                                       5
dlf park place                                    5
pareena laxmi apartments                          5
satya the hermitage                               5
emaar mgf emerald estate                          5
signature global the millennia                    5
pioneer park                                      5
signature global city 92                          5
central park resorts                              5
m3m the marina                                    5
unitech uniworld gardens                          5
signature global city 81                          5
apna enclave                                      5
ild grand                                         4
unitech vistas                                    4
railway officers rpf society                      4
global hill view                                  4
sare petioles                                     4
corona gracieux                                   4
tulip monsella                                    4
ss the coralwood                                  4
essel tower                                       4
dlf the arbour                                    4
lotus homz                                        4
raheja navodaya                                   4
krrish provence estate                            4
orris aster court                                 4
emaar palm heights                                4
godrej icon                                       4
tata gurgaon gateway                              4
prime habitat                                     4
godrej frontier                                   4
hsiidc sidco shivalik apartments                  4
ramprastha primera                                4
signature the serenas                             4
kendriya vihar                                    4
afnhb jalvayu vihar                               4
ramprastha skyz                                   4
piedmont taksila heights                          3
krrish florence estate                            3
unitech sunbreeze                                 3
dlf belvedere towers                              3
ss almeria                                        3
dlf carlton estate                                3
aipl club residences                              3
tulip purple                                      3
raheja atharva                                    3
ambience lagoon                                   3
unitech heritage city                             3
paras quartier                                    3
sidhartha ncr greens                              3
pivotal riddhi siddhi                             3
dlf the grove                                     3
sukhshanti apartment                              3
dlf royalton tower                                3
sapphire eighty three                             3
tulip white                                       3
spaze privy                                       3
tulip lemon                                       3
shri banke bihari society                         3
guru gram haryana cghs                            3
sunischit apartments                              3
siddhartha apartment                              3
raheja sampada                                    3
conscient habitat                                 3
pyramid elite                                     3
spaze privy at                                    3
suncity platinum towers                           3
apex our homes                                    3
dhoot time residency                              3
deepak minda                                      3
brisk lumbini terrace homes                       3
sidhartha ncr one                                 3
sare green parc                                   3
shree arihant apartment                           3
adani aangan arcade                               3
mahindra aura                                     3
signature global solera 2                         3
bhagwati sadan                                    3
vatika independent floors                         3
whiteland blissville                              3
sare green parc 2                                 3
dlf express greens                                3
shri ram apartments                               3
valley view estate                                3
spaze privvy the address                          3
tulip petals                                      3
satya element one                                 3
the roselia 2                                     3
smriti apartment                                  3
chintels paradiso                                 3
raheja revanta                                    3
unitech the residences                            3
maxworth city residences                          3
vatika xpressions                                 3
today callidora                                   2
park royal apartment                              2
vasant appartments                                2
ramprastha the atrium                             2
maruti vihar                                      2
milan cghs 9                                      2
suposhaa smartworld orchard                       2
mittal surya vihar                                2
residency grand                                   2
ss residency                                      2
lavanya apartments                                2
element one service                               2
breeze global heights                             2
shapoorji pallonji joyville                       2
bptp pedestal                                     2
mrg world ultimus                                 2
mapsko paradise                                   2
om appartments                                    2
jammu and kashmir bank employees cghs             2
sidhivinayak apartments                           2
ambience caitriona                                2
surendra avenue 69                                2
vipul world floors                                2
apartment                                         2
dlf city                                          2
silverglades hightown residences                  2
landmark the residency                            2
samaspurkunj                                      2
ansal api esencia                                 2
shyam apartment                                   2
ardee city                                        2
supertech hilltown                                2
m3m sky lofts                                     2
rof aalayas                                       2
cghs airport apartment                            2
ansal api celebrity suites                        2
raheja atlantis                                   2
adani aangan galleria                             2
vatika inxt floors                                2
raheja vanya                                      2
palam vihar society                               2
m3m urbana                                        2
aqua front towers                                 2
sahara grace                                      2
central park 2 bellevue                           2
tulip orange                                      2
godrej nature plus serenity                       2
mahindra luminare                                 2
suncity avenue 76                                 2
supertech hill town                               2
lagoon apartment                                  2
the close south                                   2
emaar mgf emerald floors                          2
oriental valley chs                               2
m3m latitude                                      2
pioneer urban presidia                            2
elan the presidential                             2
housing board colony                              2
suncity heights                                   2
ansal heights                                     2
ganga apartment                                   2
nbcc heights                                      2
awho shanti vihar                                 2
signature global the millennia 3                  2
bptp mansions park prime                          2
ss hibiscus                                       2
green campus chs                                  2
emaar mgf the enclave                             2
tulip leaf                                        2
bestech spa signature                             2
viridian the plaza 106                            2
vatika emilia floors                              2
orchid island                                     2
ramprastha city                                   2
emaar mgf palm studios                            2
dlf the crest                                     2
dlf the icon                                      2
professors enclave cghs                           2
vipul belmonte                                    2
m3m ikonic                                        2
the penthouses at the hibiscus                    2
dlf the belaire                                   2
puri the aravallis                                2
suncity avenue                                    2
bptp amstoria                                     2
my home                                           2
shree shyam residency                             2
paras irene                                       2
bptp freedom park life                            2
tulsiani easy in homes                            2
rk tower                                          1
ss radiance residency                             1
ramshanti cooperative society                     1
smart world one                                   1
signature global orchard avenue 2                 1
the new people apartments                         1
the serenas                                       1
central park resort belgravia residences          1
apex builders                                     1
ompee k s residency                               1
bhawna cghs                                       1
sbr apartment                                     1
krishna apartment                                 1
lord krishna                                      1
central park flower valley cerise floors          1
ashok vihar phase 2                               1
sobha smriti apartments                           1
mittal cosmos executive apartments                1
ramprasta awho                                    1
aditya apartment                                  1
dlf trinity towers                                1
gokuldham society, bahadurgarh                    1
4s aradhya homes                                  1
unitech uniworld city                             1
hector trimurti heights                           1
emaar mgf palm terraces select                    1
.                                                 1
unitech harmony                                   1
maa bhagwati residency                            1
parkwood westend                                  1
signature global infinity mall                    1
the cocoon                                        1
divya apartments                                  1
the center court                                  1
uphaar residency 2                                1
wings apartment                                   1
emaar emerald hills                               1
ansal maple crescent                              1
professional society                              1
imt view society                                  1
mariners home                                     1
meditech apartment                                1

In [15]:
df['price'].value_counts()

price
1.25 Crore          79
1.1 Crore           61
1.4 Crore           60
1.2 Crore           59
1.5 Crore           59
90 Lac              58
1.3 Crore           57
95 Lac              53
2 Crore             51
1.75 Crore          47
1 Crore             46
1.6 Crore           43
1.35 Crore          41
1.55 Crore          40
1.9 Crore           40
1.65 Crore          38
75 Lac              38
1.7 Crore           37
1.8 Crore           37
80 Lac              36
2.2 Crore           34
50 Lac              33
1.15 Crore          33
85 Lac              31
1.45 Crore          31
1.05 Crore          30
40 Lac              29
60 Lac              29
2.5 Crore           29
45 Lac              26
2.1 Crore           26
65 Lac              25
2.35 Crore          23
1.85 Crore          23
35 Lac              23
3 Crore             22
70 Lac              21
55 Lac              20
2.25 Crore          20
3.5 Crore           19
2.4 Crore           18
2.3 Crore           18
30 Lac              17
2.65 Crore          16
1.38 Crore          15
2.6 Crore           15
2.45 Crore          14
2.15 Crore          14
3.4 Crore           14
92 Lac              13
2.7 Crore           13
82 Lac              13
78 Lac              13
1.32 Crore          13
3.25 Crore          13
38 Lac              13
1.95 Crore          12
42 Lac              12
2.8 Crore           12
1.42 Crore          12
5 Crore             12
Price on Request    11
88 Lac              11
32 Lac              11
1.08 Crore          11
25 Lac              11
28 Lac              10
1.12 Crore          10
26 Lac              10
2.55 Crore          10
1.78 Crore          10
87 Lac              10
1.28 Crore          10
1.68 Crore           9
2.05 Crore           9
3.45 Crore           9
4 Crore              9
1.72 Crore           9
22 Lac               9
99 Lac               9
2.85 Crore           9
36 Lac               9
20 Lac               8
1.54 Crore           8
1.76 Crore           8
98 Lac               8
6 Crore              8
1.18 Crore           8
6.5 Crore            8
4.25 Crore           8
1.26 Crore           8
2.75 Crore           8
3.2 Crore            8
48 Lac               8
86 Lac               8
27 Lac               8
56 Lac               8
1.99 Crore           7
79 Lac               7
46 Lac               7
72 Lac               7
2.9 Crore            7
1.19 Crore           7
1.27 Crore           7
3.3 Crore            7
39 Lac               7
3.7 Crore            7
1.02 Crore           7
1.36 Crore           7
97 Lac               7
1.29 Crore           7
1.49 Crore           6
37 Lac               6
1.01 Crore           6
1.07 Crore           6
96 Lac               6
5.5 Crore            6
1.51 Crore           6
1.34 Crore           6
43 Lac               6
1.13 Crore           6
4.1 Crore            6
71.5 Lac             6
3.65 Crore           6
54 Lac               6
3.05 Crore           6
1.39 Crore           6
1.14 Crore           6
3.35 Crore           6
1.59 Crore           6
21 Lac               6
1.16 Crore           6
3.9 Crore            6
2.95 Crore           6
1.98 Crore           6
1.62 Crore           5
1.83 Crore           5
68 Lac               5
1.92 Crore           5
64 Lac               5
4.5 Crore            5
93 Lac               5
1.44 Crore           5
24 Lac               5
1.69 Crore           5
1.91 Crore           5
1.43 Crore           5
1.17 Crore           5
2.22 Crore           5
1.82 Crore           5
1.79 Crore           5
2.78 Crore           5
2.29 Crore           5
49 Lac               5
1.33 Crore           5
2.12 Crore           5
1.93 Crore           5
1.24 Crore           5
66 Lac               5
6.75 Crore           5
3.75 Crore           5
29 Lac               5
1.47 Crore           5
58 Lac               4
89 Lac               4
1.23 Crore           4
6.15 Crore           4
67 Lac               4
5.9 Crore            4
62 Lac               4
7 Crore              4
4.85 Crore           4
5.25 Crore           4
1.37 Crore           4
73 Lac               4
36.5 Lac             4
33 Lac               4
1.64 Crore           4
3.6 Crore            4
4.3 Crore            4
1.22 Crore           4
31 Lac               4
1.66 Crore           4
3.1 Crore            4
74 Lac               4
41.5 Lac             4
28.5 Lac             4
2.09 Crore           4
1.71 Crore           4
1.73 Crore           4
1.58 Crore           4
1.31 Crore           4
3.95 Crore           4
1.77 Crore           4
1.52 Crore           4
1.48 Crore           4
5.6 Crore            4
47 Lac               3
2.08 Crore           3
69 Lac               3
94 Lac               3
2.01 Crore           3
1.57 Crore           3
1.88 Crore           3
84 Lac               3
83 Lac               3
64.5 Lac             3
2.51 Crore           3
51 Lac               3
5.8 Crore            3
1.63 Crore           3
4.2 Crore            3
72.5 Lac             3
1.09 Crore           3
4.8 Crore            3
2.28 Crore           3
3.49 Crore           3
91 Lac               3
1.21 Crore           3
2.36 Crore           3
34 Lac               3
1.67 Crore           3
3.8 Crore            3
2.03 Crore           3
1.04 Crore           3
3.15 Crore           3
3.85 Crore           3
2.33 Crore           3
2.79 Crore           3
1.41 Crore           3
52 Lac               3
2.24 Crore           3
4.75 Crore           3
41 Lac               2
2.41 Crore           2
4.26 Crore           2
14 Crore             2
2.02 Crore           2
2.91 Crore           2
27.75 Lac            2
52.56 Lac            2
4.55 Crore           2
11 Crore             2
7.5 Crore            2
27.1 Lac             2
2.04 Crore           2
25.5 Lac             2
5.7 Crore            2
2.58 Crore           2
2.14 Crore           2
56.2 Lac             2
31.5 Lac             2
3.55 Crore           2
98.5 Lac             2
87.5 Lac             2
59 Lac               2
88.5 Lac             2
71 Lac               2
4.7 Crore            2
4.45 Crore           2
3.29 Crore           2
1.56 Crore           2
2.99 Crore           2
2.26 Crore           2
2.13 Crore           2
2.17 Crore           2
8.5 Crore            2
8 Crore              2
1.46 Crore           2
53.5 Lac             2
2.52 Crore           2
2.23 Crore           2
6.2 Crore            2
4.49 Crore           2
3.32 Crore           2
3.21 Crore           2
4.6 Crore            2
1.87 Crore           2
77.5 Lac             2
53 Lac               2
2.87 Crore           2
2.57 Crore           2
5.2 Crore            2
99.5 Lac             1
3.83 Crore           1
6.16 Crore           1
5.3 Crore            1
2.72 Crore           1
2.98 Crore           1
66.99 Lac            1
2.48 Crore           1
89.5 Lac             1
2.21 Crore           1
97.04 Lac            1
3.23 Crore           1
94.5 Lac             1
82.5 Lac             1
3.99 Crore           1
9 Crore              1
2.44 Crore           1
7.9 Crore            1
6.02 Crore           1
29.8 Lac             1
61 Lac               1
54.8 Lac             1
3.98 Crore           1
2.54 Crore           1
15 Crore             1
39.5 Lac             1
4.02 Crore           1
7.8 Crore            1
1.97 Crore           1
price                1
3.87 Crore           1
4.95 Crore           1
5.31 Crore           1
5.4 Crore            1
55.6 Lac             1
98.1 Lac             1
2.63 Crore           1
95.75 Lac            1
3.46 Crore           1
3.19 Crore           1
3.67 Crore           1
8.25 Crore           1
4.63 Crore           1
4.4 Crore            1
29.5 Lac             1
68.85 Lac            1
98.88 Lac            1
3.78 Crore           1
37.5 Lac             1
2.69 Crore           1
4.78 Crore           1
3.63 Crore           1
80.5 Lac             1
68.5 Lac             1
85.5 Lac             1
93.75 Lac            1
94.25 Lac            1
4.79 Crore           1
31.75 Lac            1
55.5 Lac             1
2.37 Crore           1
23.5 Lac             1
27.5 Lac             1
2.82 Crore           1
54.99 Lac            1
7.15 Crore           1
35.5 Lac             1
10.75 Crore          1
4.94 Crore           1
1.06 Crore           1
2.11 Crore           1
5.75 Crore           1
6.1 Crore            1
8.35 Crore           1
81 Lac               1
26.1 Lac             1
9.14 Crore           1
20.5 Lac             1
17.5 Lac             1
24.5 Lac             1
10 Crore             1
29.99 Lac            1
79.9 Lac             1
23 Lac               1
71.2 Lac             1
11.25 Crore          1
6.3 Crore            1
5.49 Crore           1
2.97 Crore           1
1.11 Crore           1
6.44 Crore           1
7.56 Crore           1
4.67 Crore           1
4.86 Crore           1
2.62 Crore           1
90.5 Lac             1
52.5 Lac             1
53.2 Lac             1
42.5 Lac             1
2.61 Crore           1
65.5 Lac             1
6.25 Crore           1
2.77 Crore           1
47.5 Lac             1
4.16 Crore           1
4.52 Crore           1
1.74 Crore           1
9.3 Crore            1
4.21 Crore           1
97.5 Lac             1
2.64 Crore           1
2.49 Crore           1
63.4 Lac             1
2.06 Crore           1
2.07 Crore           1
44 Lac               1
2.32 Crore           1
1.86 Crore           1
85.75 Lac            1
8.44 Crore           1
1.84 Crore           1
13.2 Crore           1
2.92 Crore           1
2.38 Crore           1
5.15 Crore           1
16 Lac               1
49.5 Lac             1
9.2 Crore            1
9.95 Crore           1
86.99 Lac            1
87.99 Lac            1
37.1 Lac             1
2.86 Crore           1
7.4 Crore            1
86.92 Lac            1
64.45 Lac            1
2.34 Crore           1
3.79 Crore           1
3.39 Crore           1
94.99 Lac            1
88.4 Lac             1
3.72 Crore           1
57 Lac               1
95.5 Lac             1
96.07 Lac            1
19 Lac               1
70.85 Lac            1
7.52 Crore           1
40.3 Lac             1
32.5 Lac             1
2.96 Crore           1
1.53 Crore           1
26.9 Lac             1
26.5 Lac             1
73.53 Lac            1
89.77 Lac            1
62.5 Lac             1
Name: count, dtype: int64

In [16]:
# making the price column into the same unit

df=df[(df['price']!='Price on Request') & (df['price']!='price')]

In [17]:
def treat_price(x):
    if type(x) == float:
        return x
    else:
        if x[1] == 'Lac':
            return round(float(x[0])/100,2)
        else:
            return round(float(x[0]),2)

In [18]:
df['price'] = df['price'].str.split(' ').apply(treat_price)

/tmp/ipython-input-18-2678468864.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price'] = df['price'].str.split(' ').apply(treat_price)

In [19]:
df.head()

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,maa bhagwati residency,0.45,"₹ 5,000/sq.ft.",Carpet area: 900 (83.61 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,NaN,"Krishna Colony, Gurgaon, Haryana",4th of 4 Floors,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,apna enclave,0.50,"₹ 7,692/sq.ft.",Carpet area: 650 (60.39 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,NaN,"46b, Ashok Vihar, Gurgaon, Haryana",1st of 3 Floors,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,tulsiani easy in homes,0.40,"₹ 6,722/sq.ft.",Carpet area: 595 (55.28 sq.m.),2 Bedrooms,2 Bathrooms,3 Balconies,NaN,"Sohna, Gurgaon, Haryana",12nd of 14 Floors,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,smart world orchard,1.47,"₹ 12,250/sq.ft.",Carpet area: 1200 (111.48 sq.m.),2 Bedrooms,2 Bathrooms,2 Balconies,Study Room,"Sector 61 Gurgaon, Gurgaon, Haryana",2nd of 4 Floors,NaN,2023-12-01 00:00:00,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,2 BHK Flat in Sector 92 Gurgaon,parkwood westend,0.70,"₹ 5,204/sq.ft.",Super Built up area 1345(124.95 sq.m.),2 Bedrooms,2 Bathrooms,3 Balconies,Study Room,"Sector 92 Gurgaon, Gurgaon, Haryana",5th of 8 Floors,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ..."

In [20]:
#price_per_sqft
def clean_price(price):
    try:
        if isinstance(price, str):
            cleaned = price.split('/')[0]              # ₹ 5,000/sq.ft. → ₹ 5,000
            cleaned = cleaned.replace('₹', '')         # remove ₹
            cleaned = cleaned.replace(',', '')         # remove comma
            return float(cleaned.strip())              # convert to float
    except:
        return None
    return None

df['price_per_sqft'] = df['price_per_sqft'].apply(clean_price)

In [21]:
df.head()

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,maa bhagwati residency,0.45,5000.0,Carpet area: 900 (83.61 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,NaN,"Krishna Colony, Gurgaon, Haryana",4th of 4 Floors,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,apna enclave,0.50,7692.0,Carpet area: 650 (60.39 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,NaN,"46b, Ashok Vihar, Gurgaon, Haryana",1st of 3 Floors,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,tulsiani easy in homes,0.40,6722.0,Carpet area: 595 (55.28 sq.m.),2 Bedrooms,2 Bathrooms,3 Balconies,NaN,"Sohna, Gurgaon, Haryana",12nd of 14 Floors,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,smart world orchard,1.47,12250.0,Carpet area: 1200 (111.48 sq.m.),2 Bedrooms,2 Bathrooms,2 Balconies,Study Room,"Sector 61 Gurgaon, Gurgaon, Haryana",2nd of 4 Floors,NaN,2023-12-01 00:00:00,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,2 BHK Flat in Sector 92 Gurgaon,parkwood westend,0.70,5204.0,Super Built up area 1345(124.95 sq.m.),2 Bedrooms,2 Bathrooms,3 Balconies,Study Room,"Sector 92 Gurgaon, Gurgaon, Haryana",5th of 8 Floors,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ..."

In [22]:
df['areaWithType'].value_counts()

areaWithType
Super Built up area 1950(181.16 sq.m.)Carpet area: 1161 sq.ft. (107.86 sq.m.)                                                   17
Super Built up area 1350(125.42 sq.m.)                                                                                          17
Super Built up area 1578(146.6 sq.m.)                                                                                           17
Super Built up area 1650(153.29 sq.m.)Carpet area: 1022.58 sq.ft. (95 sq.m.)                                                    15
Super Built up area 2010(186.74 sq.m.)                                                                                          14
Super Built up area 2150(199.74 sq.m.)                                                                                          12
Super Built up area 1950(181.16 sq.m.)                                                                                          11
Carpet area: 1650 (153.29 sq.m.)                                                                                                11
Super Built up area 1920(178.37 sq.m.)                                                                                          10
Carpet area: 1150 (106.84 sq.m.)                                                                                                10
Super Built up area 1650(153.29 sq.m.)                                                                                          10
Super Built up area 1550(144 sq.m.)                                                                                             10
Carpet area: 1450 (134.71 sq.m.)                                                                                                 9
Carpet area: 1350 (125.42 sq.m.)                                                                                                 9
Carpet area: 489 (45.43 sq.m.)                                                                                                   9
Super Built up area 1640(152.36 sq.m.)                                                                                           9
Super Built up area 1828(169.83 sq.m.)                                                                                           9
Super Built up area 1366(126.91 sq.m.)                                                                                           8
Carpet area: 2400 (222.97 sq.m.)                                                                                                 8
Carpet area: 750 (69.68 sq.m.)                                                                                                   8
Super Built up area 1760(163.51 sq.m.)Built Up area: 1186 sq.ft. (110.18 sq.m.)Carpet area: 1130 sq.ft. (104.98 sq.m.)           8
Carpet area: 1950 (181.16 sq.m.)                                                                                                 8
Carpet area: 900 (83.61 sq.m.)                                                                                                   8
Carpet area: 1800 (167.23 sq.m.)                                                                                                 8
Super Built up area 3400(315.87 sq.m.)                                                                                           7
Carpet area: 1600 (148.64 sq.m.)                                                                                                 7
Carpet area: 1300 (120.77 sq.m.)                                                                                                 7
Super Built up area 1415(131.46 sq.m.)                                                                                           7
Super Built up area 1930(179.3 sq.m.)                                                                                            7
Super Built up area 2408(223.71 sq.m.)                                                                                           7
Super Built up area 2200(204.39 sq.m.)                                                                                           7
Carpet area: 2300 (213.68 sq.m.)                                                                                                 7
Carpet area: 1760 (163.51 sq.m.)                                                                                                 7
Super Built up area 2364(219.62 sq.m.)                                                                                           7
Super Built up area 2350(218.32 sq.m.)                                                                                           7
Carpet area: 1103 (102.47 sq.m.)                                                                                                 7
Super Built up area 2100(195.1 sq.m.)                                                                                            7
Super Built up area 1200(111.48 sq.m.)                                                                                           7
Super Built up area 1538(142.88 sq.m.)                                                                                           7
Super Built up area 3150(292.64 sq.m.)                                                                                           6
Super Built up area 2727(253.35 sq.m.)                                                                                           6
Carpet area: 1423 (132.2 sq.m.)                                                                                                  6
Carpet area: 822 (76.37 sq.m.)                                                                                                   6
Carpet area: 700 (65.03 sq.m.)                                                                                                   6
Carpet area: 1326 (123.19 sq.m.)                                                                                                 6
Super Built up area 2812(261.24 sq.m.)                                                                                           6
Super Built up area 1572(146.04 sq.m.)                                                                                           6
Super Built up area 1750(162.58 sq.m.)                                                                                           6
Super Built up area 2215(205.78 sq.m.)                                                                                           6
Super Built up area 1568(145.67 sq.m.)                                                                                           6
Super Built up area 2290(212.75 sq.m.)                                                                                           6
Super Built up area 2000(185.81 sq.m.)                                                                                           5
Super Built up area 1875(174.19 sq.m.)                                                                                           5
Super Built up area 1975(183.48 sq.m.)                                                                                           5
Super Built up area 2149(199.65 sq.m.)                                                                                           5
Carpet area: 645 (59.92 sq.m.)                                                                                                   5
Carpet area: 1975 (183.48 sq.m.)                                                                                                 5
Super Built up area 1480(137.5 sq.m.)                                                                                            5
Super Built up area 1360(126.35 sq.m.)                                                                                           5
Super Built up area 1000(92.9 sq.m.)                                                                                             5
Super Built up area 1245(115.66 sq.m.)                                                                                           5
Super Built up area 1565(145.39 sq.m.)                                                                                           5
Carpet area: 1050 (97.55 sq.m.)                                                                                                  5
Super Built up area 2025(188.13 sq.m.)                                                                                           5
Super Built up area 1457(135.36 sq.m.)Carpet area: 849 sq.ft. (78.87 sq.m.)                                                      5
Super Built up area 1215(112.88 sq.m.)                                                                                           5
Carpet area: 2000 (185.81 sq.m.)                                                                                                 5
Super Built up area 1960(182.09 sq.m.)                                                                                           5
Built Up area: 700 (65.03 sq.m.)                                                                                                 5
Super Built up area 1700(157.94 sq.m.)                                                                                           5
Super Built up area 1970(183.02 sq.m.)                                                                                           5
Carpet area: 850 (78.97 sq.m.)                                                                                                   5
Super Built up area 1435(133.32 sq.m.)                                                                                           5
Super Built up area 2812(261.24 sq.m.)Built Up area: 2600 sq.ft. (241.55 sq.m.)Carpet area: 2400 sq.ft. (222.97 sq.m.)           5
Carpet area: 450 (41.81 sq.m.)                                                                                                   5
Carpet area: 600 (55.74 sq.m.)                                                                                                   5
Super Built up area 1997(185.53 sq.m.)                                                                                           5
Super Built up area 1850(171.87 sq.m.)                                                                                           5
Carpet area: 1200 (111.48 sq.m.)                                                                                                 5
Super Built up area 2545(236.44 sq.m.)                                                                                           4
Super Built up area 1365(126.81 sq.m.)                                                                                           4
Super Built up area 1942(180.42 sq.m.)                                                                                           4
Carpet area: 800 (74.32 sq.m.)                                                                                                   4
Built Up area: 1350 (125.42 sq.m.)                                                                                               4
Carpet area: 1225 (113.81 sq.m.)                                                                                                 4
Super Built up area 1727(160.44 sq.m.)Carpet area: 1017 sq.ft. (94.48 sq.m.)                                                     4
Built Up area: 2040 (189.52 sq.m.)                                                                                               4
Super Built up area 2191(203.55 sq.m.)                                                                                           4
Super Built up area 1385(128.67 sq.m.)Built Up area: 940 sq.ft. (87.33 sq.m.)Carpet area: 845 sq.ft. (78.5 sq.m.)                4
Super Built up area 600(55.74 sq.m.)                                                                                             4
Super Built up area 1310(121.7 sq.m.)                                                                                            4
Super Built up area 1790(166.3 sq.m.)                                                                                            4
Super Built up area 1900(176.52 sq.m.)Carpet area: 1240.04 sq.ft. (115.2 sq.m.)                                                  4
Carpet area: 1400 (130.06 sq.m.)                                                                                                 4
Super Built up area 2000(185.81 sq.m.)Built Up area: 1900 sq.ft. (176.52 sq.m.)Carpet area: 1800 sq.ft. (167.23 sq.m.)           4
Super Built up area 650(60.39 sq.m.)                                                                                             4
Super Built up area 1261(117.15 sq.m.)                                                                                           4
Super Built up area 2355(218.79 sq.m.)Built Up area: 1535 sq.ft. (142.61 sq.m.)Carpet area: 1403 sq.ft. (130.34 sq.m.)           4
Super Built up area 1081(100.43 sq.m.)                                                                                           4
Super Built up area 1725(160.26 sq.m.)                                                                                           4
Super Built up area 2358(219.07 sq.m.)                                                                                           4
Super Built up area 1900(176.52 sq.m.)                                                                                           4
Super Built up area 1300(120.77 sq.m.)                                                                                           4
Super Built up area 1430(132.85 sq.m.)                                                                                           4
Super Built up area 2400(222.97 sq.m.)                                                                                           4
Carpet area: 1250 (116.13 sq.m.)                                                                                                 4
Super Built up area 1100(102.19 sq.m.)                                                                                           4
Super Built up area 1825(169.55 sq.m.)                                                                                           4
Carpet area: 1549 (143.91 sq.m.)                                                                                                 4
Super Built up area 1103(102.47 sq.m.)                                                                                           4
Carpet area: 481.73 (44.75 sq.m.)                                                                                                4
Super Built up area 1900(176.52 sq.m.)Built Up area: 1600 sq.ft. (148.64 sq.m.)Carpet area: 1240.04 sq.ft. (115.2 sq.m.)         4
Super Built up area 2802(260.31 sq.m.)Built Up area: 2225.56 sq.ft. (206.76 sq.m.)                                               4
Carpet area: 501 (46.54 sq.m.)                                                                                                   4
Carpet area: 1500 (139.35 sq.m.)                                                                                                 4
Super Built up area 1930(179.3 sq.m.)Built Up area: 1929 sq.ft. (179.21 sq.m.)Carpet area: 1928 sq.ft. (179.12 sq.m.)            4
Super Built up area 1457(135.36 sq.m.)                                                                                           4
Super Built up area 2095(194.63 sq.m.)                                                                                           4
Carpet area: 2290 (212.75 sq.m.)                                                                                                 4
Super Built up area 2950(274.06 sq.m.)                                                                                           4
Built Up area: 1103 (102.47 sq.m.)                                                                                               4
Super Built up area 1789(166.2 sq.m.)                                                                                            4
Carpet area: 1340 (124.49 sq.m.)                                                                                                 4
Super Built up area 1780(165.37 sq.m.)                                                                                           4
Carpet area: 366.08 (34.01 sq.m.)                                                                                                3
Carpet area: 690 (64.1 sq.m.)                                                                                                    3
Built Up area: 2400 (222.97 sq.m.)                                                                                               3
Super Built up area 915(85.01 sq.m.)                                                                                             3
Carpet area: 2298 (213.49 sq.m.)                                                                                                 3
Super Built up area 1743(161.93 sq.m.)                                                                                           3
Super Built up area 2000(185.81 sq.m.)Built Up area: 1900 sq.ft. (176.52 sq.m.)Carpet area: 1850 sq.ft. (171.87 sq.m.)           3
Carpet area: 576 (53.51 sq.m.)                                                                                                   3
Super Built up area 767(71.26 sq.m.)                                                                                             3
Super Built up area 1283(119.19 sq.m.)Built Up area: 978.23 sq.ft. (90.88 sq.m.)Carpet area: 734.43 sq.ft. (68.23 sq.m.)         3
Super Built up area 2120(196.95 sq.m.)Built Up area: 1616 sq.ft. (150.13 sq.m.)                                                  3
Super Built up area 2875(267.1 sq.m.)                                                                                            3
Carpet area: 2500 (232.26 sq.m.)                                                                                                 3
Carpet area: 950 (88.26 sq.m.)                                                                                                   3
Super Built up area 1505(139.82 sq.m.)                                                                                           3
Carpet area: 601 (55.83 sq.m.)                                                                                                   3
Carpet area: 1850 (171.87 sq.m.)                                                                                                 3
Super Built up area 2905(269.88 sq.m.)                                                                                           3
Super Built up area 1799(167.13 sq.m.)Carpet area: 1538 sq.ft. (142.88 sq.m.)                                                    3
Built Up area: 1780 (165.37 sq.m.)                                                                                               3
Built Up area: 1310 (121.7 sq.m.)                                                                                                3
Super Built up area 1490(138.43 sq.m.)Carpet area: 863.91 sq.ft. (80.26 sq.m.)                                                   3
Super Built up area 1095(101.73 sq.m.)                                                                                           3
Super Built up area 1755(163.04 sq.m.)                                                                                           3
Built Up area: 1423 (132.2 sq.m.)                                                                                                3
Super Built up area 2047(190.17 sq.m.)                                                                                           3
Super Built up area 1720(159.79 sq.m.)Carpet area: 1095.3 sq.ft. (101.76 sq.m.)                                                  3
Carpet area: 1750 (162.58 sq.m.)                                                                                                 3

In [23]:
df['bedRoom'].value_counts()

bedRoom
3 Bedrooms    1437
2 Bedrooms     944
4 Bedrooms     478
1 Bedroom      104
5 Bedrooms      31
6 Bedrooms       3
Name: count, dtype: int64

In [24]:
df=df[df['bedRoom']!='bedRoom']

In [25]:
df['bedRoom']=df['bedRoom'].str.split(' ').str.get(0).astype('int')

In [26]:
df['bathroom'].value_counts()

bathroom
2 Bathrooms    1044
3 Bathrooms     989
4 Bathrooms     636
5 Bathrooms     169
1 Bathroom      112
6 Bathrooms      42
7 Bathrooms       5
Name: count, dtype: int64

In [27]:
df['bathroom']=df['bathroom'].str.split(' ').str.get(0).astype('int')

In [28]:
df['balcony'].value_counts()

balcony
3 Balconies     974
3+ Balconies    862
2 Balconies     749
1 Balcony       315
No Balcony       97
Name: count, dtype: int64

In [54]:
df['balcony']=df['balcony'].str.get(0).str.replace('N','0')

In [55]:
df['balcony'].value_counts()

balcony
3    1836
2     749
1     315
0      97
Name: count, dtype: int64

In [30]:
df.head()

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,maa bhagwati residency,0.45,5000.0,Carpet area: 900 (83.61 sq.m.),2,2,1,NaN,"Krishna Colony, Gurgaon, Haryana",4th of 4 Floors,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,apna enclave,0.50,7692.0,Carpet area: 650 (60.39 sq.m.),2,2,1,NaN,"46b, Ashok Vihar, Gurgaon, Haryana",1st of 3 Floors,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,tulsiani easy in homes,0.40,6722.0,Carpet area: 595 (55.28 sq.m.),2,2,3,NaN,"Sohna, Gurgaon, Haryana",12nd of 14 Floors,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,smart world orchard,1.47,12250.0,Carpet area: 1200 (111.48 sq.m.),2,2,2,Study Room,"Sector 61 Gurgaon, Gurgaon, Haryana",2nd of 4 Floors,NaN,2023-12-01 00:00:00,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,2 BHK Flat in Sector 92 Gurgaon,parkwood westend,0.70,5204.0,Super Built up area 1345(124.95 sq.m.),2,2,3,Study Room,"Sector 92 Gurgaon, Gurgaon, Haryana",5th of 8 Floors,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ..."

In [31]:
df['additionalRoom'].value_counts()

additionalRoom
Servant Room                                     629
Study Room                                       232
Others                                           179
Pooja Room                                       132
Study Room,Servant Room                           81
Store Room                                        76
Pooja Room,Servant Room                           60
Servant Room,Others                               52
Servant Room,Pooja Room                           30
Study Room,Others                                 27
Pooja Room,Study Room,Servant Room,Others         25
Pooja Room,Study Room,Servant Room                24
Servant Room,Store Room                           19
Pooja Room,Study Room                             13
Pooja Room,Study Room,Servant Room,Store Room     12
Servant Room,Study Room                            8
Study Room,Pooja Room                              8
Study Room,Servant Room,Store Room                 7
Pooja Room,Servant Room,Others                     6
Servant Room,Study Room,Pooja Room,Store Room      6
Pooja Room,Store Room                              6
Others,Servant Room                                6
Pooja Room,Others                                  6
Study Room,Servant Room,Others                     5
Pooja Room,Study Room,Store Room                   4
Pooja Room,Store Room,Study Room,Servant Room      4
Study Room,Pooja Room,Store Room                   3
Store Room,Servant Room                            3
Servant Room,Pooja Room,Study Room,Store Room      3
Servant Room,Others,Pooja Room                     2
Study Room,Servant Room,Pooja Room,Store Room      2
Servant Room,Study Room,Store Room                 2
Study Room,Pooja Room,Servant Room                 2
Servant Room,Others,Store Room,Pooja Room          2
Pooja Room,Study Room,Others                       2
Store Room,Pooja Room,Servant Room                 1
Pooja Room,Study Room,Store Room,Servant Room      1
Pooja Room,Servant Room,Study Room,Store Room      1
Servant Room,Pooja Room,Store Room                 1
Study Room,Servant Room,Store Room,Pooja Room      1
Study Room,Servant Room,Pooja Room                 1
Servant Room,Pooja Room,Store Room,Study Room      1
Study Room,Store Room                              1
Store Room,Study Room                              1
Servant Room,Pooja Room,Study Room                 1
Servant Room,Study Room,Pooja Room                 1
Others,Study Room                                  1
Servant Room,Study Room,Others                     1
Store Room,Pooja Room                              1
Name: count, dtype: int64

In [32]:
df['additionalRoom'].isnull().sum()

np.int64(1305)

In [33]:
df['additionalRoom'].fillna('not available',inplace=True)

/tmp/ipython-input-33-1615843200.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['additionalRoom'].fillna('not available',inplace=True)

In [34]:
df['additionalRoom']=df['additionalRoom'].str.lower()

In [35]:
df.head()

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,maa bhagwati residency,0.45,5000.0,Carpet area: 900 (83.61 sq.m.),2,2,1,not available,"Krishna Colony, Gurgaon, Haryana",4th of 4 Floors,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,apna enclave,0.50,7692.0,Carpet area: 650 (60.39 sq.m.),2,2,1,not available,"46b, Ashok Vihar, Gurgaon, Haryana",1st of 3 Floors,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,tulsiani easy in homes,0.40,6722.0,Carpet area: 595 (55.28 sq.m.),2,2,3,not available,"Sohna, Gurgaon, Haryana",12nd of 14 Floors,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,smart world orchard,1.47,12250.0,Carpet area: 1200 (111.48 sq.m.),2,2,2,study room,"Sector 61 Gurgaon, Gurgaon, Haryana",2nd of 4 Floors,NaN,2023-12-01 00:00:00,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,2 BHK Flat in Sector 92 Gurgaon,parkwood westend,0.70,5204.0,Super Built up area 1345(124.95 sq.m.),2,2,3,study room,"Sector 92 Gurgaon, Gurgaon, Haryana",5th of 8 Floors,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ..."

In [36]:
df['floorNum'].value_counts()

floorNum
2nd   of 4 Floors           74
3rd   of 4 Floors           71
4th   of 4 Floors           62
1st   of 4 Floors           61
12nd   of 14 Floors         49
14th   of 14 Floors         48
Ground of 14 Floors         40
10th   of 14 Floors         35
7th   of 14 Floors          35
8th   of 14 Floors          34
4th   of 14 Floors          28
6th   of 14 Floors          27
2nd   of 2 Floors           26
1st   of 14 Floors          26
3rd   of 3 Floors           26
8th   of 19 Floors          24
5th   of 14 Floors          24
3rd   of 14 Floors          24
1st   of 1 Floors           23
9th   of 9 Floors           23
9th   of 14 Floors          23
11st   of 14 Floors         23
2nd   of 3 Floors           22
5th   of 12 Floors          22
2nd   of 14 Floors          21
8th   of 18 Floors          20
10th   of 19 Floors         18
6th   of 18 Floors          18
7th   of 15 Floors          17
Ground of 1 Floors          17
7th   of 18 Floors          17
10th   of 18 Floors         17
12nd   of 12 Floors         17
9th   of 13 Floors          17
5th   of 15 Floors          16
3rd   of 18 Floors          16
2nd   of 12 Floors          15
6th   of 12 Floors          15
9th   of 15 Floors          15
1st   of 3 Floors           15
6th   of 19 Floors          14
1st   of 2 Floors           13
10th   of 26 Floors         13
3rd   of 13 Floors          13
6th   of 10 Floors          13
5th   of 5 Floors           13
Ground of 4 Floors          13
7th   of 7 Floors           13
10th   of 10 Floors         12
6th   of 15 Floors          12
8th   of 12 Floors          11
16th   of 19 Floors         11
8th   of 8 Floors           11
9th   of 26 Floors          11
15th   of 19 Floors         11
11st   of 18 Floors         11
9th   of 24 Floors          11
17th   of 17 Floors         11
4th   of 10 Floors          11
6th   of 6 Floors           11
4th   of 13 Floors          11
4th   of 12 Floors          10
6th   of 13 Floors          10
3rd   of 5 Floors           10
7th   of 26 Floors          10
2nd   of 19 Floors          10
7th   of 13 Floors          10
1st   of 26 Floors          10
10th   of 12 Floors         10
7th   of 21 Floors          10
12nd   of 18 Floors         10
4th   of 15 Floors          10
3rd   of 9 Floors           10
15th   of 29 Floors          9
3rd   of 12 Floors           9
8th   of 22 Floors           9
18th   of 19 Floors          9
14th   of 19 Floors          9
9th   of 20 Floors           9
13rd   of 14 Floors          9
8th   of 15 Floors           9
7th   of 17 Floors           9
14th   of 15 Floors          9
12nd   of 17 Floors          9
5th   of 18 Floors           9
6th   of 26 Floors           9
7th   of 12 Floors           9
6th   of 16 Floors           9
3rd   of 15 Floors           8
9th   of 18 Floors           8
5th   of 13 Floors           8
3rd   of 19 Floors           8
1st   of 19 Floors           8
12nd   of 24 Floors          8
8th   of 24 Floors           8
9th   of 12 Floors           8
2nd   of 15 Floors           8
12nd   of 26 Floors          8
10th   of 13 Floors          8
8th   of 26 Floors           8
8th   of 13 Floors           8
12nd   of 19 Floors          8
10th   of 17 Floors          8
4th   of 26 Floors           8
2nd   of 5 Floors            8
2nd   of 8 Floors            8
5th   of 9 Floors            8
14th   of 24 Floors          8
2nd   of 10 Floors           7
13rd   of 13 Floors          7
8th   of 21 Floors           7
7th   of 19 Floors           7
12nd   of 15 Floors          7
9th   of 19 Floors           7
5th   of 29 Floors           7
11st   of 24 Floors          7
2nd   of 13 Floors           7
16th   of 16 Floors          7
8th   of 10 Floors           7
12nd   of 13 Floors          7
1st   of 13 Floors           7
4th   of 19 Floors           7
2nd   of 17 Floors           7
11st   of 11 Floors          7
5th   of 20 Floors           7
11st   of 13 Floors          7
10th   of 21 Floors          7
11st   of 26 Floors          7
5th   of 10 Floors           6
Ground of 15 Floors          6
4th   of 17 Floors           6
11st   of 12 Floors          6
7th   of 20 Floors           6
16th   of 18 Floors          6
5th   of 25 Floors           6
5th   of 22 Floors           6
14th   of 27 Floors          6
12nd   of 22 Floors          6
Ground of 16 Floors          6
17th   of 19 Floors          6
1st   of 10 Floors           6
2nd   of 20 Floors           6
10th   of 15 Floors          6
19th   of 19 Floors          6
15th   of 15 Floors          6
10th   of 20 Floors          6
3rd   of 25 Floors           6
11st   of 19 Floors          6
Ground of 3 Floors           6
6th   of 9 Floors            6
1st   of 5 Floors            6
10th   of 29 Floors          6
4th   of 18 Floors           6
9th   of 30 Floors           5
9th   of 11 Floors           5
12nd   of 21 Floors          5
14th   of 16 Floors          5
4th   of 27 Floors           5
Ground of 19 Floors          5
10th   of 24 Floors          5
Ground of 12 Floors          5
15th   of 21 Floors          5
1st   of 15 Floors           5
18th   of 29 Floors          5
10th   of 27 Floors          5
7th   of 8 Floors            5
15th   of 18 Floors          5
8th   of 9 Floors            5
6th   of 11 Floors           5
4th   of 9 Floors            5
11st   of 25 Floors          5
6th   of 20 Floors           5
16th   of 26 Floors          5
8th   of 30 Floors           5
10th   of 25 Floors          5
15th   of 28 Floors          5
12nd   of 29 Floors          5
1st   of 12 Floors           5
11st   of 16 Floors          5
11st   of 29 Floors          5
Ground of 21 Floors          5
7th   of 27 Floors           5
11st   of 30 Floors          5
14th   of 29 Floors          5
5th   of 19 Floors           5
1st   of 7 Floors            5
4th   of 22 Floors           5
6th   of 17 Floors           5
9th   of 22 Floors           5
3rd   of 20 Floors           5
5th   of 8 Floors            5
3rd   of 10 Floors           4
3rd   of 17 Floors           4
14th   of 21 Floors          4
3rd   of 22 Floors           4
7th   of 10 Floors           4
18th   of 32 Floors          4
15th   of 32 Floors          4
19th   of 40 Floors          4
11st   of 20 Floors          4
14th   of 18 Floors          4
23rd   of 26 Floors          4
11st   of 17 Floors          4
7th   of 11 Floors           4
13rd   of 19 Floors          4
17th   of 25 Floors          4
8th   of 16 Floors           4
20th   of 26 Floors          4
19th   of 24 Floors          4
13rd   of 21 Floors          4
Ground of 13 Floors          4
5th   of 24 Floors           4
8th   of 20 Floors           4
25th   of 25 Floors          4
17th   of 26 Floors          4
2nd   of 16 Floors           4
20th   of 20 Floors          4
2nd   of 11 Floors           4
11st   of 15 Floors          4
5th   of 16 Floors           4
2nd   of 9 Floors            4
17th   of 18 Floors          4
6th   of 30 Floors           4
5th   of 23 Floors           4
Ground of 17 Floors          4
3rd   of 11 Floors           4
22nd   of 30 Floors          4
22nd   of 24 Floors          4
14th   of 17 Floors          4
15th   of 23 Floors          4
1st   of 18 Floors           4
7th   of 9 Floors            4
17th   of 24 Floors          4
15th   of 16 Floors          4
14th   of 26 Floors          4
15th   of 25 Floors          4
12nd   of 16 Floors          4
4th   of 8 Floors            4
13rd   of 25 Floors          4
7th   of 24 Floors           4
15th   of 26 Floors          4
9th   of 10 Floors           4
12nd   of 30 Floors          4
6th   of 22 Floors           3
7th   of 23 Floors           3
8th   of 11 Floors           3
16th   of 20 Floors          3
26th   of 30 Floors          3
13rd   of 15 Floors          3
9th   of 16 Floors           3
10th   of 30 Floors          3
6th   of 24 Floors           3
1st   of 25 Floors           3
5th   of 30 Floors           3
12nd   of 27 Floors          3
18th   of 18 Floors          3
15th   of 40 Floors          3
15th   of 22 Floors          3
3rd   of 8 Floors            3
9th   of 40 Floors           3
31st   of 32 Floors          3
1st   of 11 Floors           3
3rd   of 26 Floors           3
6th   of 23 Floors           3
6th   of 29 Floors           3
18th   of 26 Floors          3
23rd   of 23 Floors          3
21st   of 22 Floors          3
4th   of 16 Floors           3
11st   of 27 Floors          3
2nd   of 22 Floors           3
10th   of 23 Floors          3
6th   of 21 Floors           3
14th   of 32 Floors          3
4th   of 21 Floors           3
21st   of 24 Floors          3
30th   of 32 Floors          3
24th   of 24 Floors          3
5th   of 17 Floors           3
19th   of 21 Floors          3
12nd   of 23 Floors          3
5th   of 26 Floors           3
20th   of 28 Floors          3
Ground of 26 Floors          3
15th   of 20 Floors          3
3rd   of 16 Floors           3
17th   of 30 Floors          3
10th   of 16 Floors          3
8th   of 17 Floors           3
2nd   of 26 Floors           3
9th   of 21 Floors           3
19th   of 29 Floors          3
Ground of 18 Floors          3
8th   of 25 Floors           3
15th   of 39 Floors          3
6th   of 8 Floors            3
8th   of 40 Floors           3
18th   of 30 Floors          3
1st   of 35 Floors           3
4th   of 29 Floors           3
17th   of 29 Floors          3
17th   of 20 Floors          3
4th   of 20 Floors           3
10th   of 28 Floors          3
19th   of 30 Floors          3
27th   of 27 Floors          3
1st   of 17 Floors           2
3rd   of 33 Floors           2
18th   of 21 Floors          2
14th   of 28 Floors          2
16th   of 32 Floors          2
16th   of 27 Floors          2
16th   of 24 Floors          2
2nd   of 6 Floors            2
19th   of 27 Floors          2
7th   of 30 Floors           2
13rd   of 30 Floors          2
10th   of 40 Floors          2
13rd   of 20 Floors          2
2nd   of 28 Floors           2
15th   of 31 Floors          2
27th   of 29 Floors          2
24th   of 30 Floors          2
Ground of 23 Floors          2
4th   of 11 Floors           2
9th   of 29 Floors           2
19th   of 20 Floors          2
2nd   of 24 Floors           2
14th   of 20 Floors          2
43   of 47 Floors            2
1st   of 22 Floors           2
16th   of 30 Floors          2
25th   of 29 Floors          2
23rd   of 29 Floors          2
20th   of 23 Floors          2
9th   of 17 Floors           2
11st   of 23 Floors          2
8th   of 23 Floors           2
8th   of 29 Floors           2
3rd   of 32 Floors           2
10th   of 32 Floors          2
2nd   of 7 Floors            2
4th   of 5 Floors            2
Ground of 51 Floors          2
28th   of 30 Floors          2
7th   of 16 Floors           2
17th   of 23 Floors          2
4th   of 7 Floors            2
15th   of 24 Floors          2
13rd   of 40 Floors          2
8th   of 34 Floors           2
25th   of 30 Floors          2
16th   of 21 Floors          2
7th   of 29 Floors           2
8th   of 32 Floors           2
6th   of 31 Floors           2
12nd   of 25 Floors          2
1st   of 24 Floors           2
39th   of 40 Floors          2
9th   of 28 Floors           2
16th   of 34 Floors          2
10th   of 22 Floors          2
7th   of 36 Floors           2
3rd   of 24 Floors           2
2nd   of 18 Floors           2
2nd   of 40 Floors           2
3rd   of 27 Floors           2
2nd   of 21 Floors           2
10th   of 11 Floors          2
2nd   of 25 Floors           2
1st   of 20 Floors           2
1st   of 30 Floors           2
22nd   of 25 Floors          2
1st   of 8 Floors            2
23rd   of 34 Floors          2
18th   of 24 Floors          2
Lower Ground of 4 Floors     2
4th   of 34 Floors           2
20th   of 25 Floors          2
7th   of 22 Floors           2
3rd   of 29 Floors           2
11st   of 21 Floors          2
8th   of 28 Floors           2
21st   of 27 Floors          2
2nd   of 32 Floors           2
15th   of 17 Floors          2
9th   of 27 Floors           2
20th   of 22 Floors          2
1st   of 16 Floors           2
16th   of 36 Floors          2
5th   of 11 Floors           2
40th   of 40 Floors          2
15th   of 45 Floors          2
17th   of 33 Floors          2
31st   of 40 Floors          1
18th   of 20 Floors          1
3rd   of 31 Floors           1
27th   of 30 Floors          1
34th   of 34 Floors          1
5th   of 36 Floors           1
18th   of 35 Floors          1
17th   of 31 Floors          1
21st   of 23 Floors          1
Ground of 5 Floors           1
Ground of 6 Floors           1
Basement of 13 Floors        1
18th   of 22 Floors          1
17th   of 22 Floors          1
24th   of 36 Floors          1
3rd   of 36 Floors           1
5th   of 6 Floors            1
8th   of 35 Floors           1
Lower Ground of 1 Floors     1
5th   of 35 Floors           1
Ground of 2 Floors           1
10th   of 33 Floors          1
13rd   of 47 Floors          1
34th   of 42 Floors          1
17th   of 21 Floors          1
4th   of 39 Floors           1
24th   of 32 Floors          1
20th   of 34 Floors          1
16th   of 22 Floors          1
18th   of 25 Floors          1
23rd   of 28 Floors          1
8th   of 27 Floors           1
28th   of 29 Floors          1
15th   of 27 Floors          1
11st   of 22 Floors          1
Ground of 11 Floors          1
20th   of 47 Floors          1
27th   of 48 Floors          1
6th   of 7 Floors            1
35th   of 51 Floors          1
22nd   of 28 Floors          1
11st   of 36 Floors          1
28th   of 28 Floors          1
Basement of 4 Floors         1
2nd   of 34 Floors           1
4th   of 40 Floors           1
3rd   of 40 Floors           1
20th   of 32 Floors          1
Basement of 28 Floors        1
19th   of 41 Floors          1
19th   of 26 Floors          1
2nd   of 27 Floors           1
14th   of 51 Floors          1
19th   of 39 Floors          1
12nd   of 39 Floors          1
38th   of 40 Floors          1
18th   of 40 Floors          1
6th   of 25 Floors           1
16th   of 25 Floors          1
4th   of 28 Floors           1
7th   of 32 Floors           1
30th   of 40 Floors          1
4th   of 25 Floors           1
19th   of 23 Floors          1
5th   of 27 Floors           1
24th   of 39 Floors          1
20th   of 30 Floors          1
18th   of 51 Floors          1
24th   of 27 Floors          1
19th   of 22 Floors          1
8th   of 31 Floors           1
33rd   of 48 Floors          1
35th   of 35 Floors          1
26th   of 47 Floors          1
Ground of 24 Floors          1
7th   of 25 Floors           1
20th   of 43 Floors          1
21st   of 51 Floors          1
12nd   of 28 Floors          1
10th   of 34 Floors          1
18th   of 23 Floors          1
12nd   of 32 Floors          1
23rd   of 40 Floors          1
5th   of 32 Floors           1
1st   of 9 Floors            1
3rd   of 6 Floors            1
20th   of 40 Floors          1
9th   of 42 Floors           1
10th   of 51 Floors          1
15th   of 30 Floors          1
21st   of 41 Floors          1
32nd   of 32 Floors          1
8th   of 42 Floors           1
26th   of 34 Floors          1
21st   of 29 Floors          1
20th   of 29 Floors          1
13rd   of 18 Floors          1
7th   of 34 Floors           1
10th   of 39 Floors          1
21st   of 26 Floors          1
1st   of 44 Floors           1
7th   of 42 Floors           1
25th   of 36 Floors          1
21st   of 28 Floors          1
14th   of 22 Floors          1
33rd   of 42 Floors          1
2nd   of 36 Floors           1
19th   of 31 Floors          1
16th   of 51 Floors          1
29th   of 31 Floors          1
22nd   of 40 Floors          1
16th   of 41 Floors          1
7th   of 40 Floors           1
12nd   of 40 Floors          1
3rd   of 28 Floors           1
17th   of 28 Floors          1
3rd   of 30 Floors           1
19th   of 32 Floors          1
16th   of 45 Floors          1
22nd   of 23 Floors          1
7th   of 28 Floors           1
21st   of 36 Floors          1
14th   of 41 Floors          1
Ground of 29 Floors          1
22nd   of 26 Floors          1
32nd   of 55 Floors          1
Ground of 40 Floors          1
13rd   of 22 Floors          1
16th   of 35 Floors          1
44   of 47 Floors            1
23rd   of 24 Floors          1
17th   of 47 Floors          1
4th   of 6 Floors            1
30th   of 34 Floors          1
24th   of 31 Floors          1
24th   of 51 Floors          1
29th   of 29 Floors          1
16th   of 31 Floors          1
5th   of 21 Floors           1
12nd   of 34 Floors          1
5th   of 34 Floors           1
9th   of 25 Floors           1
45   of 47 Floors            1
Ground of 25 Floors          1
9th   of 23 Floors           1
33rd   of 33 Floors          1
1st   of 6 Floors            1
20th   of 24 Floors          1
13rd   of 17 Floors          1
29th   of 39 Floors          1
13rd   of 26 Floors          1
14th   of 25 Floors          1
3rd   of 7 Floors            1
Ground of 22 Floors          1
13rd   of 34 Floors          1
23rd   of 36 Floors          1
Name: count, dtype: int64

In [37]:
df['floorNum'].isnull().sum()

np.int64(2)

In [38]:
df['floorNum']=df['floorNum'].str.split(' ').str.get(0).str.replace('Ground','0').str.replace('Basement','-1').str.replace('Lower','0').str.extract(r'(\d+)')

In [39]:
df['floorNum']

0         4
1         1
2        12
3         2
4         5
5         3
6         5
7        14
8         2
9        31
10        1
11        4
12        4
13        3
14       13
15       25
16        0
17        0
18       11
19       12
20        4
21       11
22        4
23        0
24       10
26        3
27       20
28        5
29        4
30        4
31        1
32       12
33        8
34       20
35        8
36       21
37        0
38        6
39        1
40        1
41       12
42        6
43        1
44        2
45        1
46        9
47        5
48       18
49       29
50        3
51        3
52        5
53        1
54        9
55        6
56        2
57       14
58        1
59        8
60        2
61       12
62        4
63        1
64        7
65        3
66        5
67        9
68       14
69       14
70       15
71        6
72        6
73        2
74        3
75        2
76        4
77        3
78        6
79        8
80        2
81        4
82        0
83       11
84        1
85       11
86       21
87        4
88        2
89        2
90        4
91       32
92        2
93        2
94        2
95       11
96       23
97        6
98        9
99        1
100       5
101      43
102       1
103       1
104       1
105      11
106      14
107       9
108       8
109       9
110       2
111       4
112      32
113      43
114       2
115       3
116       8
117       3
118      20
119       2
120       1
121       4
122       0
123       3
124       4
125       3
126       6
127      13
128      13
129      16
130       3
131       0
132      11
133       2
134      12
135       2
136       1
137       4
138      11
139       5
140       1
141      12
142      16
143       6
144       2
145       3
146      11
147      10
148       2
149       4
150      19
151       1
152       8
153      18
154      10
155       7
156       2
157      10
158       5
159      10
160      20
161      20
162       3
163      13
164       3
165       7
166       4
167       4
168       2
169       2
170       4
171       3
172       1
173       2
174      11
175      11
176      16
177       8
178       1
179      18
180       8
181     NaN
182       2
183      17
184      23
185      10
186      30
187       4
188       2
189       0
190       0
191       1
192       1
193      11
194      11
195       0
196      19
197      28
198       4
199       9
200       7
201       1
202      15
203       2
204       0
205       9
206       1
207       1
208       4
209       4
210       3
211       1
212       1
213       0
214      13
215       4
216       6
217      20
218      27
219       6
220      33
221      35
222      26
223       0
224       2
225       4
226      10
227      11
228      10
229       0
230       3
231       7
232       8
233       2
234       3
235       1
236       9
237      14
238       4
239       8
240      10
241       3
242       3
243       2
244       3
245       7
246       2
247       3
248       8
249      12
250       8
251       1
252       1
253      26
254      21
255       8
256       2
257       1
258       2
259      39
260       1
261       8
262       2
263       3
264       7
265       4
266      22
267      14
268      11
269      17
270       3
271      12
272       8
273       3
274      14
275       7
276       9
277       2
278       3
279       6
280      16
281      12
282       1
283       4
284      17
285       7
287      11
288       4
289       1
290       6
291       1
292      17
293       1
294      16
295      19
296      31
297      14
298       5
299       2
300       1
301       1
302      15
303       1
304       1
305       2
306      11
307       9
308      33
309      14
310       4
311       5
312      18
313       1
314      20
315       9
316      18
317       8
318       4
319       9
320       4
321       1
322       6
323       1
324      19
325      31
326       5
327       1
328       1
329      15
330       1
331       1
332       2
333      11
334       9
335      14
336       5
337       1
338       9
339      18
340       4
341       1
342      20
343      24
344       2
345       4
346      14
347       9
348      14
349       4
350      26
351       2
352      14
353      17
354       2
355      25
356       9
357       4
358       6
359       5
360       4
361      14
362      15
363       7
364       2
365      16
366      24
367      10
368       2
369       2
370       2
371       1
372       8
373      12
374      18
375       1
376       2
377       3
378      11
379       7
380       5
381       6
382      19
383      25
384      10
385      10
386       3
387       8
388       5
389       4
390       1
391      10
392      16
393      10
394       3
395      17
396       9
397      11
398      19
399       0
400       0
401       8
402       4
403      30
404      16
405      18
406       2
407       7
408       2
409      10
410       9
411       6
412      14
413      25
414       7
415       4
416       7
417      18
418      12
419       3
420      21
421      14
422       5
423       3
424      19
425      10
426       5
427      10
428       7
429      11
430       2
431       2
432       7
433       6
434      11
435       9
436       4
437      14
438       5
439       1
440      16
441       1
442      18
443       6
444       8
445       4
446       7
447       9
448       3
449      11
450      17
451       7
452       5
453      16
454       2
455       8
456       2
457       3
458       6
459       0
460       2
461      15
462      10
463      11
464      10
465       4
466       3
467       9
468       8
469       7
470       5
471       7
472       7
473       9
474       2
475       5
476      11
477       8
478       7
479      20
480      10
481       7
482      10
483      16
484       8
485       1
486      18
487      15
488      25
489       5
490       9
491       5
492       7
493       7
494       7
495      12
496       5
497       4
498       6
499       3
500      10
501      15
502      15
503      10
504       9
505      10
506      10
507       9
508       0
509       1
510      11
511      17
512       1
513       0
514       7
515       5
516      12
517      14
518      14
519       9
520      19
521       8
522      14
523       8
524       2
525       9
526       5
527       0
528       6
529      10
530       6
531       8
532       9
533       9
534      12
535      11
536       6
537      15
538       7
539       8
540       8
541       3
542      10
543       1
544       4
545       5
546       2
547      20
548      13
549       8
550       8
551      16
552      12
553      10
554       6
555      16
556       8
557      12
558      12
559       5
560       9
561       7
562       7
563       7
564       5
565       8
566       7
567       5
568       9
569      11
570      10
571       6
572       3
573      22
574       5
575      15
576       5
577       0
578       6
579       1
580       2
581      12
582      12
583       6
584       8
585       4
586       5
587       2
588      20
589      12
590      18
591       2
592       3
593       3
594      18
595       7
596      17
597       8
598       2
599       8
600       9
601       3
602      12
603      10
604       2
605       0
606       7
607       2
608       5
609       3
610       3
611      12
612       6
613      28
614      10
615      24
616       4
617       0
618      17
619      12
620      19
621      15
622      10
623       3
624       9
625      15
626      19
627       6
628      21
629      14
630      20
631       7
632       2
633       5
634      14
635      16
636      12
637       3
638       7
639      10
640      11
641      17
642       8
643       6
644      10
645      11
646       4
647      15
648      19
649       5
650      14
651       6
652      17
653       7
654       7
655      12
656      10
657      38
658       8
659      18
660       9
661      19
662       3
663       9
664       7
665      14
666       1
667       0
668       5
669       0
670      10
671       8
672       0
673      10
674      23
675       7
676       6
677       7
678      18
679       5
680      17
681       3
682       7
683       4
684       1
685       6
686      10
687       6
688       0
689       8
690       5
691      14
692      15
693       7
694      10
695      10
696       8
697      11
698       3
699      12
700       5
701       8
702       4
703      10
704      12
705      17
706       2
707       9
708       1
709      10
710       7
711      11
712      11
713      11
714      15
715       8
716       8
717      12
718       9
719      27
720       7
721       6
722       5
723       6
724       3
725      10
726       7
727      10
728       3
729       9
730       8
731       8
732      10
733       8
734       7
735      14
736       4
737       5
738      15
739      14
740       2
741       3
742       3
743       9
744      20
745       3
746       0
747       1
748       5
749       5
750       5
751       2
752       7
753       9
754      20
755      16
756      15
757      15
758       9
759       4
760       9
761       6
762       7
763      35
764      10
765       9
766      10
767      22
768       7
769       7
770      11
771       8
772       8
773      14
774       6
775      14
776       6
777       6
778      10
779       8
780       7
781       7
782       2
783       8
784       1
785      10
786      10
787      10
788       8
789      19
790       2
791      10
792      20
793       2
794       9
795      10
796       7
797       9
798      10
799      17
800       7
801       9
802       4
803      14
804       3
805       3
806       2
807       3
808       2
809      10
810       8
811      24
812       8
813      10
814      12
815       9
816      10
817       8
818      11
819       6
820      10
821      14
822       9
823       8
824      12
825       1
826      12
827      12
828       0
829       1
830      10
831       6
832      21
833      10
834      12
835      19
836       3
837      26
838       7
839       6
840       5
841       3
842      19
843       4
844       8
845      15
846       9
847      26
848       3
849      14
850       5
851       8
852       3
853       9
854       5
855       8
856       5
857       9
858       5
859      10
860      10
861       7
862       9
863       5
864      15
865      10
866      17
867       8
868       7
869      11
870       7
871       4
872      24
873       8
874       3
875      22
876       0
877       3
878      11
879       7
880       5
881      11
882      10
883       2
884       2
885       5
886       9
887       8
888       8
889       8
890       8
891      19
892       7
893      21
894       4
895      21
896       8
897       7
898      16
899       7
900       6
901       6
902       5
903       6
904       7
905       0
906      12
907       6
908      10
909      12
910       8
911      11
912       6
913       2
914      17
915      11
916      14
917      28
918       7
919      19
920      15
921       9
922      18
923      18
924      15
925       6
926      18
927      11
928      10
929       7
930       3
931      18
932       6
933       7
934       6
935      10
936       1
937       1
938      10
939       6
940       4
941       5
942       3
943       9
944       8
945       5
946      12
947      10
948       8
949       4
950      11
951       7
952      23
953       1
954       8
955      11
956       7
957       5
958       4
959      12
960       9
961      13
962       4
963      15
964      11
965       5
966       3
967       3
968       3
969       3
970       1
971      24
972       7
973      11
974      18
975       1
976       3
977       3
978      15
979       6
980       1
981      14
982      22
983      22
984      16
985       8
986       4
987      16
988      12
989      20
990      18
991       2
992       8
993       2
994      15
995       4
996       6
997      11
998       6
999       8
1000     14
1001     10
1002      7
1003      7
1004      4
1005      4
1006      7
1007      6
1008     16
1009      9
1010     10
1011      6
1012     10
1013     13
1014     10
1015     12
1016      9
1017     10
1018      4
1019      5
1020      0
1021      7
1022      4
1023     30
1024      2
1025      2
1026      4
1027     11
1028      9
1029      8
1030      5
1031      6
1032     10
1033      8
1034      5
1035      4
1036      5
1037      7
1038      6
1039      7
1040     19
1041      7
1042      5
1043      3
1044     12
1045     16
1046     18
1047      3
1048      8
1049     10
1050      2
1051      6
1052      8
1053      4
1054      0
1055      6
1056      2
1057      6
1058     15
1059      7
1060     16
1061      8
1062      8
1063     11
1064      9
1065      7
1066      0
1067      3
1068      2
1069      2
1070      2
1071      3
1072      2
1073      2
1074     10
1075      6
1076      6
1077      6
1078      3
1079     14
1080      8
1081      3
1082     15
1083      8
1084      9
1085     10
1086      4
1087      9
1088     12
1089      6
1090     11
1091     11
1092     11
1093      8
1094      7
1095      0
1096      0
1097     11
1098      4
1099      3
1100      3
1101     24
1102     20
1103      6
1104      8
1105     12
1106     15
1107      4
1108     11
1109      9
1110      0
1111      9
1112      5
1113      7
1114      4
1115      9
1116     18
1117      9
1118      7
1119      6
1120      1
1121     12
1122      2
1123     15
1124      7
1125      1
1126      6
1127      2
1128     15
1129      2
1130      7
1131      7
1132     12
1133      1
1134     12
1135     12
1136     12
1137     12
1138     12
1139     12
1140     12
1141     12
1142     12
1143     12
1144     15
1145      2
1146     11
1147     16
1148      6
1149      7
1150      8
1151      5
1152      2
1153      7
1154      1
1155     15
1156      0
1157     11
1158     14
1159     10
1160      4
1161      8
1162      9
1163      8
1164     11
1165      8
1166      1
1167      6
1168     15
1169     10
1170      8
1171      4
1172      9
1173      4
1174      5
1175      8
1176      2
1177      3
1178      2
1179      9
1180      6
1181     10
1182     21
1183      0
1184      5
1185     12
1186      6
1187     17
1188      1
1189     10
1190      8
1191      1
1192      1
1193      8
1194     10
1195     15
1196     15
1197      6
1198     11
1199     10
1200     16
1201     16
1202      2
1203      6
1204      7
1205      3
1206      2
1207      0
1208      2
1209      6
1210      5
1211      2
1212      4
1213      8
1214     20
1215      5
1216      8
1217      6
1218      8
1219      6
1220      5
1221     11
1222      8
1223      6
1224      0
1225     10
1226      2
1227      2
1228      5
1229      1
1230      9
1231     10
1232      5
1233      3
1234      5
1235      9
1236      8
1237     10
1238     15
1239      2
1240      2
1241      2
1242      2
1243      2
1244      2
1245      2
1246      9
1247      9
1248      9
1249      9
1250      9
1251      9
1252     15
1253     12
1254     15
1255     17
1256     20
1257     18
1258     12
1259     16
1260      9
1261      1
1262      3
1263     10
1264     11
1265      2
1266      8
1267      7
1268      7
1269      4
1270      7
1271      4
1272      8
1273      5
1274     15
1275     12
1276      4
1277      8
1278     23
1279     19
1280      5
1281      5
1282      5
1283      5
1284     15
1285     19
1286      6
1287      1
1288      4
1289      7
1290      6
1291      3
1292     20
1293      4
1294      6
1295      5
1296     10
1297      8
1298      9
1299     19
1300     12
1301     17
1302     21
1303      6
1304     10
1305      6
1306      6
1307     10
1308     12
1309      1
1310     13
1311     12
1312     13
1313     10
1314      4
1315      7
1316     13
1317     14
1318     12
1319      5
1320     15
1321     12
1322     12
1323     16
1324     10
1325     17
1326      4
1327     10
1328     16
1329      8
1330      6
1331      2
1332      9
1333     10
1334      9
1335      2
1336     10
1337      7
1338      7
1339     12
1340      4
1341     11
1342     14
1343      5
1344      7
1345     14
1346     10
1347      0
1348      8
1349      8
1350     11
1351      7
1352     13
1353      9
1354      1
1355      8
1356     11
1357     12
1358      4
1359     23
1360      5
1361      1
1362      7
1363     15
1364     10
1365     10
1366      6
1367     15
1368      8
1369      3
1370      5
1371      3
1372      2
1373      3
1374      8
1375      1
1376     10
1377      3
1378      7
1379      5
1380     17
1381      7
1382     13
1383      1
1384      2
1385     10
1386     15
1387     15
1388      8
1389     12
1390      7
1391      1
1392     10
1393     14
1394      8
1395      6
1396      9
1397      7
1398     17
1399      1
1400     12
1401      3
1402      3
1403      8
1404      8
1405      8
1406     19
1407      6
1408     21
1409      8
1410      3
1411     31
1412     15
1413      3
1414     13
1415     13
1416      8
1417      8
1418     18
1419      2
1420     25
1421     11
1422      7
1423      3
1424      6
1425      9
1426      5
1427      6
1428     11
1429      8
1430     14
1431      6
1432      8
1433      1
1434      5
1435     10
1436     12
1437      3
1438      1
1439      2
1440      1
1441      3
1442      1
1443      2
1444      8
1445      5
1446      4
1447      9
1448     12
1449      8
1450      3
1451      4
1452      4
1453      3
1454      2
1455     10
1456     15
1457     19
1458      4
1459      9
1460      4
1461     10
1462     12
1463      8
1464      5
1465      6
1466     13
1467     10
1468      5
1469      7
1470      1
1471     13
1472      4
1473      7
1474      7
1475      4
1476      0
1477     24
1478     14
1479      5
1480      6
1481      2
1482      7
1483      5
1484      5
1485     12
1486      6
1487     19
1488      6
1489      5
1490      7
1491      7
1492      7
1493     22
1494      7
1495      8
1496      0
1497      6
1498     11
1499     22
1500      6
1501     25
1502      7
1503      8
1504     10
1505      5
1506      9
1507      6
1508      3
1509      4
1510      6
1511      6
1512      2
1513     10
1514      7
1515      7
1516      0
1517      3
1518      4
1519      4
1520      2
1521      6
1522      7
1523      6
1524     10
1525      4
1526     11
1527      8
1528      7
1529      6
1530      2
1531      6
1532     10
1533      4
1534     15
1535     11
1536      0
1537      0
1538     14
1539     14
1540     14
1541     14
1542      5
1543      1
1544     13
1545     22
1546      6
1547     19
1548      2
1549      7
1550     12
1551     16
1552     17
1553     12
1554     27
1555      9
1556      6
1557     12
1558     15
1559      0
1560      9
1561      6
1562      5
1563      6
1564      2
1565     16
1566     10
1567     14
1568      3
1569     17
1570     18
1571     20
1572      6
1573      5
1574     39
1575      1
1576     18
1577      9
1578     27
1579      1
1580     15
1581      8
1582     12
1583      5
1584      5
1585      7
1586     10
1587      3
1588      2
1589      3
1590      5
1591      5
1592      4
1593      2
1594     15
1595      9
1596      2
1597      7
1598      9
1599     10
1600      5
1601      9
1602     12
1603      6
1604      6
1605      3
1606      6
1607      6
1608      5
1609      5
1610      6
1611      9
1612      3
1613      2
1614      4
1615      8
1616      5
1617      3
1618      5
1619      3
1620      4
1621      4
1622      4
1623      6
1624     12
1625      9
1626     10
1627     11
1628      2
1629     10
1630     15
1631      3
1632      9
1633      8
1634     10
1635      9
1636      5
1637      7
1638     16
1639      7
1640     12
1641     13
1642     11
1643      9
1644     12
1646     10
1647      4
1648      3
1649      5
1650     10
1651     14
1652     11
1653      3
1654      6
1655     18
1656      6
1657     15
1658      1
1659      9
1660     10
1661     12
1662     17
1663      9
1664     19
1665     14
1666     14
1667     12
1668     11

In [40]:
df.head()

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,maa bhagwati residency,0.45,5000.0,Carpet area: 900 (83.61 sq.m.),2,2,1,not available,"Krishna Colony, Gurgaon, Haryana",4,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,apna enclave,0.50,7692.0,Carpet area: 650 (60.39 sq.m.),2,2,1,not available,"46b, Ashok Vihar, Gurgaon, Haryana",1,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,tulsiani easy in homes,0.40,6722.0,Carpet area: 595 (55.28 sq.m.),2,2,3,not available,"Sohna, Gurgaon, Haryana",12,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,smart world orchard,1.47,12250.0,Carpet area: 1200 (111.48 sq.m.),2,2,2,study room,"Sector 61 Gurgaon, Gurgaon, Haryana",2,NaN,2023-12-01 00:00:00,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,2 BHK Flat in Sector 92 Gurgaon,parkwood westend,0.70,5204.0,Super Built up area 1345(124.95 sq.m.),2,2,3,study room,"Sector 92 Gurgaon, Gurgaon, Haryana",5,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ..."

In [41]:
df['facing'].value_counts()

facing
North-East    505
East          490
North         301
South         203
West          183
North-West    162
South-East    144
South-West    135
Name: count, dtype: int64

In [42]:
df['facing'].isnull().sum()

np.int64(874)

In [43]:
df['facing'].fillna('NA',inplace=True)

/tmp/ipython-input-43-3692945726.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['facing'].fillna('NA',inplace=True)

In [44]:
df.insert(loc=4,column='area',value=round((df['price']*10000000)/df['price_per_sqft']))

In [45]:
df.head()

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,maa bhagwati residency,0.45,5000.0,900.0,Carpet area: 900 (83.61 sq.m.),2,2,1,not available,"Krishna Colony, Gurgaon, Haryana",4,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,apna enclave,0.50,7692.0,650.0,Carpet area: 650 (60.39 sq.m.),2,2,1,not available,"46b, Ashok Vihar, Gurgaon, Haryana",1,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,tulsiani easy in homes,0.40,6722.0,595.0,Carpet area: 595 (55.28 sq.m.),2,2,3,not available,"Sohna, Gurgaon, Haryana",12,NA,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,smart world orchard,1.47,12250.0,1200.0,Carpet area: 1200 (111.48 sq.m.),2,2,2,study room,"Sector 61 Gurgaon, Gurgaon, Haryana",2,NA,2023-12-01 00:00:00,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,2 BHK Flat in Sector 92 Gurgaon,parkwood westend,0.70,5204.0,1345.0,Super Built up area 1345(124.95 sq.m.),2,2,3,study room,"Sector 92 Gurgaon, Gurgaon, Haryana",5,NA,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ..."

In [46]:
df.insert(loc=1,column='property_type',value='flat')

In [47]:
df.shape

(2997, 20)

In [48]:
df.to_csv('flats_cleaned.csv',index=False)

In [49]:
df.columns

Index(['property_name', 'property_type', 'society', 'price', 'price_per_sqft',
       'area', 'areaWithType', 'bedRoom', 'bathroom', 'balcony',
       'additionalRoom', 'address', 'floorNum', 'facing', 'agePossession',
       'nearbyLocations', 'description', 'furnishDetails', 'features',
       'rating'],
      dtype='object')

In [50]:
df.shape

(2997, 20)