In [166]:
import numpy as np
import pandas as pd
import re

In [167]:
pd.set_option('display.max_colwidth',None)
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)

In [168]:
df=pd.read_csv('gurgaon_properties_v2.csv')

In [169]:
df.head()
#focus ---> areawithType,additionalRoom,agePossesion,furnishDetails,features

,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features
0,house,NaN,sector 41,7.25,29293.0,2475.0,Plot area 275(229.94 sq.m.),9.0,8.0,3,servant room,4.0,South-West,10+ Year Old,"['Huda city centre metro station', 'Axis bank ATM', 'Hdfc ATM', 'Axis bank ATM', 'Citi bank ATM', 'Icici ATM', 'Punjab national bank ATM', 'Hdfc bank ATM', 'Standard chartered ATM', 'Centre For Sight Gurgaon Sector 29', 'Dr. Naval Mendiratta', 'Fortis Memorial Research Institute Fortis Vivekanand Hospital', 'Dr. Kutbuddin Akbary', 'Max Hospital', 'Shivam Hospital Gurgaon', 'Gardian Pharmacy', 'City Medical', 'Bharat petroleum', 'Hdfc bank', 'Icici bank', 'Beer & Whisky Bar', 'MoB Ministory of Beer', ""McDonald's"", 'Park Baluchi', ""Domino's Pizza"", 'Zura', 'The Oriental Bloom Chinese and Thai', 'Gola Sizzles', ""Hops 'N' Brew"", 'Pizza Hut', 'Spaghetti Kitchen & Bar', 'Bikanervala', 'Tocpao', 'PWO house', 'Black Mambaa', 'Gravity Space Bar', 'Roots', 'KFC', 'Ardor 29', 'ADDA', 'Gung the palace Korean restaurant', 'Walking Street', 'distillery', 'Swagath', 'Dhabba', 'Pizza Hut', 'Balaji Vegetarian Paradise', 'School of Inspired Leadership SOIL', 'Ncr library']","['5 Fan', '1 Exhaust Fan', '8 Geyser', '12 Light', '4 AC', '2 TV', '1 Modular Kitchen', '1 Curtains', '2 Bed', '2 Wardrobe', '1 Washing Machine', 'No Chimney', 'No Dining Table', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No Water Purifier']","['Security / Fire Alarm', 'Private Garden / Terrace', 'Water purifier', 'Maintenance Staff', 'Water Storage', 'No open drainage around', 'Visitor Parking', 'Park', 'Security Personnel', 'Natural Light', 'Internet/wi-fi connectivity', 'Airy Rooms', 'Spacious Interiors', 'Waste Disposal', 'Club house / Community Center']"
1,flat,vipul lavanya,sector 81,1.28,7174.0,1784.0,Carpet area: 1784 (165.74 sq.m.),3.0,3.0,3,"pooja room,servant room",1.0,North-East,5 to 10 Year Old,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. Sarkar Clinic', 'Orris Community Center', 'HP Petrol Pump', 'Vijay Petrol Pump', 'Petrol Pump', 'Essar Petrol Pump', 'Petrol pump Maitri motors', 'Petrol Pump Indian Oil', 'Indian Oil', ""McDonald's"", 'KFC', 'Pizza Hut', 'Rao Dhaba', ""McDonald's""]","['1 Bed', '3 Wardrobe', '7 Fan', '1 Exhaust Fan', '2 Geyser', '12 Light', '1 Modular Kitchen', '1 Chimney', '1 Curtains', 'No AC', 'No Dining Table', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Washing Machine', 'No Water Purifier']","['Feng Shui / Vaastu Compliant', 'Security / Fire Alarm', 'Intercom Facility', 'Lift(s)', 'Maintenance Staff', 'Water Storage', 'Park', 'Visitor Parking']"
2,flat,m3m woodshire,sector 107,1.40,5929.0,2361.0,Super Built up area 2361(219.34 sq.m.),3.0,4.0,N,not available,1.0,East,0 to 1 Year Old,NaN,"['1 Light', 'No AC', 'No Bed', 'No Chimney', 'No Curtains', 'No Dining Table', 'No Exhaust Fan', 'No Fan', 'No Geyser', 'No Modular Kitchen', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Wardrobe', 'No Washing Machine', 'No Water Purifier']","['Power Back-up', 'Intercom Facility', 'Lift(s)', 'Swimming Pool', 'Maintenance Staff', 'Park', 'Security Personnel', 'Internet/wi-fi connectivity', 'Shopping Centre', 'Fitness Centre / GYM', 'Club house / Community Center', 'Rain Water Harvesting']"
3,flat,ild greens,sector 37c,0.78,5714.0,1365.0,Super Built up area 1365(126.81 sq.m.)Built Up area: 1068.1 sq.ft. (99.23 sq.m.)Carpet area: 900 sq.ft. (83.61 sq.m.),2.0,2.0,3,not available,1.0,North,5 to 10 Year Old,"['The Esplanade Mall', 'Gurgaon Road', 'Delhi Jaipur Expressway', 'Green Field Public School', 'Sunrise University', 'K.D. Hospital', 'Indira Gandhi International Airport', 'Gurgaon Railway Station', 'infinity Business Park']","['2 Wardrobe', '3 Fan', '1 Exhaust Fan', '1 Geyser', '10 Light', '1 Modular Kitchen', '1 Chimney', 'No AC', 'No Bed', 'No Curtains', 'No Dining Table', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Washing Machine', 'No Water Purifier']","['Security / Fire Alarm', 'Power Back-up', 'Feng Shui / Vaastu Compliant', 'Intercom Facility', 'Lift(s)', 'Maintenance Staff', 'False Ceiling Lighting', 'Water Storage', 'Visitor Parking', 'Swimming Pool', 'Park', 'Natural Light', 'Airy Rooms', 'Spacious Interiors', 'Fitness Centre / GYM', 'Rain Water Harvesting', 'Club house / Community Center', 'Water softening plant']"
4,flat,ashiana mulberry,sohna road,1.05,5412.0,1940.0,Super Built up area 1940(180.23 sq.m.)Built Up area: 1175.97 sq.ft. (109.25 sq.m.)Carpet area: 834.96 sq.ft. (77.57 sq.m.),2.0,2.0,3,study room,1.0,North,0 to 1 Year Old,"['Discount Department Store', 'Badshahpur Sohna Rd Hwy, Sohna Rural', 'GD Goenka University, Gurugram', 'Sohna Public School Pathane Ware', 'Vardaan Hospital & Trauma Centre', 'Indira Gandhi Intl Airport']",[],"['Feng Shui / Vaastu Compliant', 'Security / Fire Alarm', 'Intercom Facility', 'Lift(s)', 'Maintenance Staff', 'Water Storage', 'Park', 'Visitor Parking']"

In [170]:
df.duplicated().sum()

np.int64(121)

# **1.areaWithType**

In [171]:
df[['area','areaWithType']].sample(5)

,area,areaWithType
2205,1540.0,Super Built up area 1929(179.21 sq.m.)Built Up area: 1780 sq.ft. (165.37 sq.m.)Carpet area: 1540 sq.ft. (143.07 sq.m.)
3647,1800.0,Built Up area: 1800 (167.23 sq.m.)
3164,1350.0,Plot area 150(125.42 sq.m.)
1769,1640.0,Super Built up area 1640(152.36 sq.m.)
1730,1467.0,Plot area 163(136.29 sq.m.)

In [172]:
#This function extracts the Super Built up area
def get_super_built_up_area(text):
  if isinstance(text,str):
     match=re.search(r'Super Built up area (\d+\.?\d*)',text)
     if match:
        return float(match.group(1))

  return None

In [173]:
#This function extracts the Built Up area or carpet area
def get_area(text,area_type):
  if isinstance(text,str) and isinstance(area_type,str):
    match=re.search(area_type + r'\s*:\s*(\d+\.?\d*)',text)
    if match:
      return float(match.group(1))

  return None

In [174]:
#This function checks if the area is provided in sq.m and converts it to sqft if needed
def convert_to_sqft(text,area_value):

  if area_value is None:
    return None


  if isinstance(area_value,str):
      match=re.search(r'{}\((\d+\.?\d*)sq.m.\)'.format(area_value),text)
      if match:
        sq_m_value=float(match.group(1))
        return sq_m_value*10.7639

  return area_value

In [175]:
#Extract super built up area and convert it to sqft if needed
df['super_built_up_area']=df['areaWithType'].apply(get_super_built_up_area)
df['super_built_up_area']=df.apply(lambda x:convert_to_sqft(x['areaWithType'],x['super_built_up_area']),axis=1)

#Extract built up area and convert it to sqft if needed
df['built_up_area']=df['areaWithType'].apply(lambda x:get_area(x,'Built Up area'))
df['built_up_area']=df.apply(lambda x:convert_to_sqft(x['areaWithType'],x['built_up_area']),axis=1)

#Extract Carpet area and convert it to sqft if needed
df['carpet_area']=df['areaWithType'].apply(lambda x:get_area(x,'Carpet area'))
df['carpet_area']=df.apply(lambda x:convert_to_sqft(x['areaWithType'],x['carpet_area']),axis=1)

In [176]:
df[['area','areaWithType','super_built_up_area','built_up_area','carpet_area']].sample(5)

,area,areaWithType,super_built_up_area,built_up_area,carpet_area
1916,1423.0,Built Up area: 1423 (132.2 sq.m.)Carpet area: 1190 sq.ft. (110.55 sq.m.),NaN,1423.0,1190.0
925,1245.0,Super Built up area 1245(115.66 sq.m.),1245.0,NaN,NaN
2314,3200.0,Super Built up area 3200(297.29 sq.m.)Carpet area: 3156 sq.ft. (293.2 sq.m.),3200.0,NaN,3156.0
416,2400.0,Super Built up area 2475(229.94 sq.m.)Carpet area: 2400 sq.ft. (222.97 sq.m.),2475.0,NaN,2400.0
697,1120.0,Carpet area: 1120 (104.05 sq.m.),NaN,NaN,1120.0

In [177]:
a=df[~((df['super_built_up_area'].isnull()) | (df['built_up_area'].isnull()) | (df['carpet_area'].isnull()))][['area','areaWithType','super_built_up_area','built_up_area','carpet_area']]
a.head()

,area,areaWithType,super_built_up_area,built_up_area,carpet_area
3,1365.0,Super Built up area 1365(126.81 sq.m.)Built Up area: 1068.1 sq.ft. (99.23 sq.m.)Carpet area: 900 sq.ft. (83.61 sq.m.),1365.0,1068.10,900.00
4,1940.0,Super Built up area 1940(180.23 sq.m.)Built Up area: 1175.97 sq.ft. (109.25 sq.m.)Carpet area: 834.96 sq.ft. (77.57 sq.m.),1940.0,1175.97,834.96
6,1260.0,Super Built up area 1260(117.06 sq.m.)Built Up area: 1250 sq.ft. (116.13 sq.m.)Carpet area: 800 sq.ft. (74.32 sq.m.),1260.0,1250.00,800.00
23,1700.0,Super Built up area 1950(181.16 sq.m.)Built Up area: 1920 sq.ft. (178.37 sq.m.)Carpet area: 1700 sq.ft. (157.94 sq.m.),1950.0,1920.00,1700.00
27,2364.0,Super Built up area 2364(219.62 sq.m.)Built Up area: 2362 sq.ft. (219.44 sq.m.)Carpet area: 2360 sq.ft. (219.25 sq.m.),2364.0,2362.00,2360.00

In [178]:
a.shape

(530, 5)

In [179]:
df.shape

(3771, 20)

In [180]:
df[df['areaWithType'].str.contains('Plot',na=False)][['area','areaWithType','super_built_up_area','built_up_area','carpet_area']].head(5)

,area,areaWithType,super_built_up_area,built_up_area,carpet_area
0,2475.0,Plot area 275(229.94 sq.m.),NaN,NaN,NaN
8,1512.0,Plot area 168(140.47 sq.m.),NaN,NaN,NaN
11,3600.0,Plot area 400(334.45 sq.m.),NaN,NaN,NaN
16,NaN,Plot area 670(560.21 sq.m.),NaN,NaN,NaN
29,270.0,Plot area 270(25.08 sq.m.),NaN,NaN,NaN

In [181]:
df.isnull().sum()

property_type             1
society                 470
sector                    0
price                    19
price_per_sqft           19
area                     19
areaWithType              1
bedRoom                   1
bathroom                  1
balcony                   1
additionalRoom            1
floorNum                 20
facing                 1097
agePossession             2
nearbyLocations         174
furnishDetails          970
features                632
super_built_up_area    1860
built_up_area          2600
carpet_area            1842
dtype: int64

In [182]:
all_nan_df = df[((df['super_built_up_area'].isnull()) & (df['built_up_area'].isnull()) & (df['carpet_area'].isnull()))][['price','property_type','area','areaWithType','super_built_up_area','built_up_area','carpet_area']]

In [183]:
all_nan_df.head()

,price,property_type,area,areaWithType,super_built_up_area,built_up_area,carpet_area
0,7.25,house,2475.0,Plot area 275(229.94 sq.m.),NaN,NaN,NaN
8,3.25,house,1512.0,Plot area 168(140.47 sq.m.),NaN,NaN,NaN
11,8.48,house,3600.0,Plot area 400(334.45 sq.m.),NaN,NaN,NaN
16,NaN,house,NaN,Plot area 670(560.21 sq.m.),NaN,NaN,NaN
29,0.34,house,270.0,Plot area 270(25.08 sq.m.),NaN,NaN,NaN

In [184]:
#function to extract plot area from areaWithType Column
def extract_plot_area(area_with_type):
  if isinstance(area_with_type,str):
    match=re.search(r'Plot area (\d+\.?\d*)',area_with_type)
    if match:
      return float(match.group(1))

  return None

In [185]:
all_nan_df['built_up_area']=all_nan_df['areaWithType'].apply(extract_plot_area)

In [186]:
all_nan_df

,price,property_type,area,areaWithType,super_built_up_area,built_up_area,carpet_area
0,7.25,house,2475.0,Plot area 275(229.94 sq.m.),NaN,275.00,NaN
8,3.25,house,1512.0,Plot area 168(140.47 sq.m.),NaN,168.00,NaN
11,8.48,house,3600.0,Plot area 400(334.45 sq.m.),NaN,400.00,NaN
16,NaN,house,NaN,Plot area 670(560.21 sq.m.),NaN,670.00,NaN
29,0.34,house,270.0,Plot area 270(25.08 sq.m.),NaN,270.00,NaN
30,6.80,house,2160.0,Plot area 240(200.67 sq.m.),NaN,240.00,NaN
31,1.00,house,1215.0,Plot area 135(112.88 sq.m.),NaN,135.00,NaN
32,7.49,house,2700.0,Plot area 300(250.84 sq.m.),NaN,300.00,NaN
35,3.51,house,2844.0,Plot area 316(264.22 sq.m.),NaN,316.00,NaN
47,8.40,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.00,NaN
72,6.50,house,2367.0,Plot area 263(219.9 sq.m.),NaN,263.00,NaN
74,6.95,house,1800.0,Plot area 192(160.54 sq.m.),NaN,192.00,NaN
79,25.00,house,8036.0,Plot area 1000(836.13 sq.m.),NaN,1000.00,NaN
98,0.67,house,783.0,Plot area 87(72.74 sq.m.),NaN,87.00,NaN
101,1.15,house,275.0,Plot area 275(25.55 sq.m.),NaN,275.00,NaN
116,0.65,house,1125.0,Plot area 1125(104.52 sq.m.),NaN,1125.00,NaN
124,0.40,house,450.0,Plot area 50(41.81 sq.m.),NaN,50.00,NaN
126,6.50,house,1800.0,Plot area 200(167.23 sq.m.),NaN,200.00,NaN
138,9.50,house,3600.0,Plot area 400(334.45 sq.m.),NaN,400.00,NaN
161,7.50,house,1935.0,Plot area 215(179.77 sq.m.),NaN,215.00,NaN
164,5.50,house,1935.0,Plot area 215(179.77 sq.m.),NaN,215.00,NaN
179,2.20,house,3200.0,Plot area 3200(297.29 sq.m.),NaN,3200.00,NaN
181,6.75,house,2115.0,Plot area 235(196.49 sq.m.),NaN,235.00,NaN
182,10.00,house,2700.0,Plot area 300(250.84 sq.m.),NaN,300.00,NaN
193,5.80,house,1800.0,Plot area 200(167.23 sq.m.),NaN,200.00,NaN
213,6.00,house,2430.0,Plot area 270(225.75 sq.m.),NaN,270.00,NaN
219,7.25,house,2592.0,Plot area 288(240.8 sq.m.),NaN,288.00,NaN
231,31.50,house,9000.0,Plot area 1000(836.13 sq.m.),NaN,1000.00,NaN
240,2.50,house,3542.0,Plot area 3400(315.87 sq.m.),NaN,3400.00,NaN
242,2.10,house,900.0,Plot area 100(83.61 sq.m.),NaN,100.00,NaN
251,NaN,house,NaN,Plot area 350(292.64 sq.m.),NaN,350.00,NaN
255,8.00,house,3600.0,Plot area 400(334.45 sq.m.),NaN,400.00,NaN
259,4.35,house,5481.0,Plot area 5480(509.11 sq.m.),NaN,5480.00,NaN
261,10.50,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.00,NaN
265,0.60,house,57.0,Plot area 57(5.3 sq.m.),NaN,57.00,NaN
267,0.40,house,450.0,Plot area 50(41.81 sq.m.),NaN,50.00,NaN
268,6.75,house,2088.0,Plot area 232(193.98 sq.m.),NaN,232.00,NaN
293,1.30,house,1125.0,Plot area 1125(104.52 sq.m.),NaN,1125.00,NaN
296,11.00,house,4125.0,Plot area 500(418.06 sq.m.),NaN,500.00,NaN
297,0.07,house,277.0,Plot area 33(27.59 sq.m.),NaN,33.00,NaN
300,4.00,house,981.0,Plot area 109(91.14 sq.m.),NaN,109.00,NaN
301,0.40,house,900.0,Plot area 900(83.61 sq.m.),NaN,900.00,NaN
307,3.25,house,1449.0,Plot area 161(134.62 sq.m.),NaN,161.00,NaN
309,8.00,house,7000.0,Plot area 7000(650.32 sq.m.),NaN,7000.00,NaN
317,NaN,house,NaN,Plot area 520(434.79 sq.m.),NaN,520.00,NaN
322,4.00,house,1503.0,Plot area 167(139.63 sq.m.),NaN,167.00,NaN
334,5.00,house,2250.0,Plot area 250(209.03 sq.m.),NaN,250.00,NaN
343,6.25,house,2034.0,Plot area 226(188.96 sq.m.),NaN,226.00,NaN
345,5.70,house,5400.0,Plot area 600(501.68 sq.m.),NaN,600.00,NaN
358,11.25,house,4500.0,Plot area 500(418.06 sq.m.),NaN,500.00,NaN
360,2.40,house,2000.0,Plot area 2000(185.81 sq.m.),NaN,2000.00,NaN
361,3.00,house,1557.0,Plot area 173(144.65 sq.m.),NaN,173.00,NaN
363,10.30,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.00,NaN
372,0.50,house,900.0,Plot area 900(83.61 sq.m.),NaN,900.00,NaN
388,0.70,house,999.0,Plot area 111(92.81 sq.m.),NaN,111.00,NaN
400,11.00,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.00,NaN
404,13.00,house,2700.0,Plot area 300(250.84 sq.m.),NaN,300.00,NaN
410,0.92,house,603.0,Plot area 67(56.02 sq.m.),NaN,67.00,NaN
414,20.00,house,4500.0,Plot area 500(418.06 sq.m.),NaN,500.00,NaN
418,3.50,house,1620.0,Plot area 180(150.5 sq.m.),NaN,180.00,NaN
425,6.50,house,2500.0,Plot area 2500(232.26 sq.m.),NaN,2500.00,NaN
431,1.50,house,1170.0,Plot area 130(108.7 sq.m.),NaN,130.00,NaN
432,5.50,house,1440.0,Plot area 160(133.78 sq.m.),NaN,160.00,NaN
451,8.40,house,4000.0,Plot area 4000(371.61 sq.m.),NaN,4000.00,NaN
465,4.00,house,2499.0,Plot area 270(225.75 sq.m.),NaN,270.00,NaN
467,7.05,house,1503.0,Plot area 167(139.63 sq.m.),NaN,167.00,NaN
471,4.60,house,1460.0,Plot area 1460(135.64 sq.m.),NaN,1460.00,NaN
473,2.50,house,3542.0,Plot area 3400(315.87 sq.m.),NaN,3400.00,NaN
478,0.80,house,146.0,Plot area 146(13.56 sq.m.),NaN,146.00,NaN
479,11.00,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.00,NaN
481,8.81,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.00,NaN
490,0.51,house,360.0,Plot area 40(33.45 sq.m.),NaN,40.00,NaN
491,0.95,house,450.0,Plot area 450(41.81 sq.m.),NaN,450.00,NaN
508,11.75,house,5056.0,Plot area 502(419.74 sq.m.),NaN,502.00,NaN
509,0.60,house,558.0,Plot area 62(51.84 sq.m.),NaN,62.00,NaN
523,6.00,house,2700.0,Plot area 300(250.84 sq.m.),NaN,300.00,NaN
529,2.95,house,1800.0,Plot area 200(167.23 sq.m.),NaN,200.00,NaN
535,0.67,house,76.0,Plot area 76(7.06 sq.m.),NaN,76.00,NaN
540,3.50,house,2367.0,Plot area 263(219.9 sq.m.),NaN,263.00,NaN
542,5.75,house,1935.0,Plot area 215(179.77 sq.m.),NaN,215.00,NaN
572,5.00,house,4950.0,Plot area 550(459.87 sq.m.),NaN,550.00,NaN
578,12.00,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.00,NaN
586,6.44,house,2430.0,Plot area 270(225.75 sq.m.),NaN,270.00,NaN
591,3.60,house,1449.0,Plot area 161(134.62 sq.m.),NaN,161.00,NaN
597,3.50,house,1440.0,Plot area 1440(133.78 sq.m.),NaN,1440.00,NaN
601,1.95,house,1440.0,Plot area 160(133.78 sq.m.),NaN,160.00,NaN
604,0.50,house,450.0,Plot area 450(41.81 sq.m.),NaN,450.00,NaN
611,3.55,house,1449.0,Plot area 161(134.62 sq.m.),NaN,161.00,NaN
612,6.25,house,6228.0,Plot area 692(578.6 sq.m.),NaN,692.00,NaN
614,11.95,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.00,NaN
616,1.95,house,1935.0,Plot area 215(179.77 sq.m.),NaN,215.00,NaN
620,NaN,house,NaN,Plot area 360(301.01 sq.m.),NaN,360.00,NaN
622,8.25,house,1800.0,Plot area 200(167.23 sq.m.),NaN,200.00,NaN
634,5.15,house,1935.0,Plot area 215(179.77 sq.m.),NaN,215.00,NaN
638,2.30,house,1352.0,Plot area 160(133.78 sq.m.),NaN,160.00,NaN
643,1.15,house,594.0,Plot area 66(55.18 sq.m.),NaN,66.00,NaN
651,0.50,house,450.0,Plot area 450(41.81 sq.m.),NaN,450.00,NaN
658,7.35,house,2475.0,Plot area 275(229.94 sq.m.),NaN,275.00,NaN
663,2.10,house,900.0,Plot area 100(83.61 sq.m.),NaN,100.00,NaN
665,6.75,house,232.0,Plot area 232(21.55 sq.m.),NaN,232.00,NaN
671,0.82,house,900.0,Plot area 100(83.61 sq.m.),NaN,100.00,NaN
677,2.75,house,1080.0,Plot area 120(100.34 sq.m.),NaN,120.00,NaN
694,7.25,house,2700.0,Plot area 300(250.84 sq.m.),NaN,300.00,NaN
705,13.50,house,3618.0,Plot area 402(336.12 sq.m.),NaN,402.00,NaN
709,10.00,house,3600.0,Plot area 400(334.45 sq.m.),NaN,400.00,NaN
711,NaN,house,NaN,Plot area 2700(250.84 sq.m.),NaN,2700.00,NaN
714,7.69,house,3195.0,Plot area 355(296.83 sq.m.),NaN,355.00,NaN
739,0.70,house,1160.0,Plot area 1160(107.77 sq.m.),NaN,1160.00,NaN
740,6.30,house,1800.0,Plot area 200(167.23 sq.m.),NaN,200.00,NaN
759,2.00,house,1800.0,Plot area 200(167.23 sq.m.),NaN,200.00,NaN
768,0.96,house,960.0,Plot area 945(87.79 sq.m.),NaN,945.00,NaN
771,2.80,house,2250.0,Plot area 2250(209.03 sq.m.),NaN,2250.00,NaN
775,24.00,house,400.0,Plot area 400(37.16 sq.m.),NaN,400.00,NaN
776,7.60,house,1961.0,Plot area 215(179.77 sq.m.),NaN,215.00,NaN
787,2.00,house,1337.0,Plot area 1337.4(124.25 sq.m.),NaN,1337.40,NaN
797,9.50,house,2844.0,Plot area 316(264.22 sq.m.),NaN,316.00,NaN
808,0.60,house,558.0,Plot area 62(51.84 sq.m.),NaN,62.00,NaN
818,2.10,house,549.0,Plot area 61(51 sq.m.),NaN,61.00,NaN
821,9.90,house,3375.0,Plot area 375(313.55 sq.m.),NaN,375.00,NaN
838,0.60,house,1170.0,Plot area 130(108.7 sq.m.),NaN,130.00,NaN
842,0.65,house,70.0,Plot area 70(6.5 sq.m.),NaN,70.00,NaN
846,4.65,house,2646.0,Plot area 294(245.82 sq.m.),NaN,294.00,NaN
848,4.50,house,1350.0,Plot area 150(125.42 sq.m.),NaN,150.00,NaN
855,1.60,house,558.0,Plot area 62(51.84 sq.m.),NaN,62.00,NaN
862,5.70,house,5400.0,Plot area 600(501.68 sq.m.),NaN,600.00,NaN
863,15.00,house,4500.0,Plot area 500(418.06 sq.m.),NaN,500.00,NaN
866,4.00,house,2250.0,Plot area 250(209.03 sq.m.),NaN,250.00,NaN
868,7.50,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.00,NaN
876,5.00,house,2340.0,Plot area 260(217.39 sq.m.),NaN,260.00,NaN
878,8.00,house,3600.0,Plot area 400(334.45 sq.m.),NaN,400.00,NaN
883,8.50,house,4000.0,Plot area 4000(371.61 sq.m.),NaN,4000.00,NaN
884,9.00,house,2700.0,Plot area 300(250.84 sq.m.),NaN,300.00,NaN
886,5.50,house,2546.0,Plot area 270(225.75 sq.m.),NaN,270.00,NaN
887,7.80,house,3370.0,Plot area 360(301.01 sq.m.),NaN,360.00,NaN
891,0.24,house,450.0,Plot area 450(41.81 sq.m.),NaN,450.00,NaN
893,10.85,house,3762.0,Plot area 418(349.5 sq.m.),NaN,418.00,NaN
899,0.55,house,1350.0,Plot area 1350(125.42 sq.m.),NaN,1350.00,NaN
900,12.50,house,4687.0,Plot area 500(418.06 sq.m.),NaN,500.00,NaN
901,1.85,house,60.0,Plot area 60(5.57 sq.m.),NaN,60.00,NaN
903,4.50,house,2880.0,Plot area 320(267.56 sq.m.),NaN,320.00,NaN
904,9.01,house,5608.0,Plot area 521,NaN,521.00,NaN
909,12.25,house,5850.0,Plot area 5850(543.48 sq.m.),NaN,5850.00,NaN
917,5.88,house,2160.0,Plot area 240(200.67 sq.m.),NaN,240.00,NaN
926,11.00,house,3096.0,Plot area 344(287.63 sq.m.),NaN,344.00,NaN
932,12.00,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.00,NaN
942,1.55,house,1053.0,Plot area 117(97.83 sq.m.),NaN,117.00,NaN
949,1.95,house,920.0,Plot area 920(85.47 sq.m.),NaN,920.00,NaN
954,1.70,house,2160.0,Plot area 240(200.67 sq.m.),NaN,240.00,NaN
971,10.55,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.00,NaN
978,1.70,house,900.0,Plot area 900(83.61 sq.m.),NaN,900.00,NaN
982,0.35,house,360.0,Plot area 40(33.45 sq.m.),NaN,40.00,NaN
1001,8.95,house,5000.0,Plot area 5000(464.52 sq.m.),NaN,5000.00,NaN
1003,7.00,house,6228.0,Plot area 692(578.6 sq.m.),NaN,692.00,NaN
1015,3.60,house,1449.0,Plot area 161(134.62 sq.m.),NaN,161.00,NaN
1020,17.00,house,4500.0,Plot area 4500(418.06 sq.m.),NaN,4500.00,NaN
1023,14.00,house,3510.0,Plot area 390(326.09 sq.m.),NaN,390.00,NaN
1037,5.00,house,3078.0,Plot area 342(285.96 sq.m.),NaN,342.00,NaN
1041,3.75,house,1467.0,Plot area 163(136.29 sq.m.),NaN,163.00,NaN
1043,20.00,house,4091.0,Plot area 500(418.06 sq.m.),NaN,500.00,NaN
1055,17.30,house,4466.0,Plot area 502(419.74 sq.m.),NaN,502.00,NaN
1060,3.20,house,2230.0,Plot area 2160(200.67 sq.m.),NaN,2160.00,NaN
1069,4.50,house,1152.0,Plot area 128(107.02 sq.m.),NaN,128.00,NaN
1075,0.37,house,360.0,Plot area 360(33.45 sq.m.),NaN,360.00,NaN
1079,1.10,house,1800.0,Plot area 200(167.23 sq.m.),NaN,200.00,NaN
1084,0.75,house,1095.0,Plot area 1095(101.73 sq.m.),NaN,1095.00,NaN
1094,9.00,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.00,NaN
1098,9.40,house,3600.0,Plot area 400(334.45 sq.m.),NaN,400.00,NaN
1100,6.00,house,2700.0,Plot area 300(250.84 sq.m.),NaN,300.00,NaN
1103,8.50,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.00,NaN
1109,6.25,house,1800.0,Plot area 200(167.23 sq.m.),NaN,200.00,NaN
1113,5.46,house,2259.0,Plot area 251(209.87 sq.m.),NaN,251.00,NaN
1124,0.75,house,640.0,Plot area 640(59.46 sq.m.),NaN,640.00,NaN
1128,5.51,house,3243.0,Plot area 361(301.84 sq.m.),NaN,361.00,NaN
1136,12.00,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.00,NaN
1139,11.29,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.00,NaN
1145,18.00,house,4500.0,Plot area 500(418.06 sq.m.),NaN,500.00,NaN
1153,2.01,house,1546.0,Plot area 1549(143.91 sq.m.),NaN,1549.00,NaN
1155,3.50,house,1449.0,Plot area 161(134.62 sq.m.),NaN,161.00,NaN
1162,15.10,house,8116.0,Plot area 754,NaN,754.00,NaN
1165,13.50,house,4518.0,Plot area 502(419.74 sq.m.),NaN,502.00,NaN
1191,2.00,house,1440.0,Plot area 160(133.78 sq.m.),NaN,160.00,NaN
1198,9.00,house,900.0,Plot area 900(83.61 sq.m.),NaN,900.00,NaN
1202,3.65,house,3450.0,Plot area 3450(320.52 sq.m.),NaN,3450.00,NaN
1213,4.60,house,3771.0,Plot area 419(350.34 sq.m.),NaN,419.00,NaN
1217,7.10,house,251.0,Plot area 240(22.3 sq.m.),NaN,240.00,NaN
1229,3.65,house,1557.0,Plot area 173(144.65 sq.m.),NaN,173.00,NaN
1235,5.80,house,4518.0,Plot area 502(419.74 sq.m.),NaN,502.00,NaN
1239,0.95,house,1065.0,Plot area 1065(98.94 sq.m.),NaN,1065.00,NaN
1264,6.10,house,2430.0,Plot area 270(225.75 sq.m.),NaN,270.00,NaN
1277,19.50,house,8775.0,Plot area 975(815.22 sq.m.),NaN,975.00,NaN
1291,4.95,house,2403.0,Plot area 267(223.25 sq.m.),NaN,267.00,NaN
1293,4.00,house,6001.0,Plot area 6000(557.42 sq.m.),NaN,6000.00,NaN
1298,8.40,house,2430.0,Plot area 270(225.75 sq.m.),NaN,270.00,NaN
1300,19.50,house,7200.0,Plot area 800(668.9 sq.m.),NaN,800.00,NaN
1301,7.00,house,5400.0,Plot area 600(501.68 sq.m.),NaN,600.00,NaN
1325,1.50,house,1053.0,Plot area 117(97.83 sq.m.),NaN,117.00,NaN
1340,5.00,house,1161.0,Plot area 129(107.86 sq.m.),NaN,129.00,NaN
1354,2.50,house,1800.0,Plot area 1800(167.23 sq.m.),NaN,1800.00,NaN
1356,5.50,house,1800.0,Plot area 200(167.23 sq.m.),NaN,200.00,NaN
1360,0.85,house,13492.0,Plot area 1500(1254.19 sq.m.),NaN,1500.00,NaN
1361,3.25,house,2250.0,Plot area 250(209.03 sq.m.),NaN,250.00,NaN
1368,2.68,house,1557.0,Plot area 173(144.65 sq.m.),NaN,173.00,NaN
1376,2.10,house,900.0,Plot area 900(83.61 sq.m.),NaN,900.00,NaN
1377,3.50,house,1722.0,Plot area 160,NaN,160.00,NaN
1382,0.70,house,684.0,Plot area 684(63.55 sq.m.),NaN,684.00,NaN
1385,18.00,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.00,NaN
1393,5.50,house,1800.0,Plot area 200(167.23 sq.m.),NaN,200.00,NaN
1395,1.60,house,892.0,Plot area 892(82.87 sq.m.),NaN,892.00,NaN
1397,10.75,house,3600.0,Plot area 400(334.45 sq.m.),NaN,400.00,NaN
1407,4.15,house,2250.0,Plot area 250(209.03 sq.m.),NaN,250.00,NaN
1420,4.45,house,1350.0,Plot area 150(125.42 sq.m.),NaN,150.00,NaN
1424,15.00,house,4500.0,Plot area 500(418.06 sq.m.),NaN,500.00,NaN
1443,1.00,house,900.0,Plot area 900(83.61 sq.m.),NaN,900.00,NaN
1461,18.90,house,4518.0,Plot area 502(419.74 sq.m.),NaN,502.00,NaN
1465,10.00,house,250.0,Plot area 250(23.23 sq.m.),NaN,250.00,NaN
1467,17.00,house,4518.0,Plot area 502(419.74 sq.m.),NaN,502.00,NaN
1470,1.60,house,508.0,Plot area 60(50.17 sq.m.),NaN,60.00,NaN
1475,1.25,house,1431.0,Plot area 159(132.94 sq.m.),NaN,159.00,NaN
1479,8.50,house,4770.0,Plot area 530(443.15 sq.m.),NaN,530.00,NaN
1488,9.00,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.00,NaN
1494,4.70,house,2610.0,Plot area 290(242.48 sq.m.),NaN,290.00,NaN
1498,2.75,house,1557.0,Plot area 173(144.65 sq.m.),NaN,173.00,NaN
1507,5.80,house,1935.0,Plot area 215(179.77 sq.m.),NaN,215.00,NaN
1513,2.55,house,1557.0,Plot area 173(144.65 sq.m.),NaN,173.00,NaN
1515,1.70,house,1800.0,Plot area 1800(167.23 sq.m.),NaN,1800.00,NaN
1518,5.50,house,2385.0,Plot area 265(221.57 sq.m.),NaN,265.00,NaN
1520,8.45,house,359.0,Plot area 359(33.35 sq.m.),NaN,359.00,NaN
1530,13.00,house,2700.0,Plot area 300(250.84 sq.m.),NaN,300.00,NaN
1535,3.51,house,2844.0,Plot area 316(264.22 sq.m.),NaN,316.00,NaN
1538,6.50,house,3150.0,Plot area 350(292.64 sq.m.),NaN,350.00,NaN
1543,0.27,house,225.0,Plot area 225(20.9 sq.m.),NaN,225.00,NaN
1549,5.00,house,2367.0,Plot area 263(219.9 sq.m.),NaN,263.00,NaN
1550,0.50,house,600.0,Plot area 600(55.74 sq.m.),NaN,600.00,NaN
1553,12.50,house,3078.0,Plot area 342(285.96 sq.m.),NaN,342.00,NaN
1561,8.50,house,2700.0,Plot area 300(250.84 sq.m.),NaN,300.00,NaN
1565,8.00,house,4518.0,Plot area 502(419.74 sq.m.),NaN,502.00,NaN
1569,4.50,house,1350.0,Plot area 150(125.42 sq.m.),NaN,150.00,NaN
1570,3.00,house,558.0,Plot area 62(51.84 sq.m.),NaN,62.00,NaN
1581,0.59,house,585.0,Plot area 585(54.35 sq.m.),NaN,585.00,NaN
1582,0.65,house,500.0,Plot area 500(46.45 sq.m.),NaN,500.00,NaN
1594,6.20,house,2430.0,Plot area 270(225.75 sq.m.),NaN,270.00,NaN
1595,13.50,house,4518.0,Plot area 502(419.74 sq.m.),NaN,502.00,NaN
1596,7.00,house,2475.0,Plot area 275(229.94 sq.m.),NaN,275.00,NaN
1619,15.50,house,4518.0,Plot area 502(419.74 sq.m.),NaN,502.00,NaN
1625,12.39,house,2700.0,Plot area 300(250.84 sq.m.),NaN,300.00,NaN
1629,5.50,house,300.0,Plot area 300(27.87 sq.m.),NaN,300.00,NaN
1635,4.75,house,5067.0,Plot area 563(470.74 sq.m.),NaN,563.00,NaN
1638,3.25,house,1070.0,Plot area 1069.63(99.37 sq.m.),NaN,1069.63,NaN
1639,18.00,house,4518.0,Plot area 502(419.74 sq.m.),NaN,502.00,NaN
1641,3.10,house,1548.0,Plot area 172(143.81 sq.m.),NaN,172.00,NaN
1651,5.60,house,4000.0,Plot area 4000(371.61 sq.m.),NaN,4000.00,NaN
1652,8.00,house,3600.0,Plot area 400(334.45 sq.m.),NaN,400.00,NaN
1663,12.50,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.00,NaN
1673,1.45,house,540.0,Plot area 60(50.17 sq.m.),NaN,60.00,NaN
1691,0.65,house,585.0,Plot area 65(54.35 sq.m.),NaN,65.00,NaN
1696,23.00,house,9000.0,Plot area 1000(836.13 sq.m.),NaN,1000.00,NaN
1699,2.50,house,1557.0,Plot area 173(144.65 sq.m.),NaN,173.00,NaN
1712,3.15,house,1548.0,Plot area 172(143.81 sq.m.),NaN,172.00,NaN
1713,0.85,house,67.0,Plot area 67(6.22 sq.m.),NaN,67.00,NaN
1730,4.30,house,1467.0,Plot area 163(136.29 sq.m.),NaN,163.00,NaN
1734,6.21,house,2700.0,Plot area 300(250.84 sq.m.),NaN,300.00,NaN
1742,6.50,house,2844.0,Plot area 316(264.22 sq.m.),NaN,316.00,NaN
1749,6.50,house,1800.0,Plot area 200(167.23 sq.m.),NaN,200.00,NaN
1754,6.25,house,9001.0,Plot area 1000(836.13 sq.m.),NaN,1000.00,NaN
1794,12.00,house,3150.0,Plot area 350(292.64 sq.m.),NaN,350.00,NaN
1798,9.50,house,3600.0,Plot area 400(334.45 sq.m.),NaN,400.00,NaN
1811,3.30,house,1665.0,Plot area 185(154.68 sq.m.),NaN,185.00,NaN
1812,4.00,house,1350.0,Plot area 150(125.42 sq.m.),NaN,150.00,NaN
1813,9.00,house,3159.0,Plot area 351(293.48 sq.m.),NaN,351.00,NaN
1819,6.00,house,1800.0,Plot area 200(167.23 sq.m.),NaN,200.00,NaN
1845,7.00,house,2160.0,Plot area 240(200.67 sq.m.),NaN,240.00,NaN
1852,12.50,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.00,NaN
1856,1.70,house,945.0,Plot area 900(83.61 sq.m.),NaN,900.00,NaN
1865,6.00,house,2700.0,Plot area 300(250.84 sq.m.),NaN,300.00,NaN
1866,4.95,house,2430.0,Plot area 270(225.75 sq.m.),NaN,270.00,NaN
1870,5.25,house,1935.0,Plot area 215(179.77 sq.m.),NaN,215.00,NaN
1882,0.75,house,360.0,Plot area 40(33.45 sq.m.),NaN,40.00,NaN
1887,11.50,house,4680.0,Plot area 520(434.79 sq.m.),NaN,520.00,NaN
1922,6.00,house,2430.0,Plot area 270(225.75 sq.m.),NaN,270.00,NaN
1925,8.00,house,300.0,Plot area 300(27.87 sq.m.),NaN,300.00,NaN
1937,5.80,house,1800.0,Plot area 200(167.23 sq.m.),NaN,200.00,NaN
1938,0.95,house,1070.0,Plot area 1070(99.41 sq.m.),NaN,1070.00,NaN
1946,8.50,house,6300.0,Plot area 6300(585.29 sq.m.),NaN,6300.00,NaN
1949,0.29,house,891.0,Plot area 891(82.78 sq.m.),NaN,891.00,NaN
1959,5.60,house,2700.0,Plot area 300(250.84 sq.m.),NaN,300.00,NaN
1972,2.25,house,1440.0,Plot area 160(133.78 sq.m.),NaN,160.00,NaN
1985,16.00,house,4235.0,Plot area 500(418.06 sq.m.),NaN,500.00,NaN
1997,1.10,house,1782.0,Plot area 1782(165.55 sq.m.),NaN,1782.00,NaN
2007,NaN,house,NaN,Plot area 500(418.06 sq.m.),NaN,500.00,NaN
2025,10.85,house,2844.0,Plot area 316(264.22 sq.m.),NaN,316.00,NaN
2031,0.75,house,713.0,Plot area 713(66.24 sq.m.),NaN,713.00,NaN
2037,14.75,house,2844.0,Plot area 316(264.22 sq.m.),NaN,316.00,NaN
2039,5.00,house,215517.0,Plot area 2(1011.71 sq.m.),NaN,2.00,NaN
2041,0.50,house,540.0,Plot area 540(50.17 sq.m.),NaN,540.00,NaN
2056,5.50,house,1800.0,Plot area 200(167.23 sq.m.),NaN,200.00,NaN
2063,5.30,house,1935.0,Plot area 215(179.77 sq.m.),NaN,215.00,NaN
2072,4.45,house,1265.0,Plot area 150(125.42 sq.m.),NaN,150.00,NaN
2077,6.60,house,1800.0,Plot area 200(167.23 sq.m.),NaN,200.00,NaN
2080,11.25,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.00,NaN
2086,12.50,house,3600.0,Plot area 400(334.45 sq.m.),NaN,400.00,NaN
2093,2.50,house,3194.0,Plot area 3194(296.73 sq.m.),NaN,3194.00,NaN
2098,2.40,house,2700.0,Plot area 300(250.84 sq.m.),NaN,300.00,NaN
2112,9.55,house,4950.0,Plot area 550(459.87 sq.m.),NaN,550.00,NaN
2116,0.99,house,576.0,Plot area 64(53.51 sq.m.),NaN,64.00,NaN
2118,3.50,house,1350.0,Plot area 150(125.42 sq.m.),NaN,150.00,NaN
2127,5.00,house,2367.0,Plot area 263(219.9 sq.m.),NaN,263.00,NaN

In [187]:
#converting sq yard to sq ft and sq m to sq ft
def convert_scale(row):

  if np.isnan(row['area']) or np.isnan(row['built_up_area']):
    return row['built_up_area']

  else:
    if round(row['area']/row['built_up_area'])==9.0:
      return row['built_up_area']*9

    elif round(row['area']/row['built_up_area'])==11.0:
      return row['built_up_area']*10.7

    else:
         return row['built_up_area']

In [188]:
all_nan_df['built_up_area']=all_nan_df.apply(convert_scale,axis=1)

In [189]:
all_nan_df

,price,property_type,area,areaWithType,super_built_up_area,built_up_area,carpet_area
0,7.25,house,2475.0,Plot area 275(229.94 sq.m.),NaN,2475.00,NaN
8,3.25,house,1512.0,Plot area 168(140.47 sq.m.),NaN,1512.00,NaN
11,8.48,house,3600.0,Plot area 400(334.45 sq.m.),NaN,3600.00,NaN
16,NaN,house,NaN,Plot area 670(560.21 sq.m.),NaN,670.00,NaN
29,0.34,house,270.0,Plot area 270(25.08 sq.m.),NaN,270.00,NaN
30,6.80,house,2160.0,Plot area 240(200.67 sq.m.),NaN,2160.00,NaN
31,1.00,house,1215.0,Plot area 135(112.88 sq.m.),NaN,1215.00,NaN
32,7.49,house,2700.0,Plot area 300(250.84 sq.m.),NaN,2700.00,NaN
35,3.51,house,2844.0,Plot area 316(264.22 sq.m.),NaN,2844.00,NaN
47,8.40,house,3240.0,Plot area 360(301.01 sq.m.),NaN,3240.00,NaN
72,6.50,house,2367.0,Plot area 263(219.9 sq.m.),NaN,2367.00,NaN
74,6.95,house,1800.0,Plot area 192(160.54 sq.m.),NaN,1728.00,NaN
79,25.00,house,8036.0,Plot area 1000(836.13 sq.m.),NaN,1000.00,NaN
98,0.67,house,783.0,Plot area 87(72.74 sq.m.),NaN,783.00,NaN
101,1.15,house,275.0,Plot area 275(25.55 sq.m.),NaN,275.00,NaN
116,0.65,house,1125.0,Plot area 1125(104.52 sq.m.),NaN,1125.00,NaN
124,0.40,house,450.0,Plot area 50(41.81 sq.m.),NaN,450.00,NaN
126,6.50,house,1800.0,Plot area 200(167.23 sq.m.),NaN,1800.00,NaN
138,9.50,house,3600.0,Plot area 400(334.45 sq.m.),NaN,3600.00,NaN
161,7.50,house,1935.0,Plot area 215(179.77 sq.m.),NaN,1935.00,NaN
164,5.50,house,1935.0,Plot area 215(179.77 sq.m.),NaN,1935.00,NaN
179,2.20,house,3200.0,Plot area 3200(297.29 sq.m.),NaN,3200.00,NaN
181,6.75,house,2115.0,Plot area 235(196.49 sq.m.),NaN,2115.00,NaN
182,10.00,house,2700.0,Plot area 300(250.84 sq.m.),NaN,2700.00,NaN
193,5.80,house,1800.0,Plot area 200(167.23 sq.m.),NaN,1800.00,NaN
213,6.00,house,2430.0,Plot area 270(225.75 sq.m.),NaN,2430.00,NaN
219,7.25,house,2592.0,Plot area 288(240.8 sq.m.),NaN,2592.00,NaN
231,31.50,house,9000.0,Plot area 1000(836.13 sq.m.),NaN,9000.00,NaN
240,2.50,house,3542.0,Plot area 3400(315.87 sq.m.),NaN,3400.00,NaN
242,2.10,house,900.0,Plot area 100(83.61 sq.m.),NaN,900.00,NaN
251,NaN,house,NaN,Plot area 350(292.64 sq.m.),NaN,350.00,NaN
255,8.00,house,3600.0,Plot area 400(334.45 sq.m.),NaN,3600.00,NaN
259,4.35,house,5481.0,Plot area 5480(509.11 sq.m.),NaN,5480.00,NaN
261,10.50,house,3240.0,Plot area 360(301.01 sq.m.),NaN,3240.00,NaN
265,0.60,house,57.0,Plot area 57(5.3 sq.m.),NaN,57.00,NaN
267,0.40,house,450.0,Plot area 50(41.81 sq.m.),NaN,450.00,NaN
268,6.75,house,2088.0,Plot area 232(193.98 sq.m.),NaN,2088.00,NaN
293,1.30,house,1125.0,Plot area 1125(104.52 sq.m.),NaN,1125.00,NaN
296,11.00,house,4125.0,Plot area 500(418.06 sq.m.),NaN,500.00,NaN
297,0.07,house,277.0,Plot area 33(27.59 sq.m.),NaN,33.00,NaN
300,4.00,house,981.0,Plot area 109(91.14 sq.m.),NaN,981.00,NaN
301,0.40,house,900.0,Plot area 900(83.61 sq.m.),NaN,900.00,NaN
307,3.25,house,1449.0,Plot area 161(134.62 sq.m.),NaN,1449.00,NaN
309,8.00,house,7000.0,Plot area 7000(650.32 sq.m.),NaN,7000.00,NaN
317,NaN,house,NaN,Plot area 520(434.79 sq.m.),NaN,520.00,NaN
322,4.00,house,1503.0,Plot area 167(139.63 sq.m.),NaN,1503.00,NaN
334,5.00,house,2250.0,Plot area 250(209.03 sq.m.),NaN,2250.00,NaN
343,6.25,house,2034.0,Plot area 226(188.96 sq.m.),NaN,2034.00,NaN
345,5.70,house,5400.0,Plot area 600(501.68 sq.m.),NaN,5400.00,NaN
358,11.25,house,4500.0,Plot area 500(418.06 sq.m.),NaN,4500.00,NaN
360,2.40,house,2000.0,Plot area 2000(185.81 sq.m.),NaN,2000.00,NaN
361,3.00,house,1557.0,Plot area 173(144.65 sq.m.),NaN,1557.00,NaN
363,10.30,house,3240.0,Plot area 360(301.01 sq.m.),NaN,3240.00,NaN
372,0.50,house,900.0,Plot area 900(83.61 sq.m.),NaN,900.00,NaN
388,0.70,house,999.0,Plot area 111(92.81 sq.m.),NaN,999.00,NaN
400,11.00,house,3240.0,Plot area 360(301.01 sq.m.),NaN,3240.00,NaN
404,13.00,house,2700.0,Plot area 300(250.84 sq.m.),NaN,2700.00,NaN
410,0.92,house,603.0,Plot area 67(56.02 sq.m.),NaN,603.00,NaN
414,20.00,house,4500.0,Plot area 500(418.06 sq.m.),NaN,4500.00,NaN
418,3.50,house,1620.0,Plot area 180(150.5 sq.m.),NaN,1620.00,NaN
425,6.50,house,2500.0,Plot area 2500(232.26 sq.m.),NaN,2500.00,NaN
431,1.50,house,1170.0,Plot area 130(108.7 sq.m.),NaN,1170.00,NaN
432,5.50,house,1440.0,Plot area 160(133.78 sq.m.),NaN,1440.00,NaN
451,8.40,house,4000.0,Plot area 4000(371.61 sq.m.),NaN,4000.00,NaN
465,4.00,house,2499.0,Plot area 270(225.75 sq.m.),NaN,2430.00,NaN
467,7.05,house,1503.0,Plot area 167(139.63 sq.m.),NaN,1503.00,NaN
471,4.60,house,1460.0,Plot area 1460(135.64 sq.m.),NaN,1460.00,NaN
473,2.50,house,3542.0,Plot area 3400(315.87 sq.m.),NaN,3400.00,NaN
478,0.80,house,146.0,Plot area 146(13.56 sq.m.),NaN,146.00,NaN
479,11.00,house,3240.0,Plot area 360(301.01 sq.m.),NaN,3240.00,NaN
481,8.81,house,3240.0,Plot area 360(301.01 sq.m.),NaN,3240.00,NaN
490,0.51,house,360.0,Plot area 40(33.45 sq.m.),NaN,360.00,NaN
491,0.95,house,450.0,Plot area 450(41.81 sq.m.),NaN,450.00,NaN
508,11.75,house,5056.0,Plot area 502(419.74 sq.m.),NaN,502.00,NaN
509,0.60,house,558.0,Plot area 62(51.84 sq.m.),NaN,558.00,NaN
523,6.00,house,2700.0,Plot area 300(250.84 sq.m.),NaN,2700.00,NaN
529,2.95,house,1800.0,Plot area 200(167.23 sq.m.),NaN,1800.00,NaN
535,0.67,house,76.0,Plot area 76(7.06 sq.m.),NaN,76.00,NaN
540,3.50,house,2367.0,Plot area 263(219.9 sq.m.),NaN,2367.00,NaN
542,5.75,house,1935.0,Plot area 215(179.77 sq.m.),NaN,1935.00,NaN
572,5.00,house,4950.0,Plot area 550(459.87 sq.m.),NaN,4950.00,NaN
578,12.00,house,3240.0,Plot area 360(301.01 sq.m.),NaN,3240.00,NaN
586,6.44,house,2430.0,Plot area 270(225.75 sq.m.),NaN,2430.00,NaN
591,3.60,house,1449.0,Plot area 161(134.62 sq.m.),NaN,1449.00,NaN
597,3.50,house,1440.0,Plot area 1440(133.78 sq.m.),NaN,1440.00,NaN
601,1.95,house,1440.0,Plot area 160(133.78 sq.m.),NaN,1440.00,NaN
604,0.50,house,450.0,Plot area 450(41.81 sq.m.),NaN,450.00,NaN
611,3.55,house,1449.0,Plot area 161(134.62 sq.m.),NaN,1449.00,NaN
612,6.25,house,6228.0,Plot area 692(578.6 sq.m.),NaN,6228.00,NaN
614,11.95,house,3240.0,Plot area 360(301.01 sq.m.),NaN,3240.00,NaN
616,1.95,house,1935.0,Plot area 215(179.77 sq.m.),NaN,1935.00,NaN
620,NaN,house,NaN,Plot area 360(301.01 sq.m.),NaN,360.00,NaN
622,8.25,house,1800.0,Plot area 200(167.23 sq.m.),NaN,1800.00,NaN
634,5.15,house,1935.0,Plot area 215(179.77 sq.m.),NaN,1935.00,NaN
638,2.30,house,1352.0,Plot area 160(133.78 sq.m.),NaN,160.00,NaN
643,1.15,house,594.0,Plot area 66(55.18 sq.m.),NaN,594.00,NaN
651,0.50,house,450.0,Plot area 450(41.81 sq.m.),NaN,450.00,NaN
658,7.35,house,2475.0,Plot area 275(229.94 sq.m.),NaN,2475.00,NaN
663,2.10,house,900.0,Plot area 100(83.61 sq.m.),NaN,900.00,NaN
665,6.75,house,232.0,Plot area 232(21.55 sq.m.),NaN,232.00,NaN
671,0.82,house,900.0,Plot area 100(83.61 sq.m.),NaN,900.00,NaN
677,2.75,house,1080.0,Plot area 120(100.34 sq.m.),NaN,1080.00,NaN
694,7.25,house,2700.0,Plot area 300(250.84 sq.m.),NaN,2700.00,NaN
705,13.50,house,3618.0,Plot area 402(336.12 sq.m.),NaN,3618.00,NaN
709,10.00,house,3600.0,Plot area 400(334.45 sq.m.),NaN,3600.00,NaN
711,NaN,house,NaN,Plot area 2700(250.84 sq.m.),NaN,2700.00,NaN
714,7.69,house,3195.0,Plot area 355(296.83 sq.m.),NaN,3195.00,NaN
739,0.70,house,1160.0,Plot area 1160(107.77 sq.m.),NaN,1160.00,NaN
740,6.30,house,1800.0,Plot area 200(167.23 sq.m.),NaN,1800.00,NaN
759,2.00,house,1800.0,Plot area 200(167.23 sq.m.),NaN,1800.00,NaN
768,0.96,house,960.0,Plot area 945(87.79 sq.m.),NaN,945.00,NaN
771,2.80,house,2250.0,Plot area 2250(209.03 sq.m.),NaN,2250.00,NaN
775,24.00,house,400.0,Plot area 400(37.16 sq.m.),NaN,400.00,NaN
776,7.60,house,1961.0,Plot area 215(179.77 sq.m.),NaN,1935.00,NaN
787,2.00,house,1337.0,Plot area 1337.4(124.25 sq.m.),NaN,1337.40,NaN
797,9.50,house,2844.0,Plot area 316(264.22 sq.m.),NaN,2844.00,NaN
808,0.60,house,558.0,Plot area 62(51.84 sq.m.),NaN,558.00,NaN
818,2.10,house,549.0,Plot area 61(51 sq.m.),NaN,549.00,NaN
821,9.90,house,3375.0,Plot area 375(313.55 sq.m.),NaN,3375.00,NaN
838,0.60,house,1170.0,Plot area 130(108.7 sq.m.),NaN,1170.00,NaN
842,0.65,house,70.0,Plot area 70(6.5 sq.m.),NaN,70.00,NaN
846,4.65,house,2646.0,Plot area 294(245.82 sq.m.),NaN,2646.00,NaN
848,4.50,house,1350.0,Plot area 150(125.42 sq.m.),NaN,1350.00,NaN
855,1.60,house,558.0,Plot area 62(51.84 sq.m.),NaN,558.00,NaN
862,5.70,house,5400.0,Plot area 600(501.68 sq.m.),NaN,5400.00,NaN
863,15.00,house,4500.0,Plot area 500(418.06 sq.m.),NaN,4500.00,NaN
866,4.00,house,2250.0,Plot area 250(209.03 sq.m.),NaN,2250.00,NaN
868,7.50,house,3240.0,Plot area 360(301.01 sq.m.),NaN,3240.00,NaN
876,5.00,house,2340.0,Plot area 260(217.39 sq.m.),NaN,2340.00,NaN
878,8.00,house,3600.0,Plot area 400(334.45 sq.m.),NaN,3600.00,NaN
883,8.50,house,4000.0,Plot area 4000(371.61 sq.m.),NaN,4000.00,NaN
884,9.00,house,2700.0,Plot area 300(250.84 sq.m.),NaN,2700.00,NaN
886,5.50,house,2546.0,Plot area 270(225.75 sq.m.),NaN,2430.00,NaN
887,7.80,house,3370.0,Plot area 360(301.01 sq.m.),NaN,3240.00,NaN
891,0.24,house,450.0,Plot area 450(41.81 sq.m.),NaN,450.00,NaN
893,10.85,house,3762.0,Plot area 418(349.5 sq.m.),NaN,3762.00,NaN
899,0.55,house,1350.0,Plot area 1350(125.42 sq.m.),NaN,1350.00,NaN
900,12.50,house,4687.0,Plot area 500(418.06 sq.m.),NaN,4500.00,NaN
901,1.85,house,60.0,Plot area 60(5.57 sq.m.),NaN,60.00,NaN
903,4.50,house,2880.0,Plot area 320(267.56 sq.m.),NaN,2880.00,NaN
904,9.01,house,5608.0,Plot area 521,NaN,5574.70,NaN
909,12.25,house,5850.0,Plot area 5850(543.48 sq.m.),NaN,5850.00,NaN
917,5.88,house,2160.0,Plot area 240(200.67 sq.m.),NaN,2160.00,NaN
926,11.00,house,3096.0,Plot area 344(287.63 sq.m.),NaN,3096.00,NaN
932,12.00,house,3240.0,Plot area 360(301.01 sq.m.),NaN,3240.00,NaN
942,1.55,house,1053.0,Plot area 117(97.83 sq.m.),NaN,1053.00,NaN
949,1.95,house,920.0,Plot area 920(85.47 sq.m.),NaN,920.00,NaN
954,1.70,house,2160.0,Plot area 240(200.67 sq.m.),NaN,2160.00,NaN
971,10.55,house,3240.0,Plot area 360(301.01 sq.m.),NaN,3240.00,NaN
978,1.70,house,900.0,Plot area 900(83.61 sq.m.),NaN,900.00,NaN
982,0.35,house,360.0,Plot area 40(33.45 sq.m.),NaN,360.00,NaN
1001,8.95,house,5000.0,Plot area 5000(464.52 sq.m.),NaN,5000.00,NaN
1003,7.00,house,6228.0,Plot area 692(578.6 sq.m.),NaN,6228.00,NaN
1015,3.60,house,1449.0,Plot area 161(134.62 sq.m.),NaN,1449.00,NaN
1020,17.00,house,4500.0,Plot area 4500(418.06 sq.m.),NaN,4500.00,NaN
1023,14.00,house,3510.0,Plot area 390(326.09 sq.m.),NaN,3510.00,NaN
1037,5.00,house,3078.0,Plot area 342(285.96 sq.m.),NaN,3078.00,NaN
1041,3.75,house,1467.0,Plot area 163(136.29 sq.m.),NaN,1467.00,NaN
1043,20.00,house,4091.0,Plot area 500(418.06 sq.m.),NaN,500.00,NaN
1055,17.30,house,4466.0,Plot area 502(419.74 sq.m.),NaN,4518.00,NaN
1060,3.20,house,2230.0,Plot area 2160(200.67 sq.m.),NaN,2160.00,NaN
1069,4.50,house,1152.0,Plot area 128(107.02 sq.m.),NaN,1152.00,NaN
1075,0.37,house,360.0,Plot area 360(33.45 sq.m.),NaN,360.00,NaN
1079,1.10,house,1800.0,Plot area 200(167.23 sq.m.),NaN,1800.00,NaN
1084,0.75,house,1095.0,Plot area 1095(101.73 sq.m.),NaN,1095.00,NaN
1094,9.00,house,3240.0,Plot area 360(301.01 sq.m.),NaN,3240.00,NaN
1098,9.40,house,3600.0,Plot area 400(334.45 sq.m.),NaN,3600.00,NaN
1100,6.00,house,2700.0,Plot area 300(250.84 sq.m.),NaN,2700.00,NaN
1103,8.50,house,3240.0,Plot area 360(301.01 sq.m.),NaN,3240.00,NaN
1109,6.25,house,1800.0,Plot area 200(167.23 sq.m.),NaN,1800.00,NaN
1113,5.46,house,2259.0,Plot area 251(209.87 sq.m.),NaN,2259.00,NaN
1124,0.75,house,640.0,Plot area 640(59.46 sq.m.),NaN,640.00,NaN
1128,5.51,house,3243.0,Plot area 361(301.84 sq.m.),NaN,3249.00,NaN
1136,12.00,house,3240.0,Plot area 360(301.01 sq.m.),NaN,3240.00,NaN
1139,11.29,house,3240.0,Plot area 360(301.01 sq.m.),NaN,3240.00,NaN
1145,18.00,house,4500.0,Plot area 500(418.06 sq.m.),NaN,4500.00,NaN
1153,2.01,house,1546.0,Plot area 1549(143.91 sq.m.),NaN,1549.00,NaN
1155,3.50,house,1449.0,Plot area 161(134.62 sq.m.),NaN,1449.00,NaN
1162,15.10,house,8116.0,Plot area 754,NaN,8067.80,NaN
1165,13.50,house,4518.0,Plot area 502(419.74 sq.m.),NaN,4518.00,NaN
1191,2.00,house,1440.0,Plot area 160(133.78 sq.m.),NaN,1440.00,NaN
1198,9.00,house,900.0,Plot area 900(83.61 sq.m.),NaN,900.00,NaN
1202,3.65,house,3450.0,Plot area 3450(320.52 sq.m.),NaN,3450.00,NaN
1213,4.60,house,3771.0,Plot area 419(350.34 sq.m.),NaN,3771.00,NaN
1217,7.10,house,251.0,Plot area 240(22.3 sq.m.),NaN,240.00,NaN
1229,3.65,house,1557.0,Plot area 173(144.65 sq.m.),NaN,1557.00,NaN
1235,5.80,house,4518.0,Plot area 502(419.74 sq.m.),NaN,4518.00,NaN
1239,0.95,house,1065.0,Plot area 1065(98.94 sq.m.),NaN,1065.00,NaN
1264,6.10,house,2430.0,Plot area 270(225.75 sq.m.),NaN,2430.00,NaN
1277,19.50,house,8775.0,Plot area 975(815.22 sq.m.),NaN,8775.00,NaN
1291,4.95,house,2403.0,Plot area 267(223.25 sq.m.),NaN,2403.00,NaN
1293,4.00,house,6001.0,Plot area 6000(557.42 sq.m.),NaN,6000.00,NaN
1298,8.40,house,2430.0,Plot area 270(225.75 sq.m.),NaN,2430.00,NaN
1300,19.50,house,7200.0,Plot area 800(668.9 sq.m.),NaN,7200.00,NaN
1301,7.00,house,5400.0,Plot area 600(501.68 sq.m.),NaN,5400.00,NaN
1325,1.50,house,1053.0,Plot area 117(97.83 sq.m.),NaN,1053.00,NaN
1340,5.00,house,1161.0,Plot area 129(107.86 sq.m.),NaN,1161.00,NaN
1354,2.50,house,1800.0,Plot area 1800(167.23 sq.m.),NaN,1800.00,NaN
1356,5.50,house,1800.0,Plot area 200(167.23 sq.m.),NaN,1800.00,NaN
1360,0.85,house,13492.0,Plot area 1500(1254.19 sq.m.),NaN,13500.00,NaN
1361,3.25,house,2250.0,Plot area 250(209.03 sq.m.),NaN,2250.00,NaN
1368,2.68,house,1557.0,Plot area 173(144.65 sq.m.),NaN,1557.00,NaN
1376,2.10,house,900.0,Plot area 900(83.61 sq.m.),NaN,900.00,NaN
1377,3.50,house,1722.0,Plot area 160,NaN,1712.00,NaN
1382,0.70,house,684.0,Plot area 684(63.55 sq.m.),NaN,684.00,NaN
1385,18.00,house,3240.0,Plot area 360(301.01 sq.m.),NaN,3240.00,NaN
1393,5.50,house,1800.0,Plot area 200(167.23 sq.m.),NaN,1800.00,NaN
1395,1.60,house,892.0,Plot area 892(82.87 sq.m.),NaN,892.00,NaN
1397,10.75,house,3600.0,Plot area 400(334.45 sq.m.),NaN,3600.00,NaN
1407,4.15,house,2250.0,Plot area 250(209.03 sq.m.),NaN,2250.00,NaN
1420,4.45,house,1350.0,Plot area 150(125.42 sq.m.),NaN,1350.00,NaN
1424,15.00,house,4500.0,Plot area 500(418.06 sq.m.),NaN,4500.00,NaN
1443,1.00,house,900.0,Plot area 900(83.61 sq.m.),NaN,900.00,NaN
1461,18.90,house,4518.0,Plot area 502(419.74 sq.m.),NaN,4518.00,NaN
1465,10.00,house,250.0,Plot area 250(23.23 sq.m.),NaN,250.00,NaN
1467,17.00,house,4518.0,Plot area 502(419.74 sq.m.),NaN,4518.00,NaN
1470,1.60,house,508.0,Plot area 60(50.17 sq.m.),NaN,60.00,NaN
1475,1.25,house,1431.0,Plot area 159(132.94 sq.m.),NaN,1431.00,NaN
1479,8.50,house,4770.0,Plot area 530(443.15 sq.m.),NaN,4770.00,NaN
1488,9.00,house,3240.0,Plot area 360(301.01 sq.m.),NaN,3240.00,NaN
1494,4.70,house,2610.0,Plot area 290(242.48 sq.m.),NaN,2610.00,NaN
1498,2.75,house,1557.0,Plot area 173(144.65 sq.m.),NaN,1557.00,NaN
1507,5.80,house,1935.0,Plot area 215(179.77 sq.m.),NaN,1935.00,NaN
1513,2.55,house,1557.0,Plot area 173(144.65 sq.m.),NaN,1557.00,NaN
1515,1.70,house,1800.0,Plot area 1800(167.23 sq.m.),NaN,1800.00,NaN
1518,5.50,house,2385.0,Plot area 265(221.57 sq.m.),NaN,2385.00,NaN
1520,8.45,house,359.0,Plot area 359(33.35 sq.m.),NaN,359.00,NaN
1530,13.00,house,2700.0,Plot area 300(250.84 sq.m.),NaN,2700.00,NaN
1535,3.51,house,2844.0,Plot area 316(264.22 sq.m.),NaN,2844.00,NaN
1538,6.50,house,3150.0,Plot area 350(292.64 sq.m.),NaN,3150.00,NaN
1543,0.27,house,225.0,Plot area 225(20.9 sq.m.),NaN,225.00,NaN
1549,5.00,house,2367.0,Plot area 263(219.9 sq.m.),NaN,2367.00,NaN
1550,0.50,house,600.0,Plot area 600(55.74 sq.m.),NaN,600.00,NaN
1553,12.50,house,3078.0,Plot area 342(285.96 sq.m.),NaN,3078.00,NaN
1561,8.50,house,2700.0,Plot area 300(250.84 sq.m.),NaN,2700.00,NaN
1565,8.00,house,4518.0,Plot area 502(419.74 sq.m.),NaN,4518.00,NaN
1569,4.50,house,1350.0,Plot area 150(125.42 sq.m.),NaN,1350.00,NaN
1570,3.00,house,558.0,Plot area 62(51.84 sq.m.),NaN,558.00,NaN
1581,0.59,house,585.0,Plot area 585(54.35 sq.m.),NaN,585.00,NaN
1582,0.65,house,500.0,Plot area 500(46.45 sq.m.),NaN,500.00,NaN
1594,6.20,house,2430.0,Plot area 270(225.75 sq.m.),NaN,2430.00,NaN
1595,13.50,house,4518.0,Plot area 502(419.74 sq.m.),NaN,4518.00,NaN
1596,7.00,house,2475.0,Plot area 275(229.94 sq.m.),NaN,2475.00,NaN
1619,15.50,house,4518.0,Plot area 502(419.74 sq.m.),NaN,4518.00,NaN
1625,12.39,house,2700.0,Plot area 300(250.84 sq.m.),NaN,2700.00,NaN
1629,5.50,house,300.0,Plot area 300(27.87 sq.m.),NaN,300.00,NaN
1635,4.75,house,5067.0,Plot area 563(470.74 sq.m.),NaN,5067.00,NaN
1638,3.25,house,1070.0,Plot area 1069.63(99.37 sq.m.),NaN,1069.63,NaN
1639,18.00,house,4518.0,Plot area 502(419.74 sq.m.),NaN,4518.00,NaN
1641,3.10,house,1548.0,Plot area 172(143.81 sq.m.),NaN,1548.00,NaN
1651,5.60,house,4000.0,Plot area 4000(371.61 sq.m.),NaN,4000.00,NaN
1652,8.00,house,3600.0,Plot area 400(334.45 sq.m.),NaN,3600.00,NaN
1663,12.50,house,3240.0,Plot area 360(301.01 sq.m.),NaN,3240.00,NaN
1673,1.45,house,540.0,Plot area 60(50.17 sq.m.),NaN,540.00,NaN
1691,0.65,house,585.0,Plot area 65(54.35 sq.m.),NaN,585.00,NaN
1696,23.00,house,9000.0,Plot area 1000(836.13 sq.m.),NaN,9000.00,NaN
1699,2.50,house,1557.0,Plot area 173(144.65 sq.m.),NaN,1557.00,NaN
1712,3.15,house,1548.0,Plot area 172(143.81 sq.m.),NaN,1548.00,NaN
1713,0.85,house,67.0,Plot area 67(6.22 sq.m.),NaN,67.00,NaN
1730,4.30,house,1467.0,Plot area 163(136.29 sq.m.),NaN,1467.00,NaN
1734,6.21,house,2700.0,Plot area 300(250.84 sq.m.),NaN,2700.00,NaN
1742,6.50,house,2844.0,Plot area 316(264.22 sq.m.),NaN,2844.00,NaN
1749,6.50,house,1800.0,Plot area 200(167.23 sq.m.),NaN,1800.00,NaN
1754,6.25,house,9001.0,Plot area 1000(836.13 sq.m.),NaN,9000.00,NaN
1794,12.00,house,3150.0,Plot area 350(292.64 sq.m.),NaN,3150.00,NaN
1798,9.50,house,3600.0,Plot area 400(334.45 sq.m.),NaN,3600.00,NaN
1811,3.30,house,1665.0,Plot area 185(154.68 sq.m.),NaN,1665.00,NaN
1812,4.00,house,1350.0,Plot area 150(125.42 sq.m.),NaN,1350.00,NaN
1813,9.00,house,3159.0,Plot area 351(293.48 sq.m.),NaN,3159.00,NaN
1819,6.00,house,1800.0,Plot area 200(167.23 sq.m.),NaN,1800.00,NaN
1845,7.00,house,2160.0,Plot area 240(200.67 sq.m.),NaN,2160.00,NaN
1852,12.50,house,3240.0,Plot area 360(301.01 sq.m.),NaN,3240.00,NaN
1856,1.70,house,945.0,Plot area 900(83.61 sq.m.),NaN,900.00,NaN
1865,6.00,house,2700.0,Plot area 300(250.84 sq.m.),NaN,2700.00,NaN
1866,4.95,house,2430.0,Plot area 270(225.75 sq.m.),NaN,2430.00,NaN
1870,5.25,house,1935.0,Plot area 215(179.77 sq.m.),NaN,1935.00,NaN
1882,0.75,house,360.0,Plot area 40(33.45 sq.m.),NaN,360.00,NaN
1887,11.50,house,4680.0,Plot area 520(434.79 sq.m.),NaN,4680.00,NaN
1922,6.00,house,2430.0,Plot area 270(225.75 sq.m.),NaN,2430.00,NaN
1925,8.00,house,300.0,Plot area 300(27.87 sq.m.),NaN,300.00,NaN
1937,5.80,house,1800.0,Plot area 200(167.23 sq.m.),NaN,1800.00,NaN
1938,0.95,house,1070.0,Plot area 1070(99.41 sq.m.),NaN,1070.00,NaN
1946,8.50,house,6300.0,Plot area 6300(585.29 sq.m.),NaN,6300.00,NaN
1949,0.29,house,891.0,Plot area 891(82.78 sq.m.),NaN,891.00,NaN
1959,5.60,house,2700.0,Plot area 300(250.84 sq.m.),NaN,2700.00,NaN
1972,2.25,house,1440.0,Plot area 160(133.78 sq.m.),NaN,1440.00,NaN
1985,16.00,house,4235.0,Plot area 500(418.06 sq.m.),NaN,500.00,NaN
1997,1.10,house,1782.0,Plot area 1782(165.55 sq.m.),NaN,1782.00,NaN
2007,NaN,house,NaN,Plot area 500(418.06 sq.m.),NaN,500.00,NaN
2025,10.85,house,2844.0,Plot area 316(264.22 sq.m.),NaN,2844.00,NaN
2031,0.75,house,713.0,Plot area 713(66.24 sq.m.),NaN,713.00,NaN
2037,14.75,house,2844.0,Plot area 316(264.22 sq.m.),NaN,2844.00,NaN
2039,5.00,house,215517.0,Plot area 2(1011.71 sq.m.),NaN,2.00,NaN
2041,0.50,house,540.0,Plot area 540(50.17 sq.m.),NaN,540.00,NaN
2056,5.50,house,1800.0,Plot area 200(167.23 sq.m.),NaN,1800.00,NaN
2063,5.30,house,1935.0,Plot area 215(179.77 sq.m.),NaN,1935.00,NaN
2072,4.45,house,1265.0,Plot area 150(125.42 sq.m.),NaN,150.00,NaN
2077,6.60,house,1800.0,Plot area 200(167.23 sq.m.),NaN,1800.00,NaN
2080,11.25,house,3240.0,Plot area 360(301.01 sq.m.),NaN,3240.00,NaN
2086,12.50,house,3600.0,Plot area 400(334.45 sq.m.),NaN,3600.00,NaN
2093,2.50,house,3194.0,Plot area 3194(296.73 sq.m.),NaN,3194.00,NaN
2098,2.40,house,2700.0,Plot area 300(250.84 sq.m.),NaN,2700.00,NaN
2112,9.55,house,4950.0,Plot area 550(459.87 sq.m.),NaN,4950.00,NaN

In [190]:
df.update(all_nan_df)

In [191]:
df.isnull().sum()

property_type             1
society                 470
sector                    0
price                    19
price_per_sqft           19
area                     19
areaWithType              1
bedRoom                   1
bathroom                  1
balcony                   1
additionalRoom            1
floorNum                 20
facing                 1097
agePossession             2
nearbyLocations         174
furnishDetails          970
features                632
super_built_up_area    1860
built_up_area          2065
carpet_area            1842
dtype: int64

In [192]:
df.head()

,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features,super_built_up_area,built_up_area,carpet_area
0,house,NaN,sector 41,7.25,29293.0,2475.0,Plot area 275(229.94 sq.m.),9.0,8.0,3,servant room,4.0,South-West,10+ Year Old,"['Huda city centre metro station', 'Axis bank ATM', 'Hdfc ATM', 'Axis bank ATM', 'Citi bank ATM', 'Icici ATM', 'Punjab national bank ATM', 'Hdfc bank ATM', 'Standard chartered ATM', 'Centre For Sight Gurgaon Sector 29', 'Dr. Naval Mendiratta', 'Fortis Memorial Research Institute Fortis Vivekanand Hospital', 'Dr. Kutbuddin Akbary', 'Max Hospital', 'Shivam Hospital Gurgaon', 'Gardian Pharmacy', 'City Medical', 'Bharat petroleum', 'Hdfc bank', 'Icici bank', 'Beer & Whisky Bar', 'MoB Ministory of Beer', ""McDonald's"", 'Park Baluchi', ""Domino's Pizza"", 'Zura', 'The Oriental Bloom Chinese and Thai', 'Gola Sizzles', ""Hops 'N' Brew"", 'Pizza Hut', 'Spaghetti Kitchen & Bar', 'Bikanervala', 'Tocpao', 'PWO house', 'Black Mambaa', 'Gravity Space Bar', 'Roots', 'KFC', 'Ardor 29', 'ADDA', 'Gung the palace Korean restaurant', 'Walking Street', 'distillery', 'Swagath', 'Dhabba', 'Pizza Hut', 'Balaji Vegetarian Paradise', 'School of Inspired Leadership SOIL', 'Ncr library']","['5 Fan', '1 Exhaust Fan', '8 Geyser', '12 Light', '4 AC', '2 TV', '1 Modular Kitchen', '1 Curtains', '2 Bed', '2 Wardrobe', '1 Washing Machine', 'No Chimney', 'No Dining Table', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No Water Purifier']","['Security / Fire Alarm', 'Private Garden / Terrace', 'Water purifier', 'Maintenance Staff', 'Water Storage', 'No open drainage around', 'Visitor Parking', 'Park', 'Security Personnel', 'Natural Light', 'Internet/wi-fi connectivity', 'Airy Rooms', 'Spacious Interiors', 'Waste Disposal', 'Club house / Community Center']",NaN,2475.00,NaN
1,flat,vipul lavanya,sector 81,1.28,7174.0,1784.0,Carpet area: 1784 (165.74 sq.m.),3.0,3.0,3,"pooja room,servant room",1.0,North-East,5 to 10 Year Old,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. Sarkar Clinic', 'Orris Community Center', 'HP Petrol Pump', 'Vijay Petrol Pump', 'Petrol Pump', 'Essar Petrol Pump', 'Petrol pump Maitri motors', 'Petrol Pump Indian Oil', 'Indian Oil', ""McDonald's"", 'KFC', 'Pizza Hut', 'Rao Dhaba', ""McDonald's""]","['1 Bed', '3 Wardrobe', '7 Fan', '1 Exhaust Fan', '2 Geyser', '12 Light', '1 Modular Kitchen', '1 Chimney', '1 Curtains', 'No AC', 'No Dining Table', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Washing Machine', 'No Water Purifier']","['Feng Shui / Vaastu Compliant', 'Security / Fire Alarm', 'Intercom Facility', 'Lift(s)', 'Maintenance Staff', 'Water Storage', 'Park', 'Visitor Parking']",NaN,NaN,1784.00
2,flat,m3m woodshire,sector 107,1.40,5929.0,2361.0,Super Built up area 2361(219.34 sq.m.),3.0,4.0,N,not available,1.0,East,0 to 1 Year Old,NaN,"['1 Light', 'No AC', 'No Bed', 'No Chimney', 'No Curtains', 'No Dining Table', 'No Exhaust Fan', 'No Fan', 'No Geyser', 'No Modular Kitchen', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Wardrobe', 'No Washing Machine', 'No Water Purifier']","['Power Back-up', 'Intercom Facility', 'Lift(s)', 'Swimming Pool', 'Maintenance Staff', 'Park', 'Security Personnel', 'Internet/wi-fi connectivity', 'Shopping Centre', 'Fitness Centre / GYM', 'Club house / Community Center', 'Rain Water Harvesting']",2361.0,NaN,NaN
3,flat,ild greens,sector 37c,0.78,5714.0,1365.0,Super Built up area 1365(126.81 sq.m.)Built Up area: 1068.1 sq.ft. (99.23 sq.m.)Carpet area: 900 sq.ft. (83.61 sq.m.),2.0,2.0,3,not available,1.0,North,5 to 10 Year Old,"['The Esplanade Mall', 'Gurgaon Road', 'Delhi Jaipur Expressway', 'Green Field Public School', 'Sunrise University', 'K.D. Hospital', 'Indira Gandhi International Airport', 'Gurgaon Railway Station', 'infinity Business Park']","['2 Wardrobe', '3 Fan', '1 Exhaust Fan', '1 Geyser', '10 Light', '1 Modular Kitchen', '1 Chimney', 'No AC', 'No Bed', 'No Curtains', 'No Dining Table', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Washing Machine', 'No Water Purifier']","['Security / Fire Alarm', 'Power Back-up', 'Feng Shui / Vaastu Compliant', 'Intercom Facility', 'Lift(s)', 'Maintenance Staff', 'False Ceiling Lighting', 'Water Storage', 'Visitor Parking', 'Swimming Pool', 'Park', 'Natural Light', 'Airy Rooms', 'Spacious Interiors', 'Fitness Centre / GYM', 'Rain Water Harvesting', 'Club house / Community Center', 'Water softening plant']",1365.0,1068.10,900.00
4,flat,ashiana mulberry,sohna road,1.05,5412.0,1940.0,Super Built up area 1940(180.23 sq.m.)Built Up area: 1175.97 sq.ft. (109.25 sq.m.)Carpet area: 834.96 sq.ft. (77.57 sq.m.),2.0,2.0,3,study room,1.0,North,0 to 1 Year Old,"['Discount Department Store', 'Badshahpur Sohna Rd Hwy, Sohna Rural', 'GD Goenka University, Gurugram', 'Sohna Public School Pathane Ware', 'Vardaan Hospital & Trauma Centre', 'Indira Gandhi Intl Airport']",[],"['Feng Shui / Vaastu Compliant', 'Security / Fire Alarm', 'Intercom Facility', 'Lift(s)', 'Maintenance Staff', 'Water Storage', 'Park', 'Visitor Parking']",1940.0,1175.97,834.96

# 2.**additionalRoom**

In [193]:
df['additionalRoom'].value_counts()

additionalRoom
not available                                    1576
servant room                                      701
study room                                        249
others                                            225
pooja room                                        162
study room,servant room                            99
store room                                         99
pooja room,servant room                            79
pooja room,study room,servant room,store room      69
servant room,others                                60
pooja room,study room,servant room                 53
pooja room,study room,servant room,others          53
servant room,pooja room                            38
servant room,store room                            32
study room,others                                  29
pooja room,study room                              22
pooja room,others                                  17
pooja room,store room                              15
servant room,study room                            12
pooja room,store room,study room,servant room      12
pooja room,servant room,others                     11
study room,servant room,store room                 11
study room,pooja room                              10
servant room,study room,pooja room,store room      10
store room,servant room                             8
study room,servant room,pooja room,store room       8
study room,servant room,others                      7
pooja room,servant room,store room                  7
pooja room,study room,store room                    7
study room,pooja room,servant room                  7
servant room,pooja room,store room                  6
others,servant room                                 6
pooja room,servant room,study room,store room       5
store room,pooja room                               5
study room,servant room,pooja room                  4
study room,pooja room,store room                    4
pooja room,study room,others                        4
servant room,store room,pooja room                  4
study room,servant room,store room,pooja room       3
servant room,others,pooja room                      3
servant room,study room,pooja room                  3
pooja room,study room,store room,servant room       3
servant room,pooja room,study room,store room       3
store room,pooja room,study room,servant room       2
servant room,study room,store room                  2
study room,pooja room,servant room,store room       2
servant room,others,store room,pooja room           2
study room,pooja room,store room,servant room       2
store room,pooja room,study room                    2
store room,pooja room,servant room                  2
servant room,pooja room,store room,study room       1
servant room,study room,store room,pooja room       1
study room,store room                               1
store room,study room                               1
store room,study room,servant room                  1
study room,others,servant room                      1
pooja room,store room,servant room                  1
store room,servant room,study room,pooja room       1
others,study room                                   1
store room,servant room,pooja room                  1
store room,pooja room,servant room,study room       1
servant room,pooja room,study room                  1
study room,store room,pooja room                    1
servant room,store room,study room,pooja room       1
servant room,study room,others                      1
Name: count, dtype: int64

In [194]:
#additional room
#list of new columns to be created
new_cols=['study room','servant room','store room','pooja room','others']

In [195]:
#populate the new columns based on additionalRoom column
for col in new_cols:
    df[col] = df['additionalRoom'].apply(lambda x: 1 if isinstance(x, (list, str)) and col in x else 0)

In [196]:
df[['additionalRoom','study room','servant room','store room','pooja room','others']].sample(5)

,additionalRoom,study room,servant room,store room,pooja room,others
763,"study room,servant room",1,1,0,0,0
551,not available,0,0,0,0,0
3732,"servant room,others",0,1,0,0,1
1875,"pooja room,study room,servant room",1,1,0,1,0
3239,not available,0,0,0,0,0

In [197]:
df.head()

,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features,super_built_up_area,built_up_area,carpet_area,study room,servant room,store room,pooja room,others
0,house,NaN,sector 41,7.25,29293.0,2475.0,Plot area 275(229.94 sq.m.),9.0,8.0,3,servant room,4.0,South-West,10+ Year Old,"['Huda city centre metro station', 'Axis bank ATM', 'Hdfc ATM', 'Axis bank ATM', 'Citi bank ATM', 'Icici ATM', 'Punjab national bank ATM', 'Hdfc bank ATM', 'Standard chartered ATM', 'Centre For Sight Gurgaon Sector 29', 'Dr. Naval Mendiratta', 'Fortis Memorial Research Institute Fortis Vivekanand Hospital', 'Dr. Kutbuddin Akbary', 'Max Hospital', 'Shivam Hospital Gurgaon', 'Gardian Pharmacy', 'City Medical', 'Bharat petroleum', 'Hdfc bank', 'Icici bank', 'Beer & Whisky Bar', 'MoB Ministory of Beer', ""McDonald's"", 'Park Baluchi', ""Domino's Pizza"", 'Zura', 'The Oriental Bloom Chinese and Thai', 'Gola Sizzles', ""Hops 'N' Brew"", 'Pizza Hut', 'Spaghetti Kitchen & Bar', 'Bikanervala', 'Tocpao', 'PWO house', 'Black Mambaa', 'Gravity Space Bar', 'Roots', 'KFC', 'Ardor 29', 'ADDA', 'Gung the palace Korean restaurant', 'Walking Street', 'distillery', 'Swagath', 'Dhabba', 'Pizza Hut', 'Balaji Vegetarian Paradise', 'School of Inspired Leadership SOIL', 'Ncr library']","['5 Fan', '1 Exhaust Fan', '8 Geyser', '12 Light', '4 AC', '2 TV', '1 Modular Kitchen', '1 Curtains', '2 Bed', '2 Wardrobe', '1 Washing Machine', 'No Chimney', 'No Dining Table', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No Water Purifier']","['Security / Fire Alarm', 'Private Garden / Terrace', 'Water purifier', 'Maintenance Staff', 'Water Storage', 'No open drainage around', 'Visitor Parking', 'Park', 'Security Personnel', 'Natural Light', 'Internet/wi-fi connectivity', 'Airy Rooms', 'Spacious Interiors', 'Waste Disposal', 'Club house / Community Center']",NaN,2475.00,NaN,0,1,0,0,0
1,flat,vipul lavanya,sector 81,1.28,7174.0,1784.0,Carpet area: 1784 (165.74 sq.m.),3.0,3.0,3,"pooja room,servant room",1.0,North-East,5 to 10 Year Old,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. Sarkar Clinic', 'Orris Community Center', 'HP Petrol Pump', 'Vijay Petrol Pump', 'Petrol Pump', 'Essar Petrol Pump', 'Petrol pump Maitri motors', 'Petrol Pump Indian Oil', 'Indian Oil', ""McDonald's"", 'KFC', 'Pizza Hut', 'Rao Dhaba', ""McDonald's""]","['1 Bed', '3 Wardrobe', '7 Fan', '1 Exhaust Fan', '2 Geyser', '12 Light', '1 Modular Kitchen', '1 Chimney', '1 Curtains', 'No AC', 'No Dining Table', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Washing Machine', 'No Water Purifier']","['Feng Shui / Vaastu Compliant', 'Security / Fire Alarm', 'Intercom Facility', 'Lift(s)', 'Maintenance Staff', 'Water Storage', 'Park', 'Visitor Parking']",NaN,NaN,1784.00,0,1,0,1,0
2,flat,m3m woodshire,sector 107,1.40,5929.0,2361.0,Super Built up area 2361(219.34 sq.m.),3.0,4.0,N,not available,1.0,East,0 to 1 Year Old,NaN,"['1 Light', 'No AC', 'No Bed', 'No Chimney', 'No Curtains', 'No Dining Table', 'No Exhaust Fan', 'No Fan', 'No Geyser', 'No Modular Kitchen', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Wardrobe', 'No Washing Machine', 'No Water Purifier']","['Power Back-up', 'Intercom Facility', 'Lift(s)', 'Swimming Pool', 'Maintenance Staff', 'Park', 'Security Personnel', 'Internet/wi-fi connectivity', 'Shopping Centre', 'Fitness Centre / GYM', 'Club house / Community Center', 'Rain Water Harvesting']",2361.0,NaN,NaN,0,0,0,0,0
3,flat,ild greens,sector 37c,0.78,5714.0,1365.0,Super Built up area 1365(126.81 sq.m.)Built Up area: 1068.1 sq.ft. (99.23 sq.m.)Carpet area: 900 sq.ft. (83.61 sq.m.),2.0,2.0,3,not available,1.0,North,5 to 10 Year Old,"['The Esplanade Mall', 'Gurgaon Road', 'Delhi Jaipur Expressway', 'Green Field Public School', 'Sunrise University', 'K.D. Hospital', 'Indira Gandhi International Airport', 'Gurgaon Railway Station', 'infinity Business Park']","['2 Wardrobe', '3 Fan', '1 Exhaust Fan', '1 Geyser', '10 Light', '1 Modular Kitchen', '1 Chimney', 'No AC', 'No Bed', 'No Curtains', 'No Dining Table', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Washing Machine', 'No Water Purifier']","['Security / Fire Alarm', 'Power Back-up', 'Feng Shui / Vaastu Compliant', 'Intercom Facility', 'Lift(s)', 'Maintenance Staff', 'False Ceiling Lighting', 'Water Storage', 'Visitor Parking', 'Swimming Pool', 'Park', 'Natural Light', 'Airy Rooms', 'Spacious Interiors', 'Fitness Centre / GYM', 'Rain Water Harvesting', 'Club house / Community Center', 'Water softening plant']",1365.0,1068.10,900.00,0,0,0,0,0
4,flat,ashiana mulberry,sohna road,1.05,5412.0,1940.0,Super Built up area 1940(180.23 sq.m.)Built Up area: 1175.97 sq.ft. (109.25 sq.m.)Carpet area: 834.96 sq.ft. (77.57 sq.m.),2.0,2.0,3,study room,1.0,North,0 to 1 Year Old,"['Discount Department Store', 'Badshahpur Sohna Rd Hwy, Sohna Rural', 'GD Goenka University, Gurugram', 'Sohna Public School Pathane Ware', 'Vardaan Hospital & Trauma Centre', 'Indira Gandhi Intl Airport']",[],"['Feng Shui / Vaastu Compliant', 'Security / Fire Alarm', 'Intercom Facility', 'Lift(s)', 'Maintenance Staff', 'Water Storage', 'Park', 'Visitor Parking']",1940.0,1175.97,834.96,1,0,0,0,0

#**3. agePossession**

In [198]:
df['agePossession'].value_counts()

agePossession
1 to 5 Year Old        1663
5 to 10 Year Old        571
0 to 1 Year Old         527
undefined               331
10+ Year Old            301
Under Construction       88
Within 6 months          69
Within 3 months          26
2023-12-01 00:00:00      22
By 2023                  19
By 2024                  17
2024-12-01 00:00:00      16
2024-03-01 00:00:00      14
2024-10-01 00:00:00       8
2024-01-01 00:00:00       8
2025-12-01 00:00:00       7
2024-06-01 00:00:00       7
2023-08-01 00:00:00       7
2023-11-01 00:00:00       5
2023-09-01 00:00:00       4
By 2025                   4
2023-10-01 00:00:00       4
2024-07-01 00:00:00       4
2024-08-01 00:00:00       4
2025-01-01 00:00:00       3
2024-02-01 00:00:00       3
2024-05-01 00:00:00       3
2024-11-01 00:00:00       3
2027-06-01 00:00:00       2
2025-03-01 00:00:00       2
2027-07-01 00:00:00       2
2026-12-01 00:00:00       2
2025-07-01 00:00:00       2
2026-04-01 00:00:00       2
By 2027                   2
2026-01-01 00:00:00       2
2025-10-01 00:00:00       2
2025-09-01 00:00:00       2
2025-08-01 00:00:00       2
2027-01-01 00:00:00       1
2025-11-01 00:00:00       1
2025-06-01 00:00:00       1
2027-09-01 00:00:00       1
2024-04-01 00:00:00       1
2026-08-01 00:00:00       1
2026-03-01 00:00:00       1
2028-01-01 00:00:00       1
2026-07-01 00:00:00       1
Name: count, dtype: int64

In [199]:
def categorize_age_possession(value):
  if pd.isna(value):
    return "Undefined"

  if "0 to 1 Year Old" in value or "Within 6 months" in value or "Within 3 months" in value:
    return "New Property"

  if "1 to 5 Year Old" in value:
    return "Relatively New"

  if "5 to 10 Year Old" in value:
    return "Moderately Old"

  if "10+ Year Old" in value:
    return "Old Property"

  if "Under Construction" in value or "By" in value:
    return "Under Construction"

  try:
    a=int(value.split(" ")[0])
    if a>=2025:
     return "Under Construction"
    elif a<2025:
      return "Relatively New"

  except:
    return "Undefined"

In [200]:
df['agePossession']=df['agePossession'].apply(categorize_age_possession)

In [201]:
df['agePossession'].value_counts()

agePossession
Relatively New        1663
New Property           622
Moderately Old         571
Undefined              484
Old Property           301
Under Construction     130
Name: count, dtype: int64

In [202]:
df.head()

,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features,super_built_up_area,built_up_area,carpet_area,study room,servant room,store room,pooja room,others
0,house,NaN,sector 41,7.25,29293.0,2475.0,Plot area 275(229.94 sq.m.),9.0,8.0,3,servant room,4.0,South-West,Old Property,"['Huda city centre metro station', 'Axis bank ATM', 'Hdfc ATM', 'Axis bank ATM', 'Citi bank ATM', 'Icici ATM', 'Punjab national bank ATM', 'Hdfc bank ATM', 'Standard chartered ATM', 'Centre For Sight Gurgaon Sector 29', 'Dr. Naval Mendiratta', 'Fortis Memorial Research Institute Fortis Vivekanand Hospital', 'Dr. Kutbuddin Akbary', 'Max Hospital', 'Shivam Hospital Gurgaon', 'Gardian Pharmacy', 'City Medical', 'Bharat petroleum', 'Hdfc bank', 'Icici bank', 'Beer & Whisky Bar', 'MoB Ministory of Beer', ""McDonald's"", 'Park Baluchi', ""Domino's Pizza"", 'Zura', 'The Oriental Bloom Chinese and Thai', 'Gola Sizzles', ""Hops 'N' Brew"", 'Pizza Hut', 'Spaghetti Kitchen & Bar', 'Bikanervala', 'Tocpao', 'PWO house', 'Black Mambaa', 'Gravity Space Bar', 'Roots', 'KFC', 'Ardor 29', 'ADDA', 'Gung the palace Korean restaurant', 'Walking Street', 'distillery', 'Swagath', 'Dhabba', 'Pizza Hut', 'Balaji Vegetarian Paradise', 'School of Inspired Leadership SOIL', 'Ncr library']","['5 Fan', '1 Exhaust Fan', '8 Geyser', '12 Light', '4 AC', '2 TV', '1 Modular Kitchen', '1 Curtains', '2 Bed', '2 Wardrobe', '1 Washing Machine', 'No Chimney', 'No Dining Table', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No Water Purifier']","['Security / Fire Alarm', 'Private Garden / Terrace', 'Water purifier', 'Maintenance Staff', 'Water Storage', 'No open drainage around', 'Visitor Parking', 'Park', 'Security Personnel', 'Natural Light', 'Internet/wi-fi connectivity', 'Airy Rooms', 'Spacious Interiors', 'Waste Disposal', 'Club house / Community Center']",NaN,2475.00,NaN,0,1,0,0,0
1,flat,vipul lavanya,sector 81,1.28,7174.0,1784.0,Carpet area: 1784 (165.74 sq.m.),3.0,3.0,3,"pooja room,servant room",1.0,North-East,Moderately Old,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. Sarkar Clinic', 'Orris Community Center', 'HP Petrol Pump', 'Vijay Petrol Pump', 'Petrol Pump', 'Essar Petrol Pump', 'Petrol pump Maitri motors', 'Petrol Pump Indian Oil', 'Indian Oil', ""McDonald's"", 'KFC', 'Pizza Hut', 'Rao Dhaba', ""McDonald's""]","['1 Bed', '3 Wardrobe', '7 Fan', '1 Exhaust Fan', '2 Geyser', '12 Light', '1 Modular Kitchen', '1 Chimney', '1 Curtains', 'No AC', 'No Dining Table', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Washing Machine', 'No Water Purifier']","['Feng Shui / Vaastu Compliant', 'Security / Fire Alarm', 'Intercom Facility', 'Lift(s)', 'Maintenance Staff', 'Water Storage', 'Park', 'Visitor Parking']",NaN,NaN,1784.00,0,1,0,1,0
2,flat,m3m woodshire,sector 107,1.40,5929.0,2361.0,Super Built up area 2361(219.34 sq.m.),3.0,4.0,N,not available,1.0,East,New Property,NaN,"['1 Light', 'No AC', 'No Bed', 'No Chimney', 'No Curtains', 'No Dining Table', 'No Exhaust Fan', 'No Fan', 'No Geyser', 'No Modular Kitchen', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Wardrobe', 'No Washing Machine', 'No Water Purifier']","['Power Back-up', 'Intercom Facility', 'Lift(s)', 'Swimming Pool', 'Maintenance Staff', 'Park', 'Security Personnel', 'Internet/wi-fi connectivity', 'Shopping Centre', 'Fitness Centre / GYM', 'Club house / Community Center', 'Rain Water Harvesting']",2361.0,NaN,NaN,0,0,0,0,0
3,flat,ild greens,sector 37c,0.78,5714.0,1365.0,Super Built up area 1365(126.81 sq.m.)Built Up area: 1068.1 sq.ft. (99.23 sq.m.)Carpet area: 900 sq.ft. (83.61 sq.m.),2.0,2.0,3,not available,1.0,North,Moderately Old,"['The Esplanade Mall', 'Gurgaon Road', 'Delhi Jaipur Expressway', 'Green Field Public School', 'Sunrise University', 'K.D. Hospital', 'Indira Gandhi International Airport', 'Gurgaon Railway Station', 'infinity Business Park']","['2 Wardrobe', '3 Fan', '1 Exhaust Fan', '1 Geyser', '10 Light', '1 Modular Kitchen', '1 Chimney', 'No AC', 'No Bed', 'No Curtains', 'No Dining Table', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Washing Machine', 'No Water Purifier']","['Security / Fire Alarm', 'Power Back-up', 'Feng Shui / Vaastu Compliant', 'Intercom Facility', 'Lift(s)', 'Maintenance Staff', 'False Ceiling Lighting', 'Water Storage', 'Visitor Parking', 'Swimming Pool', 'Park', 'Natural Light', 'Airy Rooms', 'Spacious Interiors', 'Fitness Centre / GYM', 'Rain Water Harvesting', 'Club house / Community Center', 'Water softening plant']",1365.0,1068.10,900.00,0,0,0,0,0
4,flat,ashiana mulberry,sohna road,1.05,5412.0,1940.0,Super Built up area 1940(180.23 sq.m.)Built Up area: 1175.97 sq.ft. (109.25 sq.m.)Carpet area: 834.96 sq.ft. (77.57 sq.m.),2.0,2.0,3,study room,1.0,North,New Property,"['Discount Department Store', 'Badshahpur Sohna Rd Hwy, Sohna Rural', 'GD Goenka University, Gurugram', 'Sohna Public School Pathane Ware', 'Vardaan Hospital & Trauma Centre', 'Indira Gandhi Intl Airport']",[],"['Feng Shui / Vaastu Compliant', 'Security / Fire Alarm', 'Intercom Facility', 'Lift(s)', 'Maintenance Staff', 'Water Storage', 'Park', 'Visitor Parking']",1940.0,1175.97,834.96,1,0,0,0,0

# **4.furnishDetails**

In [203]:
df[['furnishDetails','features']].sample(5)

,furnishDetails,features
2585,NaN,"['Security / Fire Alarm', 'Power Back-up', 'Private Garden / Terrace', 'Intercom Facility', 'Lift(s)', 'High Ceiling Height', 'Maintenance Staff', 'Water Storage', 'No open drainage around', 'Piped-gas', 'Visitor Parking', 'Swimming Pool', 'Park', 'Security Personnel', 'Internet/wi-fi connectivity', 'Low Density Society', 'Shopping Centre', 'Fitness Centre / GYM', 'Waste Disposal', 'Rain Water Harvesting', 'Club house / Community Center', 'Water softening plant']"
1191,"['40 Light', '1 Modular Kitchen', 'No AC', 'No Bed', 'No Chimney', 'No Curtains', 'No Dining Table', 'No Exhaust Fan', 'No Fan', 'No Geyser', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Wardrobe', 'No Washing Machine', 'No Water Purifier']","['Park', 'Visitor Parking', 'Low Density Society']"
1069,"['1 Water Purifier', '1 Fridge', '20 Fan', '1 Exhaust Fan', '1 Dining Table', '20 Geyser', '1 Stove', '1 Curtains', '20 Bed', '20 Wardrobe', '1 Sofa', '1 Microwave', '1 Washing Machine', 'No AC', 'No Chimney', 'No Modular Kitchen', 'No Light', 'No TV']","['Water Storage', 'Park', 'Visitor Parking', 'Waste Disposal']"
482,"['1 Light', 'No AC', 'No Bed', 'No Chimney', 'No Curtains', 'No Dining Table', 'No Exhaust Fan', 'No Fan', 'No Geyser', 'No Modular Kitchen', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Wardrobe', 'No Washing Machine', 'No Water Purifier']",NaN
2769,"['4 Wardrobe', '6 Fan', '2 Geyser', '6 Light', 'No AC', 'No Bed', 'No Chimney', 'No Curtains', 'No Dining Table', 'No Exhaust Fan', 'No Modular Kitchen', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Washing Machine', 'No Water Purifier']","['Security / Fire Alarm', 'Intercom Facility', 'Lift(s)', 'Maintenance Staff', 'Water Storage', 'Park', 'Visitor Parking']"

In [204]:
#extract all unique furnishings from the furnishDetails column
all_furnishings=[]
for detail in df['furnishDetails'].dropna():
  furnishings=detail.replace('[','').replace(']','').replace("'","").split(',')
  all_furnishings.extend(furnishings)
unique_furnishings=list(set(all_furnishings))

#define a function to extract the count of a furnishing from the furnishDetails
def get_furnishing_count(details,furnishing):
  if isinstance(details,str):
    if f"No{furnishing}" in details:
      return 0
    pattern=re.compile(f"(\d+){furnishing}")
    match=pattern.search(details)
    if match:
      return int(match.group(1))
    elif furnishing in details:
      return 1
  return 0

In [205]:
#simplify the furnishings list by removing "No" prefix and numbers
columns_to_include=[re.sub(r'No|\d+','',furnishing).strip() for furnishing in unique_furnishings]
columns_to_include=list(set(columns_to_include))#get unique furnishings
columns_to_include=[furnishing for furnishing in columns_to_include if furnishing!='' and furnishing!=' ']

#create new columns for each unique furnishing and populate with counts
for furnishing in columns_to_include:
  df[furnishing]=df['furnishDetails'].apply(lambda x:get_furnishing_count(x,furnishing))


#create the dataframe with required columns
furnishings_df=df[['furnishDetails']+columns_to_include]

In [206]:
furnishings_df.shape

(3771, 19)

In [207]:
furnishings_df.head()

,furnishDetails,Fridge,Microwave,Curtains,TV,Water Purifier,Sofa,AC,Modular Kitchen,Chimney,Dining Table,Fan,Washing Machine,Exhaust Fan,Light,Wardrobe,Stove,Geyser,Bed
0,"['5 Fan', '1 Exhaust Fan', '8 Geyser', '12 Light', '4 AC', '2 TV', '1 Modular Kitchen', '1 Curtains', '2 Bed', '2 Wardrobe', '1 Washing Machine', 'No Chimney', 'No Dining Table', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No Water Purifier']",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1,"['1 Bed', '3 Wardrobe', '7 Fan', '1 Exhaust Fan', '2 Geyser', '12 Light', '1 Modular Kitchen', '1 Chimney', '1 Curtains', 'No AC', 'No Dining Table', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Washing Machine', 'No Water Purifier']",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2,"['1 Light', 'No AC', 'No Bed', 'No Chimney', 'No Curtains', 'No Dining Table', 'No Exhaust Fan', 'No Fan', 'No Geyser', 'No Modular Kitchen', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Wardrobe', 'No Washing Machine', 'No Water Purifier']",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
3,"['2 Wardrobe', '3 Fan', '1 Exhaust Fan', '1 Geyser', '10 Light', '1 Modular Kitchen', '1 Chimney', 'No AC', 'No Bed', 'No Curtains', 'No Dining Table', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Washing Machine', 'No Water Purifier']",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
4,[],0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [208]:
furnishings_df.drop('furnishDetails',axis=1,inplace=True)

/tmp/ipython-input-208-2053818740.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  furnishings_df.drop('furnishDetails',axis=1,inplace=True)

In [209]:
furnishings_df.head()

,Fridge,Microwave,Curtains,TV,Water Purifier,Sofa,AC,Modular Kitchen,Chimney,Dining Table,Fan,Washing Machine,Exhaust Fan,Light,Wardrobe,Stove,Geyser,Bed
0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
3,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [210]:
#using kmeans clustering
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [211]:
scaler=StandardScaler()
scaled_data=scaler.fit_transform(furnishings_df)

In [212]:
n_cluster=3 # optimal number of cluster can be chosen through elbow method
kmeans=KMeans(n_clusters=n_cluster,random_state=42)
kmeans.fit(scaled_data)

/usr/local/lib/python3.11/dist-packages/sklearn/base.py:1389: ConvergenceWarning: Number of distinct clusters (2) found smaller than n_clusters (3). Possibly due to duplicate points in X.
  return fit_method(estimator, *args, **kwargs)

KMeans(n_clusters=3, random_state=42)

In [213]:
#predict the cluster assignment for each row
cluster_assignments=kmeans.predict(scaled_data)

In [214]:
df=df.iloc[:,:-18]

In [215]:
df['furnishing_type']=cluster_assignments

In [216]:
df['furnishing_type']
# 0--> unfurnished, 1--> semifurnished, 2--->furnished

0       0
1       0
2       0
3       0
4       1
5       1
6       0
7       1
8       0
9       1
10      0
11      1
12      0
13      0
14      1
15      1
16      1
17      0
18      0
19      1
20      0
21      0
22      1
23      0
24      0
25      0
26      1
27      0
28      0
29      0
30      0
31      0
32      0
33      0
34      0
35      0
36      0
37      0
38      1
39      0
40      1
41      1
42      0
43      1
44      1
45      1
46      0
47      0
48      1
49      1
50      1
51      1
52      1
53      1
54      1
55      0
56      0
57      0
58      0
59      0
60      0
61      1
62      0
63      0
64      1
65      0
66      0
67      0
68      0
69      0
70      0
71      1
72      0
73      0
74      0
75      1
76      1
77      0
78      0
79      1
80      0
81      0
82      0
83      1
84      0
85      1
86      1
87      1
88      0
89      1
90      1
91      0
92      0
93      1
94      1
95      1
96      1
97      1
98      1
99      1
100     0
101     0
102     0
103     0
104     1
105     1
106     1
107     0
108     0
109     1
110     0
111     1
112     1
113     1
114     0
115     1
116     0
117     0
118     1
119     0
120     0
121     1
122     1
123     0
124     1
125     0
126     0
127     0
128     0
129     1
130     0
131     1
132     1
133     1
134     1
135     1
136     0
137     0
138     1
139     0
140     1
141     1
142     1
143     0
144     1
145     0
146     0
147     0
148     0
149     0
150     0
151     1
152     0
153     0
154     1
155     0
156     1
157     1
158     1
159     0
160     0
161     0
162     0
163     0
164     0
165     0
166     1
167     0
168     1
169     0
170     0
171     1
172     0
173     0
174     0
175     0
176     0
177     1
178     0
179     0
180     0
181     1
182     0
183     0
184     1
185     0
186     0
187     1
188     0
189     0
190     0
191     1
192     0
193     1
194     0
195     1
196     1
197     0
198     0
199     1
200     0
201     1
202     0
203     0
204     0
205     1
206     0
207     0
208     0
209     1
210     0
211     1
212     0
213     0
214     1
215     1
216     1
217     0
218     1
219     0
220     0
221     0
222     0
223     1
224     0
225     0
226     0
227     1
228     1
229     1
230     1
231     0
232     0
233     0
234     0
235     0
236     0
237     1
238     1
239     0
240     0
241     0
242     1
243     1
244     0
245     1
246     0
247     0
248     0
249     0
250     1
251     0
252     0
253     1
254     0
255     0
256     0
257     0
258     0
259     1
260     0
261     0
262     0
263     0
264     1
265     0
266     0
267     0
268     0
269     0
270     0
271     0
272     0
273     0
274     0
275     1
276     0
277     1
278     0
279     0
280     0
281     0
282     0
283     1
284     1
285     0
286     0
287     0
288     1
289     0
290     0
291     0
292     0
293     1
294     1
295     0
296     0
297     1
298     0
299     0
300     0
301     1
302     1
303     0
304     0
305     0
306     0
307     0
308     0
309     1
310     0
311     0
312     0
313     0
314     0
315     0
316     1
317     0
318     0
319     0
320     0
321     0
322     0
323     1
324     1
325     0
326     0
327     0
328     1
329     0
330     0
331     1
332     0
333     1
334     1
335     0
336     1
337     0
338     0
339     0
340     0
341     0
342     0
343     1
344     1
345     0
346     1
347     0
348     1
349     0
350     0
351     0
352     1
353     0
354     1
355     0
356     0
357     0
358     1
359     0
360     1
361     0
362     0
363     0
364     0
365     0
366     0
367     1
368     1
369     1
370     0
371     0
372     1
373     0
374     0
375     0
376     0
377     1
378     0
379     0
380     0
381     0
382     0
383     0
384     0
385     0
386     0
387     1
388     1
389     0
390     0
391     1
392     0
393     0
394     0
395     0
396     0
397     1
398     1
399     0
400     0
401     0
402     1
403     0
404     0
405     0
406     0
407     0
408     0
409     0
410     0
411     0
412     0
413     0
414     0
415     1
416     0
417     0
418     0
419     0
420     0
421     0
422     0
423     0
424     0
425     1
426     0
427     1
428     0
429     0
430     1
431     0
432     0
433     1
434     0
435     1
436     0
437     1
438     1
439     1
440     1
441     0
442     0
443     1
444     0
445     0
446     0
447     1
448     0
449     0
450     1
451     0
452     1
453     1
454     0
455     1
456     0
457     0
458     0
459     1
460     0
461     0
462     0
463     1
464     0
465     0
466     0
467     0
468     0
469     0
470     0
471     1
472     1
473     0
474     0
475     1
476     1
477     0
478     1
479     0
480     0
481     0
482     0
483     1
484     0
485     0
486     0
487     1
488     1
489     1
490     1
491     0
492     1
493     0
494     1
495     0
496     0
497     0
498     0
499     0
500     0
501     0
502     0
503     0
504     0
505     1
506     1
507     0
508     1
509     1
510     0
511     0
512     0
513     1
514     0
515     1
516     1
517     0
518     1
519     0
520     0
521     0
522     0
523     0
524     0
525     0
526     0
527     0
528     0
529     0
530     0
531     0
532     0
533     1
534     0
535     1
536     0
537     0
538     0
539     0
540     1
541     0
542     1
543     0
544     1
545     0
546     0
547     0
548     0
549     0
550     0
551     1
552     1
553     0
554     1
555     1
556     0
557     0
558     0
559     0
560     1
561     1
562     0
563     0
564     0
565     0
566     1
567     0
568     0
569     1
570     0
571     1
572     0
573     1
574     0
575     1
576     1
577     0
578     0
579     0
580     0
581     1
582     1
583     1
584     0
585     0
586     1
587     0
588     0
589     0
590     1
591     0
592     0
593     1
594     0
595     0
596     0
597     1
598     1
599     1
600     0
601     0
602     1
603     0
604     1
605     1
606     0
607     0
608     1
609     0
610     0
611     0
612     1
613     1
614     0
615     1
616     0
617     1
618     0
619     0
620     0
621     1
622     0
623     1
624     1
625     1
626     0
627     0
628     0
629     0
630     0
631     1
632     1
633     0
634     0
635     0
636     0
637     1
638     0
639     0
640     1
641     1
642     1
643     0
644     1
645     1
646     0
647     0
648     1
649     0
650     0
651     0
652     0
653     1
654     0
655     0
656     1
657     1
658     0
659     0
660     1
661     0
662     0
663     0
664     1
665     0
666     1
667     1
668     0
669     0
670     1
671     0
672     1
673     1
674     0
675     1
676     0
677     1
678     0
679     1
680     0
681     1
682     0
683     1
684     0
685     1
686     0
687     1
688     1
689     0
690     0
691     0
692     0
693     0
694     0
695     0
696     1
697     1
698     0
699     0
700     0
701     0
702     1
703     0
704     1
705     0
706     0
707     1
708     0
709     0
710     0
711     0
712     0
713     1
714     0
715     1
716     1
717     0
718     0
719     0
720     0
721     0
722     1
723     0
724     0
725     0
726     0
727     0
728     0
729     1
730     0
731     0
732     1
733     0
734     1
735     1
736     1
737     0
738     0
739     0
740     1
741     0
742     0
743     0
744     0
745     0
746     0
747     0
748     1
749     0
750     0
751     0
752     0
753     1
754     0
755     0
756     1
757     1
758     0
759     0
760     0
761     0
762     1
763     0
764     0
765     1
766     0
767     1
768     0
769     0
770     0
771     0
772     0
773     0
774     0
775     0
776     0
777     1
778     1
779     0
780     0
781     1
782     0
783     0
784     1
785     1
786     0
787     1
788     0
789     0
790     0
791     1
792     0
793     0
794     1
795     1
796     1
797     1
798     0
799     0
800     1
801     1
802     0
803     1
804     0
805     0
806     0
807     1
808     0
809     0
810     0
811     1
812     0
813     0
814     0
815     0
816     0
817     0
818     0
819     0
820     0
821     0
822     0
823     0
824     0
825     1
826     1
827     1
828     0
829     0
830     0
831     1
832     0
833     1
834     0
835     1
836     0
837     0
838     1
839     0
840     0
841     1
842     0
843     1
844     0
845     0
846     0
847     0
848     0
849     0
850     0
851     0
852     0
853     0
854     0
855     1
856     1
857     0
858     0
859     0
860     0
861     0
862     0
863     0
864     1
865     0
866     1
867     0
868     0
869     1
870     0
871     0
872     1
873     0
874     0
875     0
876     0
877     1
878     0
879     1
880     1
881     0
882     1
883     0
884     1
885     1
886     0
887     0
888     0
889     0
890     0
891     1
892     0
893     0
894     0
895     1
896     1
897     0
898     0
899     0
900     0
901     0
902     1
903     0
904     1
905     1
906     0
907     1
908     0
909     0
910     1
911     0
912     0
913     0
914     0
915     0
916     0
917     0
918     1
919     0
920     0
921     1
922     1
923     0
924     0
925     1
926     0
927     0
928     1
929     0
930     1
931     0
932     0
933     0
934     1
935     0
936     1
937     0
938     1
939     0
940     0
941     1
942     0
943     0
944     0
945     1
946     0
947     0
948     0
949     1
950     0
951     0
952     0
953     0
954     0
955     0
956     0
957     0
958     1
959     1
960     0
961     0
962     1
963     0
964     0
965     0
966     1
967     1
968     0
969     1
970     0
971     1
972     1
973     1
974     1
975     0
976     1
977     1
978     0
979     0
980     1
981     0
982     1
983     1
984     0
985     0
986     0
987     0
988     0
989     0
990     0
991     1
992     1
993     1
994     0
995     1
996     1
997     0
998     0
999     0
1000    0
1001    1
1002    0
1003    0
1004    0
1005    0
1006    0
1007    0
1008    1
1009    0
1010    1
1011    0
1012    1
1013    1
1014    0
1015    0
1016    0
1017    0
1018    1
1019    1
1020    0
1021    0
1022    0
1023    1
1024    1
1025    0
1026    0
1027    0
1028    0
1029    0
1030    1
1031    0
1032    1
1033    1
1034    1
1035    0
1036    1
1037    0
1038    0
1039    1
1040    1
1041    1
1042    0
1043    0
1044    0
1045    1
1046    0
1047    0
1048    0
1049    1
1050    0
1051    0
1052    1
1053    0
1054    1
1055    0
1056    0
1057    1
1058    1
1059    1
1060    0
1061    0
1062    0
1063    0
1064    0
1065    0
1066    0
1067    0
1068    0
1069    0
1070    1
1071    0
1072    0
1073    1
1074    1
1075    1
1076    0
1077    1
1078    0
1079    1
1080    1
1081    0
1082    0
1083    1
1084    1
1085    0
1086    0
1087    0
1088    0
1089    0
1090    0
1091    1
1092    0
1093    0
1094    1
1095    0
1096    0
1097    0
1098    0
1099    0
1100    0
1101    1
1102    0
1103    1
1104    1
1105    0
1106    1
1107    0
1108    1
1109    0
1110    0
1111    1
1112    0
1113    0
1114    1
1115    0
1116    1
1117    0
1118    0
1119    0
1120    1
1121    0
1122    1
1123    1
1124    1
1125    1
1126    1
1127    0
1128    1
1129    0
1130    0
1131    0
1132    0
1133    0
1134    0
1135    0
1136    0
1137    1
1138    1
1139    0
1140    1
1141    0
1142    0
1143    0
1144    0
1145    0
1146    1
1147    0
1148    0
1149    0
1150    0
1151    1
1152    0
1153    1
1154    0
1155    0
1156    0
1157    0
1158    1
1159    1
1160    0
1161    0
1162    1
1163    0
1164    0
1165    0
1166    0
1167    0
1168    0
1169    1
1170    0
1171    1
1172    0
1173    0
1174    1
1175    1
1176    1
1177    1
1178    1
1179    0
1180    0
1181    0
1182    0
1183    1
1184    0
1185    0
1186    1
1187    0
1188    0
1189    0
1190    0
1191    0
1192    1
1193    0
1194    1
1195    0
1196    1
1197    0
1198    0
1199    1
1200    1
1201    1
1202    0
1203    0
1204    1
1205    1
1206    0
1207    0
1208    0
1209    0
1210    0
1211    0
1212    1
1213    1
1214    1
1215    0
1216    0
1217    0
1218    0
1219    0
1220    1
1221    1
1222    0
1223    1
1224    0
1225    0
1226    1
1227    0
1228    1
1229    0
1230    0
1231    0
1232    1
1233    0
1234    1
1235    1
1236    0
1237    0
1238    0
1239    0
1240    0
1241    1
1242    1
1243    0
1244    1
1245    0
1246    1
1247    0
1248    0
1249    0
1250    1
1251    0
1252    0
1253    0
1254    1
1255    1
1256    1
1257    0
1258    1
1259    1
1260    1
1261    0
1262    0
1263    0
1264    1
1265    0
1266    0
1267    1
1268    1
1269    0
1270    1
1271    0
1272    0
1273    1
1274    0
1275    1
1276    1
1277    0
1278    1
1279    0
1280    0
1281    1
1282    1
1283    0
1284    0
1285    0
1286    1
1287    1
1288    1
1289    0
1290    0
1291    0
1292    1
1293    1
1294    0
1295    0
1296    1
1297    1
1298    0
1299    0
1300    1
1301    0
1302    1
1303    1
1304    0
1305    0
1306    0
1307    1
1308    0
1309    0
1310    0
1311    1
1312    0
1313    1
1314    1
1315    0
1316    0
1317    0
1318    1
1319    0
1320    1
1321    0
1322    0
1323    0
1324    0
1325    0
1326    1
1327    0
1328    1
1329    1
1330    1
1331    0
1332    0
1333    0
1334    0
1335    0
1336    0
1337    0
1338    0
1339    0
1340    0
1341    0
1342    0
1343    0
1344    1
1345    0
1346    1
1347    0
1348    0
1349    1
1350    1
1351    0
1352    0
1353    0
1354    1
1355    1
1356    0
1357    1
1358    0
1359    0
1360    1
1361    0
1362    0
1363    0
1364    0
1365    0
1366    0
1367    0
1368    0
1369    0
1370    0
1371    0
1372    1
1373    0
1374    1
1375    1
1376    0
1377    1
1378    1
1379    0
1380    0
1381    0
1382    1
1383    0
1384    0
1385    0
1386    1
1387    0
1388    1
1389    1
1390    0
1391    0
1392    0
1393    0
1394    1
1395    1
1396    0
1397    0
1398    0
1399    0
1400    1
1401    0
1402    0
1403    0
1404    0
1405    0
1406    0
1407    0
1408    1
1409    1
1410    0
1411    0
1412    0
1413    1
1414    0
1415    0
1416    0
1417    0
1418    1
1419    1
1420    0
1421    0
1422    1
1423    0
1424    0
1425    1
1426    0
1427    0
1428    0
1429    1
1430    0
1431    1
1432    0
1433    0
1434    0
1435    1
1436    0
1437    0
1438    0
1439    0
1440    0
1441    0
1442    0
1443    1
1444    1
1445    1
1446    1
1447    0
1448    1
1449    0
1450    0
1451    1
1452    0
1453    1
1454    0
1455    1
1456    0
1457    1
1458    1
1459    1
1460    0
1461    0
1462    0
1463    0
1464    1
1465    0
1466    0
1467    0
1468    0
1469    1
1470    0
1471    0
1472    0
1473    1
1474    0
1475    1
1476    0
1477    1
1478    0
1479    0
1480    1
1481    0
1482    1
1483    0
1484    0
1485    0
1486    1
1487    0
1488    0
1489    1
1490    0
1491    1
1492    0
1493    0
1494    0
1495    0
1496    0
1497    0
1498    0
1499    1
1500    1
1501    1
1502    1
1503    0
1504    0
1505    0
1506    0
1507    0
1508    1
1509    0
1510    0
1511    1
1512    0
1513    0
1514    0
1515    1
1516    0
1517    1
1518    0
1519    0
1520    0
1521    0
1522    0
1523    0
1524    1
1525    1
1526    0
1527    0
1528    0
1529    1
1530    0
1531    1
1532    0
1533    0
1534    1
1535    1
1536    0
1537    1
1538    1
1539    1
1540    0
1541    0
1542    1
1543    0
1544    0
1545    0
1546    0
1547    0
1548    0
1549    0
1550    1
1551    0
1552    0
1553    0
1554    0
1555    0
1556    1
1557    1
1558    0
1559    0
1560    1
1561    0
1562    1
1563    0
1564    1
1565    0
1566    1
1567    0
1568    0
1569    0
1570    0
1571    0
1572    0
1573    0
1574    1
1575    0
1576    0
1577    0
1578    0
1579    0
1580    1
1581    0
1582    1
1583    0
1584    0
1585    0
1586    1
1587    1
1588    0
1589    0
1590    0
1591    0
1592    0
1593    0
1594    0
1595    0
1596    0
1597    0
1598    0
1599    1
1600    1
1601    0
1602    0
1603    0
1604    1
1605    1
1606    0
1607    0
1608    0
1609    0
1610    0
1611    0
1612    1
1613    0
1614    0
1615    1
1616    1
1617    0
1618    1
1619    0
1620    1
1621    0
1622    0
1623    0
1624    0
1625    0
1626    0
1627    0
1628    0
1629    0
1630    0
1631    0
1632    0
1633    0
1634    0
1635    0
1636    1
1637    1
1638    1
1639    0
1640    0
1641    0
1642    1
1643    0
1644    0
1645    0
1646    0
1647    1
1648    0
1649    1
1650    0
1651    0
1652    0
1653    1
1654    1
1655    0
1656    0
1657    1
1658    0
1659    1
1660    0
1661    0
1662    1
1663    0
1664    1
1665    1
1666    0
1667    0
1668    0
1669    0
1670    1
1671    1
1672    0
1673    1
1674    1
1675    0
1676    1
1677    1
1678    1
1679    0
1680    0
1681    0
1682    0
1683    1
1684    0
1685    0
1686    0
1687    1
1688    0
1689    0
1690    0
1691    0
1692    0
1693    0
1694    0
1695    1
1696    0
1697    0
1698    1
1699    0
1700    0
1701    0
1702    1
1703    1
1704    1
1705    1
1706    0
1707    1
1708    0
1709    0
1710    0
1711    1
1712    0
1713    1
1714    0
1715    0
1716    1
1717    0
1718    0
1719    1
1720    1
1721    0
1722    0
1723    0
1724    1
1725    1
1726    0
1727    0
1728    0
1729    1
1730    1
1731    1
1732    0
1733    0
1734    1
1735    0
1736    0
1737    0
1738    1
1739    1
1740    0
1741    1
1742    0
1743    0
1744    0
1745    1
1746    0
1747    1
1748    1
1749    0
1750    1
1751    0
1752    0
1753    0
1754    1
1755    0
1756    1
1757    1
1758    0
1759    1
1760    1
1761    1
1762    0
1763    0
1764    1
1765    1
1766    1
1767    0
1768    0
1769    0
1770    1
1771    0
1772    0
1773    0
1774    1
1775    1
1776    1
1777    0
1778    1
1779    1
1780    1
1781    0
1782    0
1783    0
1784    1
1785    0
1786    1
1787    0
1788    1
1789    0
1790    1
1791    0
1792    0
1793    1
1794    0
1795    1
1796    1
1797    0
1798    1
1799    0
1800    0
1801    1
1802    0
1803    0
1804    1
1805    1
1806    0
1807    0
1808    0
1809    0
1810    0
1811    1
1812    0
1813    0
1814    1
1815    0
1816    0
1817    0
1818    0
1819    0
1820    0
1821    0
1822    1
1823    0
1824    1
1825    1
1826    1
1827    0
1828    0
1829    0
1830    0
1831    0
1832    0
1833    0
1834    0
1835    0
1836    0
1837    0
1838    0
1839    0
1840    1
1841    1
1842    0
1843    1
1844    0
1845    0
1846    0
1847    1
1848    1
1849    1
1850    1
1851    0
1852    0
1853    1
1854    0
1855    0
1856    0
1857    1
1858    0
1859    0
1860    0
1861    1
1862    0
1863    1
1864    0
1865    0
1866    1
1867    0
1868    1
1869    1
1870    0
1871    0
1872    1
1873    1
1874    1
1875    0
1876    0
1877    0
1878    0
1879    0
1880    0
1881    0
1882    0
1883    1
1884    0
1885    0
1886    0
1887    0
1888    0
1889    0
1890    1
1891    1
1892    1
1893    0
1894    0
1895    0
1896    1
1897    0
1898    1
1899    1
1900    1
1901    0
1902    0
1903    0
1904    0
1905    1
1906    0
1907    0
1908    1
1909    0
1910    0
1911    1
1912    0
1913    1
1914    0
1915    0
1916    1
1917    0
1918    0
1919    1
1920    0
1921    0
1922    1
1923    1
1924    1
1925    0
1926    1
1927    0
1928    1
1929    0
1930    0
1931    0
1932    1
1933    1
1934    0
1935    1
1936    1
1937    0
1938    1
1939    0
1940    0
1941    1
1942    1
1943    1
1944    1
1945    1
1946    0
1947    1
1948    0
1949    1
1950    0
1951    0
1952    1
1953    1
1954    1
1955    0
1956    0
1957    1
1958    0
1959    0
1960    1
1961    1
1962    0
1963    0
1964    0
1965    0
1966    0
1967    0
1968    0
1969    1
1970    1
1971    0
1972    0
1973    1
1974    0
1975    1
1976    0
1977    0
1978    0
1979    1
1980    0
1981    0
1982    0
1983    1
1984    0
1985    1
1986    1
1987    0
1988    0
1989    0
1990    0
1991    1
1992    0
1993    0
1994    0
1995    0
1996    0
1997    1
1998    0
1999    1

#**5.Features**

In [217]:
df['features'].sample(5)

1628                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              ['Feng Shui / Vaastu Compliant', 'Security / Fire Alarm', 'Intercom Facility', 'Lift(s)', 'Maintenance Staff', 'Water Storage', 'Park', 'Visitor Parking']
3487                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              ['Feng Shui / Vaastu Compliant', 'Security / Fire Alarm', 'Intercom Facility', 'Lift(s)', 'Maintenance Staff', 'Water Storage', 'Park', 'Visitor Parking']
1029    ['Centrally Air Conditioned', 'Water purifier', 'Security / Fire Alarm', 'Power Back-up', 'Feng Shui / Vaastu Compliant', 'Private Garden / Terrace', 'Intercom Facility', 'Lift(s)', 'High Ceiling Height', 'Maintenance Staff', 'False Ceiling Lighting', 'Water Storage', 'Separate entry for servant room', 'No open drainage around', 'Bank Attached Property', 'Piped-gas', 'Internet/wi-fi connectivity', 'Recently Renovated', 'Visitor Parking', 'Swimming Pool', 'Park', 'Security Personnel', 'Natural Light', 'Airy Rooms', 'Spacious Interiors', 'Low Density Society', 'Waste Disposal', 'Rain Water Harvesting', 'Water softening plant', 'Shopping Centre', 'Fitness Centre / GYM', 'Club house / Community Center']
3208                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ['Feng Shui / Vaastu Compliant', 'Private Garden / Terrace', 'Maintenance Staff', 'Water Storage', 'Visitor Parking', 'Waste Disposal', 'Rain Water Harvesting']
2637                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ['Feng Shui / Vaastu Compliant', 'Private Garden / Terrace', 'Maintenance Staff', 'Water Storage', 'Park', 'Visitor Parking', 'Waste Disposal', 'Rain Water Harvesting']
Name: features, dtype: object

In [218]:
df['features'].isnull().sum()

np.int64(632)

In [219]:
import pandas as pd
app_df=pd.read_excel('real_estate_data.xlsx')
app_df.head(2)

,PropertyName,PropertySubName,NearbyLocations,LocationAdvantages,Link,PriceDetails,TopFacilities
0,Smartworld One DXP,"2, 3, 4 BHK Apartment in Sector 113, Gurgaon","['Bajghera Road', 'Palam Vihar Halt', 'DPSG Palam Vihar', 'Park Hospital', 'Gurgaon Railway Station']","{'Bajghera Road': '800 Meter', 'Palam Vihar Halt': '2.5 KM', 'DPSG Palam Vihar': '3.1 KM', 'Park Hospital': '3.1 KM', 'Gurgaon Railway Station': '4.9 KM', 'The NorthCap University': '5.4 KM', 'Dwarka Expy': '1.2 KM', 'Hyatt Place Gurgaon Udyog Vihar': '7.7 KM', 'Dwarka Sector 21, Metro Station': '7.2 KM', 'Pacific D21 Mall': '7.4 KM', 'Indira Gandhi International Airport': '14.7 KM', 'Hamoni Golf Camp': '6.2 KM', 'Fun N Food Waterpark': '8.8 KM', 'Accenture DDC5': '9 KM'}",https://www.99acres.com/smartworld-one-dxp-sector-113-gurgaon-npxid-r400415,"{'2 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,370 sq.ft.', 'price-range': ' 2 - 2.4 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,850 - 2,050 sq.ft.', 'price-range': ' 2.25 - 3.59 Cr'}, '4 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '2,600 sq.ft.', 'price-range': ' 3.24 - 4.56 Cr'}}","['Swimming Pool', 'Salon', 'Restaurant', 'Spa', 'Cafeteria', 'Sun Deck', '24x7 Security', 'Club House', 'Gated Community']"
1,M3M Crown,"3, 4 BHK Apartment in Sector 111, Gurgaon","['DPSG Palam Vihar Gurugram', 'The NorthCap University', 'Park Hospital, Palam Vihar', 'Pacific D21 Mall', 'Palam Vihar Halt Railway Station']","{'DPSG Palam Vihar Gurugram': '1.4 Km', 'The NorthCap University': '4.4 Km', 'Park Hospital, Palam Vihar': '1.4 Km', 'Pacific D21 Mall': '8.2 Km', 'Palam Vihar Halt Railway Station': '1.2 Km', 'Dwarka Sector 21 Metro Station': '8.1 Km', 'Dwarka Expressway': '450 m', 'Fun N Food Water Park': '8.1 Km', 'Indira Gandhi International Airport': '14.1 Km', 'Tau DeviLal Sports Complex': '11.2 Km', 'Hamoni Golf Camp': '5 Km', 'Hyatt Place': '6.1 Km', 'Altrade Business Centre': '11.2 Km'}",https://www.99acres.com/m3m-crown-sector-111-gurgaon-npxid-r404068,"{'3 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '1,605 - 2,170 sq.ft.', 'price-range': ' 2.2 - 3.03 Cr'}, '4 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '2,248 - 2,670 sq.ft.', 'price-range': ' 3.08 - 3.73 Cr'}}","['Bowling Alley', 'Mini Theatre', 'Manicured Garden', 'Swimming Pool', 'Flower Garden', 'Reading Lounge', 'Golf Course', 'Barbecue', 'Sauna']"

In [220]:
app_df['PropertyName']=app_df['PropertyName'].str.lower()

In [221]:
temp_df=df[df['features'].isnull()]

In [222]:
temp_df.shape

(632, 26)

In [223]:
x=temp_df.merge(app_df,left_on='society',right_on='PropertyName',how='left')['TopFacilities']

In [224]:
temp_df.index

Index([   7,   16,   17,   20,   31,   41,   42,   53,   54,   56,
       ...
       3726, 3740, 3741, 3742, 3749, 3751, 3760, 3765, 3767, 3770],
      dtype='int64', length=632)

In [225]:
df.loc[temp_df.index,'features']=x.values

In [226]:
df['features'].isnull().sum()

np.int64(478)

In [227]:
from sklearn.preprocessing import MultiLabelBinarizer
import ast

In [228]:
#Convert the string representation of lists in the feature column to actual lists
df['features_list']=df['features'].apply(lambda x:ast.literal_eval(x) if pd.notnull(x) and x.startswith('[') else [])

#use multilabelBinarizer to convert the features list into a binary matrix
mlb=MultiLabelBinarizer()
features_binary_matrix=mlb.fit_transform(df['features_list'])

#create a new dataframe with the binary matrix
features_binary_df=pd.DataFrame(features_binary_matrix,columns=mlb.classes_)

In [229]:
features_binary_df.head()

,24/7 Power Backup,24/7 Water Supply,24x7 Security,ATM,Aerobics Centre,Air Hockey,Airy Rooms,Amphitheatre,Automated Car Wash,Badminton Court,Bank Attached Property,Banquet Hall,Bar/Chill-Out Lounge,Barbecue,Basketball Court,Beach Volley Ball Court,Billiards,Bowling Alley,Bus Shelter,Business Lounge,CCTV Camera Security,Cafeteria,Car Parking,Car wash area,Card Room,Centrally Air Conditioned,Changing Area,Children's Play Area,Cigar Lounge,Clinic,Club House,Club house / Community Center,Community Hall,Concierge Service,Conference room,Creche/Day care,Cricket Pitch,Doctor on Call,Earthquake Resistant,Entrance Lobby,False Ceiling Lighting,Feng Shui / Vaastu Compliant,Fire Fighting Systems,Fitness Centre / GYM,Flower Garden,Food Court,Foosball,Football,Fountain,Gated Community,Gazebo,Golf Course,Grocery Shop,Gymnasium,High Ceiling Height,High Speed Elevators,Infinity Pool,Intercom Facility,Internal Street Lights,Internet/wi-fi connectivity,Jacuzzi,Jogging Track,Landscape Garden,Laundry,Lawn Tennis Court,Library,Lift(s),Lounge,Low Density Society,Maintenance Staff,Manicured Garden,Medical Centre,Milk Booth,Mini Theatre,Multipurpose Court,Multipurpose Hall,Natural Light,Natural Pond,No open drainage around,Park,Party Lawn,Pergola,Piped Gas,Piped-gas,Pool Table,Power Back up Lift,Power Back-up,Private Garden / Terrace,Property Staff,RO System,Rain Water Harvesting,Reading Lounge,Recently Renovated,Reflexology Park,Restaurant,Salon,Sauna,School,Security / Fire Alarm,Security Personnel,Separate entry for servant room,Sewage Treatment Plant,Shopping Centre,Skating Rink,Solar Lighting,Solar Water Heating,Spa,Spacious Interiors,Squash Court,Steam Room,Sun Deck,Swimming Pool,Temple,Terrace Garden,Theatre,Toddler Pool,Valet Parking,Vastu Compliant,Video Door Security,Visitor Parking,Visitors Parking,Volley Ball Court,Waiting Lounge,Waste Disposal,Water Softener Plant,Water Storage,Water purifier,Water softening plant,Wi-Fi Connectivity,Yoga/Meditation Area
0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,1,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0

In [230]:
features_binary_df.shape

(3771, 130)

In [231]:
#calculating luxury_score
weights = {
    '24/7 Power Backup': 8,
    '24/7 Water Supply': 4,
    '24x7 Security': 7,
    'ATM': 4,
    'Aerobics Centre': 6,
    'Airy Rooms': 8,
    'Amphitheatre': 7,
    'Badminton Court': 7,
    'Banquet Hall': 8,
    'Bar/Chill-Out Lounge': 9,
    'Barbecue': 7,
    'Basketball Court': 7,
    'Billiards': 7,
    'Bowling Alley': 8,
    'Business Lounge': 9,
    'CCTV Camera Security': 8,
    'Cafeteria': 6,
    'Car Parking': 6,
    'Card Room': 6,
    'Centrally Air Conditioned': 9,
    'Changing Area': 6,
     "Children's Play Area": 7,
    'Cigar Lounge': 9,
    'Clinic': 5,
    'Club House': 9,
    'Concierge Service': 9,
    'Conference room': 8,
    'Creche/Day care': 7,
    'Cricket Pitch': 7,
    'Doctor on Call': 6,
    'Earthquake Resistant': 5,
    'Entrance Lobby': 7,
    'False Ceiling Lighting': 6,
    'Feng Shui / Vaastu Compliant': 5,
    'Fire Fighting Systems': 8,
    'Fitness Centre / GYM': 8,
    'Flower Garden': 7,
    'Food Court': 6,
    'Foosball': 5,
    'Football': 7,
    'Fountain': 7,
    'Gated Community': 7,
    'Golf Course': 10,
    'Grocery Shop': 6,
    'Gymnasium': 8,
    'High Ceiling Height': 8,
    'High Speed Elevators': 8,
    'Infinity Pool': 9,
    'Intercom Facility': 7,
    'Internal Street Lights': 6,
    'Internet/wi-fi connectivity': 7,
    'Jacuzzi': 9,
    'Jogging Track': 7,
    'Landscape Garden': 8,
    'Laundry': 6,
    'Lawn Tennis Court': 8,
    'Library': 8,
    'Lounge': 8,
    'Low Density Society': 7,
    'Maintenance Staff': 6,
    'Manicured Garden': 7,
    'Medical Centre': 5,
    'Milk Booth': 4,
    'Mini Theatre': 9,
    'Multipurpose Court': 7,
    'Multipurpose Hall': 7,
    'Natural Light': 8,
    'Natural Pond': 7,
    'Park': 8,
    'Party Lawn': 8,
    'Piped Gas': 7,
    'Pool Table': 7,
    'Power Back up Lift': 8,
    'Private Garden / Terrace': 9,
    'Property Staff': 7,
     'RO System': 7,
    'Rain Water Harvesting': 7,
    'Reading Lounge': 8,
    'Restaurant': 8,
    'Salon': 8,
    'Sauna': 9,
    'Security / Fire Alarm': 9,
    'Security Personnel': 9,
    'Separate entry for servant room': 8,
    'Sewage Treatment Plant': 6,
    'Shopping Centre': 7,
    'Skating Rink': 7,
    'Solar Lighting': 6,
    'Solar Water Heating': 7,
    'Spa': 9,
    'Spacious Interiors': 9,
    'Squash Court': 8,
    'Steam Room': 9,
    'Sun Deck': 8,
    'Swimming Pool': 8,
    'Temple': 5,
    'Theatre': 9,
    'Toddler Pool': 7,
    'Valet Parking': 9,
    'Video Door Security': 9,
    'Visitor Parking': 7,
    'Water Softener Plant': 7,
     'Water Storage': 7,
    'Water purifier': 7,
    'Yoga/Meditation Area': 7
}

In [232]:
features_binary_df.head()

,24/7 Power Backup,24/7 Water Supply,24x7 Security,ATM,Aerobics Centre,Air Hockey,Airy Rooms,Amphitheatre,Automated Car Wash,Badminton Court,Bank Attached Property,Banquet Hall,Bar/Chill-Out Lounge,Barbecue,Basketball Court,Beach Volley Ball Court,Billiards,Bowling Alley,Bus Shelter,Business Lounge,CCTV Camera Security,Cafeteria,Car Parking,Car wash area,Card Room,Centrally Air Conditioned,Changing Area,Children's Play Area,Cigar Lounge,Clinic,Club House,Club house / Community Center,Community Hall,Concierge Service,Conference room,Creche/Day care,Cricket Pitch,Doctor on Call,Earthquake Resistant,Entrance Lobby,False Ceiling Lighting,Feng Shui / Vaastu Compliant,Fire Fighting Systems,Fitness Centre / GYM,Flower Garden,Food Court,Foosball,Football,Fountain,Gated Community,Gazebo,Golf Course,Grocery Shop,Gymnasium,High Ceiling Height,High Speed Elevators,Infinity Pool,Intercom Facility,Internal Street Lights,Internet/wi-fi connectivity,Jacuzzi,Jogging Track,Landscape Garden,Laundry,Lawn Tennis Court,Library,Lift(s),Lounge,Low Density Society,Maintenance Staff,Manicured Garden,Medical Centre,Milk Booth,Mini Theatre,Multipurpose Court,Multipurpose Hall,Natural Light,Natural Pond,No open drainage around,Park,Party Lawn,Pergola,Piped Gas,Piped-gas,Pool Table,Power Back up Lift,Power Back-up,Private Garden / Terrace,Property Staff,RO System,Rain Water Harvesting,Reading Lounge,Recently Renovated,Reflexology Park,Restaurant,Salon,Sauna,School,Security / Fire Alarm,Security Personnel,Separate entry for servant room,Sewage Treatment Plant,Shopping Centre,Skating Rink,Solar Lighting,Solar Water Heating,Spa,Spacious Interiors,Squash Court,Steam Room,Sun Deck,Swimming Pool,Temple,Terrace Garden,Theatre,Toddler Pool,Valet Parking,Vastu Compliant,Video Door Security,Visitor Parking,Visitors Parking,Volley Ball Court,Waiting Lounge,Waste Disposal,Water Softener Plant,Water Storage,Water purifier,Water softening plant,Wi-Fi Connectivity,Yoga/Meditation Area
0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,1,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0

In [233]:
luxury_score=features_binary_df[list(weights.keys())].multiply(list(weights.values())).sum(axis=1)

In [234]:
df['luxury_score']=luxury_score

In [235]:
df.head()

,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features,super_built_up_area,built_up_area,carpet_area,study room,servant room,store room,pooja room,others,furnishing_type,features_list,luxury_score
0,house,NaN,sector 41,7.25,29293.0,2475.0,Plot area 275(229.94 sq.m.),9.0,8.0,3,servant room,4.0,South-West,Old Property,"['Huda city centre metro station', 'Axis bank ATM', 'Hdfc ATM', 'Axis bank ATM', 'Citi bank ATM', 'Icici ATM', 'Punjab national bank ATM', 'Hdfc bank ATM', 'Standard chartered ATM', 'Centre For Sight Gurgaon Sector 29', 'Dr. Naval Mendiratta', 'Fortis Memorial Research Institute Fortis Vivekanand Hospital', 'Dr. Kutbuddin Akbary', 'Max Hospital', 'Shivam Hospital Gurgaon', 'Gardian Pharmacy', 'City Medical', 'Bharat petroleum', 'Hdfc bank', 'Icici bank', 'Beer & Whisky Bar', 'MoB Ministory of Beer', ""McDonald's"", 'Park Baluchi', ""Domino's Pizza"", 'Zura', 'The Oriental Bloom Chinese and Thai', 'Gola Sizzles', ""Hops 'N' Brew"", 'Pizza Hut', 'Spaghetti Kitchen & Bar', 'Bikanervala', 'Tocpao', 'PWO house', 'Black Mambaa', 'Gravity Space Bar', 'Roots', 'KFC', 'Ardor 29', 'ADDA', 'Gung the palace Korean restaurant', 'Walking Street', 'distillery', 'Swagath', 'Dhabba', 'Pizza Hut', 'Balaji Vegetarian Paradise', 'School of Inspired Leadership SOIL', 'Ncr library']","['5 Fan', '1 Exhaust Fan', '8 Geyser', '12 Light', '4 AC', '2 TV', '1 Modular Kitchen', '1 Curtains', '2 Bed', '2 Wardrobe', '1 Washing Machine', 'No Chimney', 'No Dining Table', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No Water Purifier']","['Security / Fire Alarm', 'Private Garden / Terrace', 'Water purifier', 'Maintenance Staff', 'Water Storage', 'No open drainage around', 'Visitor Parking', 'Park', 'Security Personnel', 'Natural Light', 'Internet/wi-fi connectivity', 'Airy Rooms', 'Spacious Interiors', 'Waste Disposal', 'Club house / Community Center']",NaN,2475.00,NaN,0,1,0,0,0,0,"[Security / Fire Alarm, Private Garden / Terrace, Water purifier, Maintenance Staff, Water Storage, No open drainage around, Visitor Parking, Park, Security Personnel, Natural Light, Internet/wi-fi connectivity, Airy Rooms, Spacious Interiors, Waste Disposal, Club house / Community Center]",94
1,flat,vipul lavanya,sector 81,1.28,7174.0,1784.0,Carpet area: 1784 (165.74 sq.m.),3.0,3.0,3,"pooja room,servant room",1.0,North-East,Moderately Old,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. Sarkar Clinic', 'Orris Community Center', 'HP Petrol Pump', 'Vijay Petrol Pump', 'Petrol Pump', 'Essar Petrol Pump', 'Petrol pump Maitri motors', 'Petrol Pump Indian Oil', 'Indian Oil', ""McDonald's"", 'KFC', 'Pizza Hut', 'Rao Dhaba', ""McDonald's""]","['1 Bed', '3 Wardrobe', '7 Fan', '1 Exhaust Fan', '2 Geyser', '12 Light', '1 Modular Kitchen', '1 Chimney', '1 Curtains', 'No AC', 'No Dining Table', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Washing Machine', 'No Water Purifier']","['Feng Shui / Vaastu Compliant', 'Security / Fire Alarm', 'Intercom Facility', 'Lift(s)', 'Maintenance Staff', 'Water Storage', 'Park', 'Visitor Parking']",NaN,NaN,1784.00,0,1,0,1,0,0,"[Feng Shui / Vaastu Compliant, Security / Fire Alarm, Intercom Facility, Lift(s), Maintenance Staff, Water Storage, Park, Visitor Parking]",49
2,flat,m3m woodshire,sector 107,1.40,5929.0,2361.0,Super Built up area 2361(219.34 sq.m.),3.0,4.0,N,not available,1.0,East,New Property,NaN,"['1 Light', 'No AC', 'No Bed', 'No Chimney', 'No Curtains', 'No Dining Table', 'No Exhaust Fan', 'No Fan', 'No Geyser', 'No Modular Kitchen', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Wardrobe', 'No Washing Machine', 'No Water Purifier']","['Power Back-up', 'Intercom Facility', 'Lift(s)', 'Swimming Pool', 'Maintenance Staff', 'Park', 'Security Personnel', 'Internet/wi-fi connectivity', 'Shopping Centre', 'Fitness Centre / GYM', 'Club house / Community Center', 'Rain Water Harvesting']",2361.0,NaN,NaN,0,0,0,0,0,0,"[Power Back-up, Intercom Facility, Lift(s), Swimming Pool, Maintenance Staff, Park, Security Personnel, Internet/wi-fi connectivity, Shopping Centre, Fitness Centre / GYM, Club house / Community Center, Rain Water Harvesting]",67
3,flat,ild greens,sector 37c,0.78,5714.0,1365.0,Super Built up area 1365(126.81 sq.m.)Built Up area: 1068.1 sq.ft. (99.23 sq.m.)Carpet area: 900 sq.ft. (83.61 sq.m.),2.0,2.0,3,not available,1.0,North,Moderately Old,"['The Esplanade Mall', 'Gurgaon Road', 'Delhi Jaipur Expressway', 'Green Field Public School', 'Sunrise University', 'K.D. Hospital', 'Indira Gandhi International Airport', 'Gurgaon Railway Station', 'infinity Business Park']","['2 Wardrobe', '3 Fan', '1 Exhaust Fan', '1 Geyser', '10 Light', '1 Modular Kitchen', '1 Chimney', 'No AC', 'No Bed', 'No Curtains', 'No Dining Table', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Washing Machine', 'No Water Purifier']","['Security / Fire Alarm', 'Power Back-up', 'Feng Shui / Vaastu Compliant', 'Intercom Facility', 'Lift(s)', 'Maintenance Staff', 'False Ceiling Lighting', 'Water Storage', 'Visitor Parking', 'Swimming Pool', 'Park', 'Natural Light', 'Airy Rooms', 'Spacious Interiors', 'Fitness Centre / GYM', 'Rain Water Harvesting', 'Club house / Community Center', 'Water softening plant']",1365.0,1068.10,900.00,0,0,0,0,0,0,"[Security / Fire Alarm, Power Back-up, Feng Shui / Vaastu Compliant, Intercom Facility, Lift(s), Maintenance Staff, False Ceiling Lighting, Water Storage, Visitor Parking, Swimming Pool, Park, Natural Light, Airy Rooms, Spacious Interiors, Fitness Centre / GYM, Rain Water Harvesting, Club house / Community Center, Water softening plant]",103
4,flat,ashiana mulberry,sohna road,1.05,5412.0,1940.0,Super Built up area 1940(180.23 sq.m.)Built Up area: 1175.97 sq.ft. (109.25 sq.m.)Carpet area: 834.96 sq.ft. (77.57 sq.m.),2.0,2.0,3,study room,1.0,North,New Property,"['Discount Department Store', 'Badshahpur Sohna Rd Hwy, Sohna Rural', 'GD Goenka University, Gurugram', 'Sohna Public School Pathane Ware', 'Vardaan Hospital & Trauma Centre', 'Indira Gandhi Intl Airport']",[],"['Feng Shui / Vaastu Compliant', 'Security / Fire Alarm', 'Intercom Facility', 'Lift(s)', 'Maintenance Staff', 'Water Storage', 'Park', 'Visitor Parking']",1940.0,1175.97,834.96,1,0,0,0,0,1,"[Feng Shui / Vaastu Compliant, Security / Fire Alarm, Intercom Facility, Lift(s), Maintenance Staff, Water Storage, Park, Visitor Parking]",49

In [236]:
df.drop(columns=['nearbyLocations','furnishDetails','features','features_list','additionalRoom'],inplace=True)

In [237]:
df.columns

Index(['property_type', 'society', 'sector', 'price', 'price_per_sqft', 'area',
       'areaWithType', 'bedRoom', 'bathroom', 'balcony', 'floorNum', 'facing',
       'agePossession', 'super_built_up_area', 'built_up_area', 'carpet_area',
       'study room', 'servant room', 'store room', 'pooja room', 'others',
       'furnishing_type', 'luxury_score'],
      dtype='object')

In [238]:
df.sample(1)

,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,floorNum,facing,agePossession,super_built_up_area,built_up_area,carpet_area,study room,servant room,store room,pooja room,others,furnishing_type,luxury_score
2239,house,NaN,sector 37d,2.5,13157.0,1900.0,Plot area 1900(176.52 sq.m.),5.0,5.0,3+,2.0,NaN,Relatively New,NaN,1900.0,NaN,0,0,0,0,0,1,0

In [239]:
df.shape

(3771, 23)

In [240]:
df.to_csv('gurgaon_properties_v3.csv',index=False)